Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Frontend handle this
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Actually use a modal
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Fix test
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

Make scheduled trigger update
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Queue updates to handle workflow triggering
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Dont trigger notification for regular save "echoes"
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Make sure to use same date formatting in backend
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Actually these are not Dates
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
Due: frontend-node-24.x, frontend

Use in-memory channel layers in tests
  src/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

mypy stuff
  src/documents/plugins/helpers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_workflows.py
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

sonar
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/websocket-status.service.ts
Due: frontend-node-24.x, frontend

Update .mypy-baseline.txt
  .mypy-baseline.txt
Due: none

Let LLM fix mypy stuff
  src/documents/plugins/helpers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Some random frontend coverage
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/services/websocket-status.service.spec.ts
Due: frontend-node-24.x, frontend

Update test_websockets.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Modified is always going to be set
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/websocket-document-updated-message.ts
  src/documents/plugins/helpers.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix rebased pdf source spec expectation
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

diff cleanup
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Documentation: note GHSAs in changelog
  docs/changelog.md
Due: none

Fix: improve test portability
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Make settings always consistent
  src/documents/tests/test_api_uisettings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Make a few more tests deterministic wrt settings
  src/documents/tests/test_barcodes.py
  src/paperless/tests/test_adapter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Dont pollute settings for this one
  src/paperless/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix timezone issue with mail parser
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Finish off the testing coverage
  src/paperless/tests/settings/__init__.py
  src/paperless/tests/settings/test_custom_parsers.py
  src/paperless/tests/settings/test_environment_parsers.py
  src/paperless/tests/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates s6-overlay to 3.2.2.0
  Dockerfile
Due: none

Update test_parser.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Uh, I guess OCR gives variants for this
  src/paperless_tesseract/tests/test_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes the outdated sqlite database copy
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Make the migration guide better in the docs
  docs/administration.md
  docs/migration-v3.md
  zensical.toml
Due: none

Switches the 2 indexing methods to also use Rich now
  src/documents/management/commands/document_index.py
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Missed this old call here
  src/documents/management/commands/document_index.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

We need to super this
  src/documents/management/commands/document_index.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Still some old stuff around
  src/documents/management/commands/document_index.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Breaking: Refactor advanced database settings to allow more user configuration (#12165)
  .editorconfig
  docs/administration.md
  docs/configuration.md
  docs/migration-v3.md
  docs/setup.md
  src/paperless/checks.py
  src/paperless/settings/__init__.py
  src/paperless/settings/custom.py
  src/paperless/settings/parsers.py
  src/paperless/tests/settings/__init__.py
  src/paperless/tests/settings/test_custom_parsers.py
  src/paperless/tests/settings/test_environment_parsers.py
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_settings.py
  zensical.toml
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Working to improve the retagger output
  src/documents/management/commands/base.py
  src/documents/management/commands/document_retagger.py
  src/documents/signals/handlers.py
  src/documents/tests/factories.py
  src/documents/tests/test_management_retagger.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Handles the linter updates now
  src/documents/management/commands/document_retagger.py
  src/documents/tests/test_management_retagger.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Actually, a good catch
  src/documents/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
