Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

test(mail): use pytest tmp_path for MessageEncryptor GPG homes
  src/paperless_mail/tests/test_preprocessor.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): add mail_api_user, mail_api_client, bogus_mailbox fixtures
  src/paperless_mail/tests/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): convert test_api.py to pytest style
  src/paperless_mail/tests/test_api.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): lift composite test API endpoints to module constants
  src/paperless_mail/tests/test_api.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Convert more testing to pytest style (#12678)
  src/documents/tests/factories.py
  src/documents/tests/test_admin.py
  src/documents/tests/test_checks.py
  src/documents/tests/test_matchables.py
  src/documents/tests/test_models.py
  src/documents/tests/test_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): convert test_preprocessor.py to pytest style
  src/paperless_mail/tests/test_preprocessor.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): convert test_mail_oauth.py to pytest style
  src/paperless_mail/tests/test_mail_oauth.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Simplifications and improvements
  src/paperless_mail/tests/conftest.py
  src/paperless_mail/tests/test_mail_oauth.py
  src/paperless_mail/tests/test_preprocessor.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): add mail_user and oauth_settings pytest fixtures
  src/paperless_mail/tests/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(mail): add mail_mocker fixture wrapping MailMocker helper
  src/paperless_mail/tests/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Some little fixes around factories
  src/documents/tests/conftest.py
  src/documents/tests/test_admin.py
  src/documents/tests/test_matchables.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: token-based matching in dropdown search fields
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/pipes/filter.pipe.spec.ts
  src-ui/src/app/pipes/filter.pipe.ts
  src-ui/src/app/utils/text-match.spec.ts
  src-ui/src/app/utils/text-match.ts
Due: frontend-node-24.x, frontend

Introduces a pip-audit job
  .github/workflows/ci-static-analysis.yml
Due: none

probably connects it to the Github UI
  .github/workflows/ci-static-analysis.yml
Due: none

Ok, doesn't do sarif, and strip the Git dependency
  .github/workflows/ci-static-analysis.yml
Due: none

strips git and normalizes torch, which also needs no hashes output
  .github/workflows/ci-static-analysis.yml
Due: none

Upgrades the pygments package, which I guess has a vulnerability
  uv.lock
Due: none

Linting
  pyproject.toml
Due: none

In fact, lets let the error propgate upwards for a 400 instead
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Trigger the celery task outside the atomic, if needed, so the DB is updated, in case the worker is racing to read it
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

The pre_run handler is in the same process, not the worker, so a close_old isn't needed here
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: avoid unnecessary close_old_connections in Celery task dispatch (#12701)
  src/documents/bulk_edit.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Always require a set, non-empty, not whitespace secret key, even in DEBUG
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Always require a set, non-empty, not whitespace secret key, even in DEBUG (#12680)
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: return empty list for non-positive search limit
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (dev): return empty list for non-positive search limit (#12703)
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix(dev): respect base path for pdf worker js
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Due: frontend-node-24.x, frontend

Fix (dev): respect base path for pdf worker js (#12704)
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Tweak: use fixed position instead of display none
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Tweakhancement: use fixed position instead of display none (#12706)
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Add icons
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
Due: frontend-node-24.x, frontend

Bump Playwright ci container to v1.59.1
  .github/workflows/ci-frontend.yml
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Tweak: add icons to ai suggestion dropdown (#12708)
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
Due: frontend-node-24.x, frontend

Use a helper for query_str + search_mode
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
