Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

New Crowdin translations by GitHub Action
  src/locale/he_IL/LC_MESSAGES/django.po
Due: backend

Chore: remove invalid branches-ignores
  .github/workflows/ci.yml
Due: none

Bump version to 2.16.2
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Revert "Chore: remove invalid branches-ignores"
  .github/workflows/ci.yml
Due: none

Basic start
  src/documents/ai/__init__.py
  src/documents/ai/client.py
  src/documents/ai/llm_classifier.py
  src/documents/ai/matching.py
  src/documents/caching.py
  src/documents/views.py
  src/paperless/settings.py
Due: backend

wow llama3 is bad
  src/documents/ai/llm_classifier.py
Due: backend

Changeup logging
  src/documents/ai/client.py
  src/documents/ai/llm_classifier.py
Due: backend

Some logging, error handling
  src/documents/ai/client.py
  src/documents/ai/llm_classifier.py
Due: backend

Just start the frontend
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document-suggestions.ts
Due: frontend

Title suggestion ui
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/components/common/input/text/text.component.spec.ts
  src-ui/src/app/components/common/input/text/text.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Rename config
  src/documents/views.py
  src/paperless/settings.py
Due: backend

Refine the suggestions dropdown ui a bit
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
Due: frontend

Messing with a suggest button
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
Due: frontend

Suggestions dropdown
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.scss
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document-suggestions.ts
  src/documents/ai/matching.py
  src/documents/views.py
Due: backend, frontend

Hook up the add buttons
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Refactor
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
Due: backend

Move module
  src/paperless/ai/__init__.py
  src/paperless/ai/client.py
  src/paperless/ai/llm_classifier.py
  src/paperless/ai/matching.py
Due: backend

Correct object retrieval
  src/paperless/ai/matching.py
Due: backend

Backend tests
  src/paperless/ai/matching.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
  src/paperless/tests/test_ai_matching.py
Due: backend

Fix
  src/documents/views.py
  src/paperless/ai/matching.py
  src/paperless/tests/test_ai_matching.py
Due: backend

Invalidate llm suggestion cache on doc save
  src/documents/caching.py
  src/documents/signals/handlers.py
Due: backend

Test views, caching
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend

Basic handling of non-AI response
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
Due: frontend

Automatically remove suggestions after add
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Cleaner auto-remove
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Use a frontend config
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
Due: backend, frontend

Use password and select config fields
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/data/paperless-config.ts
  src/paperless/serialisers.py
Due: backend, frontend

Pass AI enabled to frontend
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
Due: backend, frontend

llamaindex vector index, llmindex mangement command
  docker/install_management_commands.sh
  docker/rootfs/usr/local/bin/document_llmindex
  pyproject.toml
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/embedding.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  uv.lock
Due: backend

RAG into suggestions
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/rag.py
Due: backend

Docs
  docs/configuration.md
  docs/index.md
  docs/usage.md
Due: none

Fix ollama, fix RAG
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
Due: backend

Tweak ollama timeout, prompt
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
Due: backend

Add backend settings to frontend config
  src-ui/src/app/data/paperless-config.ts
Due: frontend

Individual doc chat
  src/documents/views.py
  src/paperless/ai/chat.py
Due: backend

Better encapsulate backends, use llama_index OpenAI
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
  src/paperless/ai/llms.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
