Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Enhancement: support ollama embeddings (#12753)
  docs/configuration.md
  pyproject.toml
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/paperless/config.py
  src/paperless/migrations/0010_alter_applicationconfiguration_llm_embedding_backend.py
  src/paperless/models.py
  src/paperless/serialisers.py
  src/paperless/settings/__init__.py
  src/paperless_ai/embedding.py
  src/paperless_ai/tests/test_embedding.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Direct hugging face to cache into a persistent, writeable location
  src/paperless_ai/embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates test
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Use a persistent, writeable location for hugging face models (#12771)
  src/paperless_ai/embedding.py
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Upgrades banks and twisted
  uv.lock
Due: none

Chore: Further dependency minor security updates (#12780)
  uv.lock
Due: none

Updates the parser protocol to require an empty string, rather than None, as the db model doesn't allow NULL
  src/paperless/parsers/__init__.py
  src/paperless/parsers/mail.py
  src/paperless/parsers/remote.py
  src/paperless/parsers/tesseract.py
  src/paperless/parsers/text.py
  src/paperless/parsers/tika.py
  src/paperless/tests/parsers/test_remote_parser.py
  src/paperless/tests/parsers/test_text_parser.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test
  src/documents/tests/test_tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: normalize parsed text when None
  src/documents/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ok, that was fun to track down
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Revert "Fix: normalize parsed text when None"
  src/documents/tasks.py
  src/documents/tests/test_tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Update parser contract to require empty strings, not None (#12775)
  src/documents/tests/test_consumer.py
  src/paperless/parsers/__init__.py
  src/paperless/parsers/mail.py
  src/paperless/parsers/remote.py
  src/paperless/parsers/tesseract.py
  src/paperless/parsers/text.py
  src/paperless/parsers/tika.py
  src/paperless/tests/parsers/test_remote_parser.py
  src/paperless/tests/parsers/test_text_parser.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Converts all these tests to fully use fixtures, factories and compsition + dropping DB setup where possible
  src/paperless_ai/embedding.py
  src/paperless_ai/tests/conftest.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_chat.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_embedding.py
  src/paperless_ai/tests/test_matching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates everything to reference and use towncrier over release drafter
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/changelog.d/.gitkeep
  docs/changelog.d/README.md
  docs/changelog.md
  pyproject.toml
  uv.lock
Due: none

Fix: improve new tasks ui layout across screen sizes
  src-ui/src/app/components/admin/tasks/tasks.component.html
Due: frontend-node-24.x, frontend

Fix: improve new tasks ui layout across screen sizes (#12784)
  src-ui/src/app/components/admin/tasks/tasks.component.html
Due: frontend-node-24.x, frontend

Fix: two more css tweaks to tasks page
  src-ui/src/app/components/admin/tasks/tasks.component.html
Due: frontend-node-24.x, frontend

Experiementation with s6 features
  Dockerfile
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-consumer/finish
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/finish
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-scheduler/finish
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/finish
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/notification-fd
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/finish
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/notification-fd
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/run
Due: none

docs: add AI taxonomy candidate injection design spec
  docs/superpowers/specs/2026-05-11-ai-taxonomy-candidates-design.md
Due: none

Fixes the text= search path to also remove + or - from the text
  docs/superpowers/specs/2026-05-11-ai-taxonomy-candidates-design.md
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Sanitize dash or plus from the text search path (#12789)
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't embed the metadata which is already embedded into the context
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Don't embed the metadata which is already embedded into the context (#12795)
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Derive and allow setting the allauth related rate limiting configurations
  docs/configuration.md
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Silence a couple more vulnerabilities here
  uv.lock
Due: none

Adds new entry for the new settings allauth needs, probably
  docs/migration-v3.md
Due: none

docs: add authentik OIDC example to SOCIALACCOUNT_PROVIDERS
  docs/configuration.md
Due: none

Fix: Allow setting allauth rate limit configuration settings (#12798)
  docs/configuration.md
  docs/migration-v3.md
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: allow passing source file paths to password removal
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix test
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Defers the password removal workflow item until the transaction commits and the document is stored
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor DB startup wait to readiness polling in installer
  install-paperless-ngx.sh
Due: none

Fix: Defer password removal workflow action until the file is in place (#12814)
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates imap-tools
  pyproject.toml
  uv.lock
Due: none

Fix: use correct html button type for custom field buttons
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
Due: frontend-node-24.x, frontend

Fix (beta): use correct html button type for custom field buttons (#12819)
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
Due: frontend-node-24.x, frontend

Add PAPERLESS_WEBSERVER_LIFETIME to periodically recycle webserver workers
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  docs/configuration.md
  scripts/paperless-webserver.service
Due: none

Upgrades this dep so it handles newer models, like gpt-5-5 which require a locked 1.0 temperature value
  uv.lock
Due: none

Upgrades this dep so it handles newer models, like gpt-5-5 which require a locked 1.0 temperature value (#12824)
  uv.lock
Due: none

New Crowdin translations by GitHub Action
  src-ui/src/locale/messages.de_DE.xlf
  src-ui/src/locale/messages.sl_SI.xlf
  src-ui/src/locale/messages.sr_CS.xlf
  src-ui/src/locale/messages.zh_CN.xlf
  src/locale/de_DE/LC_MESSAGES/django.po
  src/locale/sl_SI/LC_MESSAGES/django.po
  src/locale/sr_CS/LC_MESSAGES/django.po
  src/locale/zh_CN/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend
