Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

And the filelock one, this is defensive stuff I don't see value in
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds more coverage for the Whoosh re-writing to ISO format, covering standard and some odd cases like wrapping
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Quick testing to cover most (everything?) in needs_rebuild
  src/documents/tests/search/test_schema.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frontend coverage
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
Due: frontend-node-24.x, frontend

Backend coverage
  src/documents/tests/test_api_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

better typing through fixtures + comment
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: only set tags in workflow when needed
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Further search coverage which maybe works, we'll find out
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update docs/development.md
  docs/development.md
Due: none

Chore: Document the parser plugin system (#12423)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/advanced_usage.md
  docs/development.md
Due: none

Fine, I'll spin up the VM here. Good this got tested
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: dont defer tag change application in workflows
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds no cover on some defensive error handling, cover a few other cases more directly
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: support bulk edit without id lists (#12355)
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Custom field indexing wouldn't have matched exactly, also, index the select field label, not its ID (might break, don't want the VM)
  src/documents/models.py
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat: add email address book and message templates with CC/BCC support
  .gitignore
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.html
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.scss
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.spec.ts
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/email-contact.ts
  src-ui/src/app/data/email-template.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/rest/email-contact.service.ts
  src-ui/src/app/services/rest/email-template.service.ts
  src/documents/admin.py
  src/documents/filters.py
  src/documents/mail.py
  src/documents/migrations/0017_emailcontact_emailtemplate.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_email.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Slightly less bad formatting
  pyproject.toml
Due: none

Drops the old note and custom_field index fields, migration for saved view filters to probably migrate users
  docs/migration-v3.md
  src/documents/migrations/0017_migrate_fulltext_query_field_prefixes.py
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/search/_schema.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/search/test_migration_fulltext_query_field_prefixes.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tasks weren't actually creating a user ever and ApplicationConfiguration is getting flushed I guess because it's None?
  src/documents/tests/search/test_migration_fulltext_query_field_prefixes.py
  src/documents/tests/test_task_signals.py
  src/paperless/tests/parsers/test_tesseract_custom_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

I think these places need the effective content check/simpliication
  src/documents/search/_backend.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ah, not marked as a search test
  src/documents/tests/test_task_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

tantivy can natively handle descending vs ascending sorting, clean that up and test better
  src/documents/search/_backend.py
  src/documents/search/_schema.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: dont defer tag change application in workflows (#12478)
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes mock calls checks
  src/documents/tests/test_task_signals.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes potential sources for ReDOS
  src/documents/barcodes.py
  src/documents/plugins/date_parsing/regex_parser.py
  src/documents/regex.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds scoped rate limiting to the token API
  docs/configuration.md
  pyproject.toml
  src/paperless/settings/__init__.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Signs the classifier so we have additional protections against tampering + pickle
  docs/configuration.md
  src/documents/classifier.py
  src/documents/tests/test_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Patches things more directly
  src/documents/tests/data/v1.17.4.model.pickle
  src/documents/tests/test_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: allow opt-in blocking internal mail hosts
  docs/configuration.md
  src/paperless/settings/__init__.py
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Another depending on when the TC runs, is missing the ApplicationConfiguration
  src/documents/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Require a SECRET_KEY, don't ever fallback to an older one
  docker/compose/docker-compose.env
  docs/configuration.md
  paperless.conf.example
  pyproject.toml
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Registers a custom serializer which signs the payload
  src/paperless/celery.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_celery.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

We need to set a dummy value to build, oops
  Dockerfile
Due: none

Test a valid hmac but garbage data
  src/documents/tests/test_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

This is clear enough and testing it seems useless
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Quickly test the error handling and good handling cases for regex
  src/documents/tests/test_regex.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
