Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Update app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix: 3.1 LLM suggestions normalize flat lists from smaller models
  src/paperless_ai/base_model.py
  src/paperless_ai/tests/test_base_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: 3.1 LLM suggestions normalize flat lists from smaller models (#13853)
  src/paperless_ai/base_model.py
  src/paperless_ai/tests/test_base_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use weights, to balance overrepresented entries in training set.
  src/documents/classifier.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add auto generated tests
  src/documents/tests/test_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Set default value of 0.6 for automatic matches, add documentation
  docs/configuration.md
  src/documents/classifier.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix length calculation
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
Due: frontend-node-24.x, frontend

Use a flat list we change into our nested schema
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/base_model.py
  src/paperless_ai/client.py
  src/paperless_ai/prompts/classification.j2
  src/paperless_ai/prompts/localization.j2
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_base_model.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: 3.1 llm suggestions request a flat list we change later (#13860)
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/base_model.py
  src/paperless_ai/client.py
  src/paperless_ai/prompts/classification.j2
  src/paperless_ai/prompts/localization.j2
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_base_model.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

UX tweak: show count for existing
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend-node-24.x, frontend

Tweak/fix: show existing count for ai suggestions (#13861)
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: responsive sidebar, centralize and make sizes saner
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/print.scss
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Text truncate in case too
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix: responsive sidebar, centralize and make sizes saner (#13863)
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/print.scss
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Fix: set global search earlier to avoid awaiting debounce
  src-ui/src/app/components/app-frame/global-search/global-search.component.html
  src-ui/src/app/components/app-frame/global-search/global-search.component.spec.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
Due: frontend-node-24.x, frontend

Fix: set global search earlier to avoid awaiting debounce (#13865)
  src-ui/src/app/components/app-frame/global-search/global-search.component.html
  src-ui/src/app/components/app-frame/global-search/global-search.component.spec.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
Due: frontend-node-24.x, frontend

Dont lose the complete name suggestions, do it as a second step
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/base_model.py
  src/paperless_ai/client.py
  src/paperless_ai/prompts/classification.j2
  src/paperless_ai/prompts/localization.j2
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_base_model.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix test, bump cache version
  src/documents/caching.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update ai_classifier.py
  src/paperless_ai/ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix slow document list query on MariaDB and MySQL (rewrite effective_content subquery)
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(search): resolve index-write permissions and effective content in bulk
  src/documents/search/_backend.py
  src/documents/tasks.py
  src/documents/tests/search/test_backend.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Always these new ones with xdist, try a better condition
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

remove unused permision queries + template
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/prompts/assigned_block.j2
  src/paperless_ai/prompts/context.py
  src/paperless_ai/prompts/render.py
  src/paperless_ai/prompts/taxonomy_block.j2
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_prompts.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Separate limit for single value fields
  src/paperless_ai/base_model.py
  src/paperless_ai/tests/test_base_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Reject blank suggestions
  src/paperless_ai/base_model.py
  src/paperless_ai/tests/test_base_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: 3.1.0 llm suggestions remove existing metadata from prompt, dont drop name suggestions (#13866)
  src/documents/caching.py
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/base_model.py
  src/paperless_ai/client.py
  src/paperless_ai/prompts/assigned_block.j2
  src/paperless_ai/prompts/classification.j2
  src/paperless_ai/prompts/context.py
  src/paperless_ai/prompts/localization.j2
  src/paperless_ai/prompts/render.py
  src/paperless_ai/prompts/taxonomy_block.j2
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_base_model.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_prompts.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 3.1.1
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.1.1 - GHA
  docs/changelog.md
Due: none

feature: add Tantivy full-text fallback adapter for taxonomy candidates
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Not bad catches from Copilot, if a little extra secure
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

sort similar documents by weight, use unrestricted-user check consistently (existed before, but good to be consistent)
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Isolate the search index directory in trash-restore tests, they were using a persistent index
  src/documents/tests/test_api_trash.py
  src/documents/tests/test_permission_filtering_security.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Isolate the search index directory in trash-restore tests, they were using a persistent index (#13876)
  src/documents/tests/test_api_trash.py
  src/documents/tests/test_permission_filtering_security.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just merge these
  src/documents/filters.py
  src/documents/tests/test_api_document_versions.py
  src/documents/versioning.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add disable to the drag-drop list component
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.html
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.spec.ts
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.ts
Due: frontend-node-24.x, frontend

Add not-allowed cursor too
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.scss
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
