Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

update folder upload
  src/documents/common.py
  src/paperless/settings.py
  src/paperless_ocr_custom/parsers.py
Due: backend

Update dev container configuration to use uv instead of pipenv
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .devcontainer/vscode/tasks.json
Due: none

Update AI chat widget component
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/ai-chat-widget/ai-chat-widget.component.ts
Due: frontend

Update docker compose to support dev env with hot reloading
  DEV-SETUP.md
  docker-compose.override.yml
  docker-compose.yml
  src-ui/.gitignore
Due: frontend

Remove docker-compose file from gitignore
  .gitignore
Due: none

Add code to support docker compose hot reloading dev setup
  src/paperless/settings.py
Due: backend

Added markdown rendering in document details component
  src-ui/package.json
  src-ui/pnpm-lock.yaml
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
Due: frontend

Fix: only overwrite existing cf values in workflow if set
  src/documents/signals/handlers.py
Due: backend

Chore: auto-translate strings
  .github/workflows/translate-strings.yml
Due: none

Need to use a PAT for protected branch
  .github/workflows/translate-strings.yml
Due: none

Add ymlfmt
  .pre-commit-config.yaml
Due: none

Run ymlfmt
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  mkdocs.yml
Due: none

Add mistralai dependency to pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Update .gitignore, remove version from docker-compose.override.yml, and delete unused paperless-ngx.code-workspace file
  .gitignore
  docker-compose.override.yml
  paperless-ngx.code-workspace
Due: none

Correctly show images in markdown
  src/paperless_mistralocr/parsers.py
Due: backend

Apply correct ruff formatting to MistralOCR document parser module
  src/paperless_mistralocr/__init__.py
  src/paperless_mistralocr/apps.py
  src/paperless_mistralocr/config.py
  src/paperless_mistralocr/settings.py
  src/paperless_mistralocr/signals.py
  src/paperless_mistralocr/tests/__init__.py
  src/paperless_mistralocr/tests/test_parser.py
Due: backend

Fix ruff warning
  pyproject.toml
Due: none

Update ruff config to remove unused imports
  pyproject.toml
Due: none

Apply ruff linting to MistralOCR module
  src/paperless_mistralocr/__init__.py
  src/paperless_mistralocr/config.py
  src/paperless_mistralocr/parsers.py
  src/paperless_mistralocr/settings.py
  src/paperless_mistralocr/tests/test_parser.py
Due: backend

Apply ruff linting and formating to paperless gpt module
  src/paperless_gpt/apps.py
  src/paperless_gpt/parsers.py
  src/paperless_gpt/signals.py
  src/paperless_gpt/tests/test_live_tika.py
  src/paperless_gpt/tests/test_tika_parser.py
Due: backend

Add a fullscreen modal for markdown preview
  src-ui/src/app/components/common/markdown-modal/index.ts
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.html
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.scss
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Update markdown fullscreen preview
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.html
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/main.ts
Due: frontend

Update github ci tasks
  .github/FUNDING.yml
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/crowdin.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  crowdin.yml
Due: none

Fix GitHub CI yaml
  .github/workflows/ci.yml
Due: none

Apply pre-commit fixes
  .devcontainer/devcontainer.json
  .devcontainer/vscode/tasks.json
  .github/workflows/ci.yml
  README.md
  compose-dev.yaml
  pyproject.toml
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/markdown-modal/index.ts
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.html
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.scss
  src-ui/src/app/components/common/markdown-modal/markdown-modal.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/ai-chat-widget/ai-chat-widget.component.html
  src-ui/src/app/components/dashboard/widgets/ai-chat-widget/ai-chat-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/ai-chat-widget/ai-chat-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/ai-chat-widget/ai-chat-widget.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
  src/paperless_mistralocr/README.md
Due: backend, frontend

Apply linter fixes
  src/paperless_gpt/parsers.py
  src/paperless_gpt/tests/__init__.py
  src/paperless_gpt/tests/test_tika_parser.py
  src/paperless_mistralocr/parsers.py
  src/paperless_mistralocr/tests/test_parser.py
Due: backend

Fix more linter issues
  src/paperless_gpt/signals.py
  src/paperless_gpt/tests/test_live_tika.py
Due: backend

Remove the Paperless GPT module as it will be re-implemented from scratch
  src/paperless_gpt/__init__.py
  src/paperless_gpt/apps.py
  src/paperless_gpt/embeddings.py
  src/paperless_gpt/parsers.py
  src/paperless_gpt/signals.py
  src/paperless_gpt/tests/__init__.py
  src/paperless_gpt/tests/samples/sample.docx
  src/paperless_gpt/tests/samples/sample.odt
  src/paperless_gpt/tests/test_live_tika.py
  src/paperless_gpt/tests/test_tika_parser.py
Due: backend

Initial implementation of embeddings module
  pyproject.toml
  src/paperless_embeddings/__init__.py
  src/paperless_embeddings/apps.py
  src/paperless_embeddings/config.py
  src/paperless_embeddings/embedding.py
  src/paperless_embeddings/signals.py
  uv.lock
Due: backend

Fix: only overwrite existing cf values in workflow if set (#9459)
  src/documents/signals/handlers.py
Due: backend

fix create document_type with custom_field
  src-ui/src/app/components/common/edit-dialog/document-type-edit-dialog/document-type-edit-dialog.component.ts
  src-ui/src/app/data/document-type.ts
  src/documents/common.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/migrations/1125_alter_documenttype_custom_fields.py
  src/documents/migrations/1126_alter_documenttype_custom_fields.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/paperless_ocr_custom/parsers.py
Due: backend, frontend

fix compress
  src/documents/consumer.py
  src/documents/utils.py
  src/documents/views.py
  src/paperless_ocr_custom/parsers.py
Due: backend

fix peel-field add file_id for document
  src/documents/common.py
  src/documents/tasks.py
  src/paperless_ocr_custom/parsers.py
Due: backend

Fix: revert removed x-frame-options header in non-debug
  src/paperless/settings.py
Due: backend

New implementation to compute document embeddings
  docker-compose.yml
  pyproject.toml
  src/documents/apps.py
  src/documents/embeddings.py
  src/documents/signals/__init__.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/paperless/settings.py
  src/paperless_embeddings/__init__.py
  src/paperless_embeddings/apps.py
  src/paperless_embeddings/config.py
  src/paperless_embeddings/embedding.py
  src/paperless_embeddings/signals.py
  src/paperless_mistralocr/settings.py
  uv.lock
Due: backend

update logo
  src-ui/src/assets/tc-edoc-0.0.1.svg
  src-ui/src/assets/tc-edoc-0.0.1.svg:Zone.Identifier
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src-ui/src/index.html
  src/documents/templates/index.html
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Switch to using uvloop and upgrade for some ASGI fixes
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  pyproject.toml
  uv.lock
Due: none

fix peel feel and fix update customfield
  src/documents/common.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
Due: backend
