Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Newly build version of jbig
  Dockerfile
Due: none

Now we have the uv image built too
  Dockerfile
Due: none

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/management/commands/document_consumer.py
  src/documents/migrations/1012_fix_archive_files.py
  src/documents/parsers.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_archive_files.py
  src/paperless/settings.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Small targeted upgrades to bugfix releases mostly. Unsure why dependabot isn't doing these
  pyproject.toml
  uv.lock
Due: none

Small targeted upgrades to bugfix releases mostly. Unsure why dependabot isn't doing these (#10561)
  pyproject.toml
  uv.lock
Due: none

Merge commit from fork
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src/documents/tests/samples/malicious.svg
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
  src/paperless/serialisers.py
  src/paperless/urls.py
  src/paperless/validators.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Fix some tests from b1c406680f345f4aeec0989424dbcc839c75e438
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.spec.ts
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend, frontend

Fix some tests from 4d3375e309614297c509b61cebb057d6da8c48c8
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.spec.ts
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend, frontend

Bump version to 2.18.0
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

See if this helps with intermittent mail test failure
  src/paperless_mail/tests/test_mail.py
Due: backend

Changelog v2.18.0 - GHA
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Fixhancement: better mobile layout for pdf editor
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
Due: frontend

Update pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
Due: frontend

Fixhancement: mobile layout improvements for pdf editor (#10588)
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Fix: restore version tag display
  src-ui/src/app/components/app-frame/app-frame.component.ts
Due: frontend

Fix: restore version tag display (#10592)
  src-ui/src/app/components/app-frame/app-frame.component.ts
Due: frontend

Update pyproject.toml
  pyproject.toml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Documentation: fix Postgres version
  docs/administration.md
Due: none

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
