Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Bump version to 2.19.6
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.19.6 - GHA
  docs/changelog.md
Due: none

Update changelog for paperless-ngx 2.19.6
  docs/changelog.md
Due: none

refactor: corrección completa de 96 problemas identificados en auditoría (TSK-CODE-FIX-ALL)
  BITACORA_MAESTRA.md
  src-ui/src/app/components/deletion-requests/deletion-request-detail/deletion-request-detail.component.html
  src-ui/src/app/components/deletion-requests/deletion-request-detail/deletion-request-detail.component.spec.ts
  src-ui/src/app/components/deletion-requests/deletion-request-detail/deletion-request-detail.component.ts
  src-ui/src/app/data/ai-suggestion.ts
  src-ui/src/app/data/deletion-request.ts
  src/documents/ai_scanner.py
  src/documents/consumer.py
  src/documents/ml/classifier.py
  src/documents/ml/model_cache.py
  src/documents/ml/semantic_search.py
  src/documents/models.py
  src/paperless/security.py
Due: backend, frontend

fix: correcciones críticas pre-CI/CD (TSK-CICD-FIX-CRITICAL)
  .github/workflows/ci.yml
  BITACORA_MAESTRA.md
  src-ui/src/app/components/admin/settings/ai-settings/ai-settings.component.ts
  src-ui/src/app/components/ai-suggestions-panel/ai-suggestions-panel.component.ts
  src-ui/src/main.ts
  src/documents/ai_scanner.py
  src/documents/migrations/1076_add_deletion_request.py
  src/documents/migrations/1077_add_deletionrequest_performance_indexes.py
  src/documents/migrations/1078_aisuggestionfeedback.py
  src/documents/tests/test_ml_smoke.py
Due: backend, frontend

fix: ensure consistent type handling for suggestions in AI components
  src-ui/src/app/components/ai-suggestions-panel/ai-suggestions-panel.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

fix: improve boolean handling in environment variable retrieval
  src/paperless/settings.py
Due: backend

refactor: update serializers and remove obsolete migration
  .claude/settings.local.json
  src-ui/src/app/components/app-frame/ai-status-indicator/ai-status-indicator.component.ts
  src/documents/migrations/1074_add_ai_permissions.py
  src/documents/serialisers.py
  src/paperless/settings.py
Due: backend, frontend

refactor: clean up whitespace in security.py and urls.py
  src/paperless/security.py
  src/paperless/urls.py
Due: backend

Improve prompt for Paperless-ngx URL input
  install-paperless-ngx.sh
Due: none

Implement feature X to enhance user experience and optimize performance
  uv.lock
Due: none

test: fix test to run job inline
  src/documents/tests/test_api_custom_fields.py
Due: backend

Fix: Reversed logic for filename formatting checkbox
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src/documents/bulk_download.py
Due: backend, frontend

feat(ci/cd): complete validation and add IntelliDocs CI/CD workflow
  .github/workflows/docker-intellidocs.yml
  BITACORA_MAESTRA.md
  CHECKLIST_FINAL_CICD.md
Due: none

fix(ci/cd): remove hardcoded absolute path in GitHub Actions workflow
  .github/workflows/docker-intellidocs.yml
Due: none

fix(tests): corrige comparación de versiones en test_ml_smoke.py
  pyproject.toml
  src/documents/tests/test_ml_smoke.py
Due: backend

fix(ci/cd): corrige formato inválido de etiquetas Docker
  .github/workflows/docker-intellidocs.yml
  Dockerfile
Due: none

Chore: replace test image URLs to our own files
  src/paperless_mail/tests/samples/html.eml
  src/paperless_mail/tests/samples/sample.html
  src/paperless_mail/tests/test_parsers_live.py
Due: backend

Chore: set signal receivers with weak=False
  src/documents/management/commands/document_importer.py
  src/documents/signals/handlers.py
Due: backend

Chore: replace test image URLs to our own files (#11390)
  src/paperless_mail/tests/samples/html.eml
  src/paperless_mail/tests/samples/sample.html
  src/paperless_mail/tests/test_parsers_live.py
Due: backend

Performance: make move files after select custom field change async
  src/documents/signals/handlers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_file_handling.py
Due: backend

fix(syntax): corrige errores de sintaxis y formato en Python
  src/documents/ai_deletion_manager.py
  src/documents/ai_scanner.py
  src/documents/apps.py
  src/documents/consumer.py
  src/documents/migrations/1075_add_performance_indexes.py
  src/documents/migrations/1076_add_deletion_request.py
  src/documents/migrations/1077_add_deletionrequest_performance_indexes.py
  src/documents/migrations/1078_aisuggestionfeedback.py
  src/documents/ml/__init__.py
  src/documents/ml/classifier.py
  src/documents/ml/model_cache.py
  src/documents/ml/ner.py
  src/documents/ml/semantic_search.py
  src/documents/models.py
  src/documents/ocr/__init__.py
  src/documents/ocr/form_detector.py
  src/documents/ocr/handwriting.py
  src/documents/ocr/table_extractor.py
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/serializers/__init__.py
  src/documents/serializers/ai_suggestions.py
  src/documents/tests/test_ai_deletion_manager.py
  src/documents/tests/test_ai_permissions.py
  src/documents/tests/test_ai_scanner.py
  src/documents/tests/test_ai_scanner_integration.py
  src/documents/tests/test_api_ai_endpoints.py
  src/documents/tests/test_api_ai_suggestions.py
  src/documents/tests/test_api_deletion_requests.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_deletion_request_model.py
  src/documents/tests/test_ml_cache.py
  src/documents/tests/test_ml_smoke.py
  src/documents/views.py
  src/documents/views/deletion_request.py
  src/paperless/middleware.py
  src/paperless/security.py
  src/paperless/urls.py
Due: backend

Update index.py
  src/documents/index.py
Due: backend

Fix: support for custom field ordering w advanced search
  src/documents/index.py
  src/documents/tests/test_api_search.py
  src/paperless/views.py
Due: backend

Simplify
  src/documents/index.py
  src/paperless/views.py
Due: backend

Sonar fix
  src/documents/index.py
Due: backend

Fix: support for custom field ordering w advanced search (#11383)
  src/documents/index.py
  src/documents/tests/test_api_search.py
Due: backend

fix(ci): soluciona error "No space left on device" en GitHub Actions
  .github/workflows/ci.yml
Due: none

Enhancement: speed-up docker container startup (#11134)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

fix(ci): agrega token requerido a git-auto-commit-action
  .github/workflows/translate-strings.yml
Due: none

feat(ci): agrega job de verificación de entorno y servicios
  .github/workflows/ci.yml
Due: none

fix(ci): corrige errores y actualiza workflows de GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/docker-intellidocs.yml
  .github/workflows/pr-bot.yml
Due: none

fix(ci): simplifica verificación de dependencias Python
  .github/workflows/ci.yml
Due: none

fix(frontend): corrige manejo de errores en componentes de IA
  src-ui/src/app/components/ai-suggestions-panel/ai-suggestions-panel.component.ts
  src-ui/src/app/services/ai-status.service.ts
Due: frontend
