Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

fix typo in configuration.md
  docs/configuration.md
Due: none

Documentation: fix typo in configuration.md (#10077)
  docs/configuration.md
Due: none

fix: remove unused checksum field and update folder path handling in models
  src/documents/consumer.py
  src/documents/models.py
  src/documents/views.py
Due: backend

fix: update navigation logic to redirect to parent folder instead of using location back
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

fix: add confirmation logic for unsaved changes on document close and handle navigation to root folder
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend

fix: container setup and task description
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/vscode/tasks.json
Due: none

feat: enable dependabot for devcontainer
  .github/dependabot.yml
Due: none

fix: set default value for merge in serializer to prevent potential errors
  src/documents/views.py
Due: backend

fix: dont install latest uv and dont install uvx
  .devcontainer/Dockerfile
Due: none

Removes the reviewers field, excludes Django and related from the small changes group
  .github/dependabot.yml
Due: none

Removes the reviewers field, excludes Django and related from the small changes group (#10076)
  .github/dependabot.yml
Due: none

Add django-cachalot as database ORM read cache
  docs/administration.md
  docs/configuration.md
  pyproject.toml
  src/documents/management/commands/invalidate_db_cache.py
  src/paperless/db_cache.py
  src/paperless/settings.py
Due: backend

Add cachalot to lock file
  uv.lock
Due: none

Add coverage for management command
  src/documents/tests/test_management.py
Due: backend

Add coverage for db_cache
  src/paperless/db_cache.py
  src/paperless/tests/test_db_cache.py
Due: backend

Fix: DB ORM read cache modifications (django-cachalot)
  docs/administration.md
  docs/configuration.md
  src/documents/management/commands/invalidate_db_cache.py
  src/documents/tests/test_management.py
  src/paperless/db_cache.py
  src/paperless/settings.py
  src/paperless/tests/test_db_cache.py
Due: backend

fix test
  src/paperless/tests/test_db_cache.py
Due: backend

Rename DB read cache setting names to a more generic name
  docs/configuration.md
  src/paperless/settings.py
  src/paperless/tests/test_db_cache.py
Due: backend

Rename Redis cache from "cachalot" to "read-cache"
  src/paperless/db_cache.py
  src/paperless/settings.py
  src/paperless/tests/test_db_cache.py
Due: backend

Dont label dependabot as enhancments
  .github/workflows/pr-bot.yml
Due: none

Cleanup decontainer readme
  .devcontainer/README.md
Due: none

Fix the reset venv command
  .devcontainer/vscode/tasks.json
Due: none

Development: devcontainer setup, docs and enable dependabot (#10081)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/vscode/tasks.json
  .github/dependabot.yml
Due: none

feat: use django lang
  src/documents/templating/workflows.py
Due: backend

Pin pnpm to a specific version
  src-ui/package.json
Due: frontend

Update package.json
  src-ui/package.json
Due: frontend

Dont specify version in ci
  .github/workflows/ci.yml
Due: none

Specify package file
  .github/workflows/ci.yml
Due: none

fix: ensure documents are deleted from index before removing folders
  src/documents/views.py
Due: backend

fix: trim trailing slashes from file paths in payload and folder updates
  src/documents/bulk_edit.py
  src/edoc_ocr_custom/parsers.py
Due: backend

fix: trim trailing slashes from file paths in payload and folder updates
  src/documents/consumer.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/utils.py
  src/documents/views.py
Due: backend

fix: update folder parent permissions handling in update process
  src/documents/signals/handlers.py
  src/documents/views.py
Due: backend

fix: remove approval in document detail
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

fix: improve folder path handling and reload data on route changes
  src-ui/src/app/components/manage/folder-list/folder-list.component.ts
  src/documents/views.py
Due: backend, frontend

Update to 10.11.1
  src-ui/package.json
Due: frontend
