Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Move migration
  src/documents/migrations/0017_alter_workflowtrigger_type.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add to diagram
  docs/usage.md
Due: none

Move migration again
  src/documents/migrations/0016_alter_workflowtrigger_type.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates the argument name for v17
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: move Tika parser and tests to paperless/
  src/paperless/parsers/tika.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_tika_parser.py
  src/paperless/tests/samples/tika/multi-part-broken.odt
  src/paperless/tests/samples/tika/sample.doc
  src/paperless/tests/samples/tika/sample.docx
  src/paperless/tests/samples/tika/sample.odt
  src/paperless_tika/tests/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Phase 3 — migrate TikaDocumentParser to ParserProtocol
  src/documents/consumer.py
  src/paperless/parsers/tika.py
  src/paperless/tests/parsers/test_tika_parser.py
  src/paperless_tika/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: update remaining imports and move live Tika tests after parser migration
  src/documents/tests/test_parsers.py
  src/paperless/tests/parsers/test_live_tika.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: satisfy mypy and pyrefly for TikaDocumentParser
  src/paperless/parsers/tika.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: require context manager for TikaDocumentParser; clean up client lifecycle
  src/documents/consumer.py
  src/documents/views.py
  src/paperless/parsers/tika.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Renames so it aligns better in the browser view
  src/paperless/tests/parsers/test_tika_liva.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Register the builtin Tika parser
  src/paperless/parsers/registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Also capture the paperless.classifier log, in case of anything from there
  src/documents/management/commands/document_create_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Locks down the Tika version and adds Greenmail for Dependabot as well
  .github/dependabot.yml
  docker/compose/docker-compose.ci-test.yml
Due: none

Refactor: move remote parser, test, and sample to paperless.parsers
  src/paperless/parsers/remote.py
  src/paperless/tests/parsers/test_remote_parser.py
  src/paperless/tests/samples/remote/simple-digital.pdf
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: migrate RemoteDocumentParser to ParserProtocol interface
  src/paperless/parsers/registry.py
  src/paperless/parsers/remote.py
  src/paperless/parsers/utils.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_remote_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: use fixture factory and usefixtures in remote parser tests
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_remote_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: improve remote parser test fixture structure
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_remote_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: wire RemoteDocumentParser into consumer and fix signals
  src/documents/consumer.py
  src/paperless_remote/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: fix type errors in remote parser and signals
  src/paperless/parsers/remote.py
  src/paperless_remote/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: get_parser factory forwards logging_group, drops progress_callback
  src/paperless_remote/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: text parser get_parser forwards logging_group, drops progress_callback
  src/paperless_text/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cleans up the comment, which wasn't quite right
  src/paperless_text/signals.py
  src/paperless_tika/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes basically empty directory
  src/paperless_tika/tests/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump Angular dependencies to 21.2.x
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Chore: bump Angular dependencies to 21.2.x (#12338)
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Set a timeout on views HTTP calls
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add API all/filters support
  src/documents/serialisers.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Dont allow these ones to get all
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Add progress information to the classifier training for a better ux (#12331)
  src/documents/classifier.py
  src/documents/management/commands/document_create_classifier.py
  src/documents/tasks.py
  src/documents/tests/test_management.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Disables the system checks for most of our commands, as the image has already run them, so we're good enough without them
  docs/migration-v3.md
  src/documents/management/commands/base.py
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_api_schema.py
  src/documents/tests/test_management.py
  src/documents/tests/test_management_superuser.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Reverts system check removal and changes instead to skip checks in all testing + commands when already in a command
  docs/migration-v3.md
  src/documents/management/commands/base.py
  src/documents/tests/management/test_management_sanity_checker.py
  src/documents/tests/test_management.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/test_management_importer.py
  src/documents/tests/test_management_retagger.py
  src/documents/tests/test_management_thumbnails.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sort custom fields by name on the Custom Fields settings page
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.ts
Due: frontend-node-24.x, frontend

Sort custom field select values when custom field edit dialog is opened
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Sort custom fields names/values in document filter query dropdown
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
Due: frontend-node-24.x, frontend

Sort custom field names in workflow action editor assign/remove dropdown
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Preserve document details custom field inputs sort order on save/revert
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Sort custom field select values in dropdowns on document details page
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Sort custom field names in document details custom fields dropdown
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.ts
Due: frontend-node-24.x, frontend

Sort custom field input rows by name on the document details page
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend
