Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Fixhancement: add missing exact operator for boolean CF queries (#10402)
  src-ui/src/app/data/custom-field-query.ts
Due: frontend

Fix URL for PAPERLESS_OCR_LANGUAGE example in docker-compose.env
  docker/compose/docker-compose.env
Due: none

Documentation: Fix URL for PAPERLESS_OCR_LANGUAGE example in docker-compose.env (#10408)
  docker/compose/docker-compose.env
Due: none

fix: Healthcheck accepting `HTTP/3xx` as `healthy`
  Dockerfile
Due: none

Fixhancement: follow redirects in curl health check (#10415)
  Dockerfile
Due: none

Fix: utc-normalize natural dates for whoosh
  src/documents/index.py
  src/documents/tests/test_index.py
Due: backend

Handle quotes
  src/documents/index.py
Due: backend

Correct misspellings
  CONTRIBUTING.md
  docs/administration.md
  docs/development.md
  docs/troubleshooting.md
  install-paperless-ngx.sh
Due: none

Capitalize product names
  docker/compose/docker-compose.ci-test.yml
  docs/development.md
  docs/index.md
  docs/setup.md
  install-paperless-ngx.sh
Due: none

Add closing parenthesis
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
Due: none

Correct product name
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
Due: none

Documentation: copy-edits (#10417)
  CONTRIBUTING.md
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/administration.md
  docs/development.md
  docs/index.md
  docs/setup.md
  docs/troubleshooting.md
  install-paperless-ngx.sh
Due: none

workflows.py aktualisieren
  src/documents/templating/workflows.py
Due: backend

Update docker-compose.portainer.yml
  docker/compose/docker-compose.portainer.yml
Due: none

Enhance custom field details data using APIs like CustomFieldValueView and CustomFieldData
  src/documents/serialisers.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend

Fix: Make some natural keyword date searches timezone-aware (#10416)
  src/documents/index.py
  src/documents/tests/test_index.py
Due: backend

Enhancement: display saved view counts (#10246)
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Indexed title-content SQL search
  src/documents/filters.py
  src/documents/migrations/1069_document_fulltext_index.py
  src/documents/utils.py
Due: backend

Documentation: include advanced search in API spec
  src/documents/views.py
Due: backend

Documentation: include advanced search query param in API spec (#10449)
  src/documents/views.py
Due: backend

Global search: use DB index instead of Whoosh index
  docs/usage.md
  src/documents/views.py
Due: backend

Rework RAW SQL fulltext search as a custom Django lookup
  src/documents/filters.py
  src/documents/models.py
Due: backend

Chore: update stale settings
  .github/workflows/repo-maintenance.yml
Due: none

Fix: perform full patch with restored documents
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Revert "Fix: perform full patch with restored documents"
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Fix: track and restore changed document fields from session storage
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/open-documents.service.spec.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend

Update open-documents.service.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend

Handle permissions form properly
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Add tasks task_id param to openapi spec
  src/documents/views.py
Due: backend

Fix: track and restore changed document fields from session storage (#10468)
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/open-documents.service.spec.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend
