Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix frontend api version
  src-ui/src/environments/environment.prod.ts
  src/paperless/settings.py
Due: backend, frontend

Fix: correctly handle empty user for old notes api format, fix frontend API version (#9846)
  src-ui/src/environments/environment.prod.ts
  src/documents/serialisers.py
  src/paperless/settings.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Development: always try playwright install on ci
  .github/workflows/ci.yml
Due: none

Development: always try playwright install on ci (#9847)
  .github/workflows/ci.yml
Due: none

Development: always try playwright install on ci, cache browsers (#9847)
  .github/workflows/ci.yml
Due: none

refactor: streamline document processing by removing unused variables and enhancing error handling
  src/documents/common.py
  src/documents/consumer.py
  src/documents/parsers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/views.py
  src/edoc_ocr_custom/fonts/arial-font/ARIBL0.ttf
  src/edoc_ocr_custom/fonts/arial-font/ArialTh.ttf
  src/edoc_ocr_custom/fonts/arial-font/Arialn.ttf
  src/edoc_ocr_custom/fonts/arial-font/GEO_AI__.TTF
  src/edoc_ocr_custom/fonts/arial-font/G_ari_bd.TTF
  src/edoc_ocr_custom/fonts/arial-font/G_ari_i.TTF
  src/edoc_ocr_custom/fonts/arial-font/arial.ttf
  src/edoc_ocr_custom/parsers.py
Due: backend

refactor: add max_analyzed_offset parameter to highlight function for improved performance
  src/documents/index.py
Due: backend

refactor: update SESSION_ENGINE to use cached session backend for improved performance
  src/edoc/settings.py
Due: backend

Development: split e2e tests into their own job
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Cache playwright browsers
  .github/workflows/ci.yml
Due: none

Ensure docker depends on e2e too
  .github/workflows/ci.yml
Due: none

Shard e2e tests
  .github/workflows/ci.yml
Due: none

refactor: enhance parse method to include dossier_form parameter and clean up debug logging
  src/edoc_ocr_custom/parsers.py
Due: backend

Chore: split ci frontend e2e vs unit tests (#9851)
  .github/workflows/ci.yml
Due: none

refactor: update document deletion logic to use EMPTY_TRASH_DIR and improve file handling
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/edoc/settings.py
Due: backend

Documentation: clarify PAPERLESS_CONSUMER_DISABLE
  docs/configuration.md
Due: none

Documentation: clarify PAPERLESS_CONSUMER_DISABLE (#9862)
  docs/configuration.md
Due: none

Documentation: clarify disable consumer setting
  docs/configuration.md
Due: none

Update S6_OVERLAY_VERSION to v3.2.0.3
  Dockerfile
Due: none

Add django-cachalot as database ORM read cache
  docs/administration.md
  docs/configuration.md
  pyproject.toml
  src/documents/management/commands/invalidate_db_cache.py
  src/paperless/db_cache.py
  src/paperless/settings.py
Due: backend

Add cachalot to lock file
  uv.lock
Due: none

Add coverage for management command
  src/documents/tests/test_management.py
Due: backend

Add coverage for db_cache
  src/paperless/db_cache.py
  src/paperless/tests/test_db_cache.py
Due: backend

Fixhancement: better handle removed social apps in profile
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
Due: backend

Fix: DB ORM read cache modifications (django-cachalot)
  docs/administration.md
  docs/configuration.md
  src/documents/management/commands/invalidate_db_cache.py
  src/documents/tests/test_management.py
  src/paperless/db_cache.py
  src/paperless/settings.py
  src/paperless/tests/test_db_cache.py
Due: backend

refactor: remove dossier handling from document operations and improve permission management
  src/documents/bulk_edit.py
  src/documents/consumer.py
  src/documents/documents.py
  src/documents/index.py
  src/documents/tasks.py
  src/documents/views.py
Due: backend

refactor: clean up imports and improve code formatting across multiple files
  src/documents/bulk_edit.py
  src/documents/consumer.py
  src/documents/documents.py
  src/documents/index.py
  src/documents/tasks.py
Due: backend

feat: implement folder permissions management and update child folder paths
  src/documents/index.py
  src/documents/permissions.py
  src/documents/tasks.py
  src/documents/views.py
Due: backend

refactor: clean up tour service initialization and improve chart rendering logic
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-custom-widget/statistics-custom-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/document-list/document-list.component.html
Due: frontend

refactor: update line numbers and clean up translation files for improved clarity
  src-ui/messages.xlf
  src-ui/src/locale/messages.vi_VN.xlf
  src/locale/vi_VN/LC_MESSAGES/django.po
Due: backend, frontend

feat: add folder path field to document model for enhanced folder information
  src/documents/documents.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
