Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

install-paperless-ngx.sh: use -n operator in test
  install-paperless-ngx.sh
Due: none

install-paperless-ngx.sh: do not echo empty strings
  install-paperless-ngx.sh
Due: none

install-paperless-ngx.sh: merge conditional expressions
  install-paperless-ngx.sh
Due: none

install-paperless-ngx.sh: use != for string comparison
  install-paperless-ngx.sh
Due: none

install-paperless-ngx.sh: introduce die()
  install-paperless-ngx.sh
Due: none

install-paperless-ngx.sh: unify test operators
  install-paperless-ngx.sh
Due: none

install-paperless-ngx.sh: use `printf` instead of `echo -n`
  install-paperless-ngx.sh
Due: none

Fix (beta): fix sidebar close open documents button
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend-node-24.x, frontend

Fix (beta): fix sidebar document close button (#13136)
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: allow setting any UID and GID when running rootless (#13090)
  Dockerfile
  docs/setup.md
Due: none

Autofixes
  docs/changelog.md
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/utils/text-search.ts
Due: frontend-node-24.x, frontend

Fix: scope ProcessedMail UID deduplication by IMAP UIDVALIDITY (#12839)
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0004_processedmail_uid_validity.py
  src/paperless_mail/models.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add test for document matching with URL output
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixed an existing typo
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Another typo...
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add spaces
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Try breaking up over lines and adding suggestion around console width
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Lint test tells me I have to add the trailing comma back
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Remove blank line
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Accounts for the 0013 migration
  src/paperless/migrations/0009_alter_applicationconfiguration_options_squashed_0013_applicationconfiguration_llm_request_timeout.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Squashes migrations in prep for final release
  src/documents/migrations/0003_remove_document_storage_type_squashed_0005_alter_document_checksum_unique.py
  src/documents/migrations/0008_workflowaction_passwords_alter_workflowaction_type_squashed_0012_document_root_document.py
  src/paperless/migrations/0001_initial_squashed_0006_applicationconfiguration_barcode_tag_split.py
  src/paperless/migrations/0009_alter_applicationconfiguration_options_squashed_0012_applicationconfiguration_llm_output_language.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes_squashed_0003_mailrule_stop_processing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: some frontend sonar fixes
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/components/common/page-header/page-header.component.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-history/document-history.component.html
  src-ui/src/app/components/document-detail/document-history/document-history.component.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/mail/processed-mail-dialog/processed-mail-dialog.component.html
  src-ui/src/app/components/manage/mail/processed-mail-dialog/processed-mail-dialog.component.scss
Due: frontend-node-24.x, frontend

fix(auth): prevent demotion of local superusers and lockout of last admin
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: avoid HAVING clause conflicts in custom field query filter on MariaDB
  src/documents/filters.py
  src/documents/tests/test_api_filter_by_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix group-based view_document permissions missing from bulk rebuild
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Yield (document, viewer_ids) pairs from _DocumentViewerStream
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add --heap-size-mb CLI arg to document_index reindex
  src/documents/management/commands/document_index.py
  src/documents/tests/test_management.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: Tantivy indexing optimization (#13053)
  src/documents/management/commands/document_index.py
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/search/_tokenizer.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/test_management.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Few more before
  pyproject.toml
  uv.lock
Due: none

Bump transformers to 5.13.1
  uv.lock
Due: none

Bump django to 5.2.16
  uv.lock
Due: none

Bump nltk to 3.10.0
  pyproject.toml
  uv.lock
Due: none

Bump daphne to 4.2.2
  uv.lock
Due: none

Chore: Upgrade more vulerable packages (#13020)
  pyproject.toml
  uv.lock
Due: none

Fix: avoid HAVING clause conflicts in custom field query filter on MariaDB (#13143)
  src/documents/filters.py
  src/documents/tests/test_api_filter_by_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
