Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Use our util instead of shutil directly + better typing
  src/paperless/parsers/tesseract.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: update plan with profiling results and final architecture
  docs/superpowers/plans/2026-04-03-search-performance.md
  docs/superpowers/plans/profiling-after-option1.txt
Due: none

refactor: remove dead more_like_this() method from TantivyBackend
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

refactor: switch global search from backend.search() to search_ids()
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

refactor: remove dead search() method and SearchResults from TantivyBackend
  src/documents/search/__init__.py
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: reuse notes snippet generator across docs in highlight_hits()
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

refactor: extract nested helpers in UnifiedSearchViewSet.list()
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: limit global search to 9 IDs and fix more_like_this_ids off-by-one
  src/documents/search/_backend.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: note potential large IN clause in selection_data query
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

perf: use prefix query in autocomplete to avoid full-index scan
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: note autocomplete as candidate for Redis caching
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Breaking: Decouple OCR control from archive file control (#12448)
  .gitignore
  docs/configuration.md
  docs/migration-v3.md
  docs/setup.md
  docs/usage.md
  src-ui/src/app/data/paperless-config.ts
  src/documents/consumer.py
  src/documents/tasks.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_consumer_archive.py
  src/documents/tests/test_management.py
  src/documents/tests/test_tasks.py
  src/paperless/checks.py
  src/paperless/config.py
  src/paperless/migrations/0008_replace_skip_archive_file.py
  src/paperless/models.py
  src/paperless/parsers/tesseract.py
  src/paperless/parsers/utils.py
  src/paperless/settings/__init__.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_convert_image_to_pdfa.py
  src/paperless/tests/parsers/test_parse_modes.py
  src/paperless/tests/parsers/test_tesseract_custom_settings.py
  src/paperless/tests/parsers/test_tesseract_parser.py
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_checks_v3.py
  src/paperless/tests/test_migration_replace_skip_archive_file.py
  src/paperless/tests/test_ocr_config.py
  src/paperless/tests/test_parser_utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Removes the profiling data
  docs/superpowers/plans/2026-04-03-search-performance.md
  docs/superpowers/plans/profiling-after-option1.txt
  docs/superpowers/plans/profiling-baseline.txt
Due: none

Chore: Resolves some zizmor reported code scan findings (#12516)
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/crowdin.yml
  .github/workflows/repo-maintenance.yml
  .github/zizmor.yml
Due: none

Fix: prevent duplicate parent tag IDs
  src-ui/src/app/components/common/input/tags/tags.component.spec.ts
  src-ui/src/app/components/common/input/tags/tags.component.ts
Due: frontend-node-24.x, frontend

Fix: prevent duplicate parent tag IDs (#12522)
  src-ui/src/app/components/common/input/tags/tags.component.spec.ts
  src-ui/src/app/components/common/input/tags/tags.component.ts
Due: frontend-node-24.x, frontend

Fixes copilot found issues, try to tune the filtering as suggested
  src/documents/search/_backend.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Clarify User permission scope in docs
  docs/usage.md
Due: none

Adds notes for where we can improve, if either fixes, features or a new release drop in from Tantivy
  src/documents/search/_backend.py
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: address more zizmor flags
  .github/dependabot.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/crowdin.yml
  .github/workflows/translate-strings.yml
  .github/zizmor.yml
Due: none

Chore: address more zizmor flags (#12529)
  .github/dependabot.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/crowdin.yml
  .github/workflows/translate-strings.yml
  .github/zizmor.yml
Due: none

Handle the final batch of zizmor warnings
  .github/workflows/ci-frontend.yml
Due: none

Bump playwright docker image in ci
  .github/workflows/ci-frontend.yml
Due: none

More rename
  src/documents/permissions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs
  docs/usage.md
Due: none

cleanup
  src/documents/permissions.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Respect new system status perms in UI too
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
Due: frontend-node-24.x, frontend

Rename
  src/documents/migrations/0019_alter_document_options.py
  src/documents/models.py
  src/documents/permissions.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix this test
  src-ui/src/app/services/permissions.service.spec.ts
Due: frontend-node-24.x, frontend

Update test_api_status.py
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

DRY
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add separate system status permission
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
  src-ui/src/app/services/permissions.service.ts
  src/documents/migrations/0019_alter_document_options.py
  src/documents/models.py
  src/documents/permissions.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_status.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Clarify this in dialgo
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.html
Due: frontend-node-24.x, frontend

Enhacement: add permission for viewing stats
  src/documents/migrations/0019_alter_document_options.py
  src/documents/models.py
  src/documents/permissions.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_status.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update permissions.py
  src/documents/permissions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Restore this, global stats shouldnt apply here
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fair nuff sonar
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
Due: frontend-node-24.x, frontend

Update permissions-select.component.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
Due: frontend-node-24.x, frontend

Fix test by making this specific like it should be
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
