Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Performance: Precompile scoped bytecode cache once per container start
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/dependencies.d/init-modify-user
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/dependencies.d/init-start
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/up
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/dependencies.d/init-compile-bytecode
Due: none

Performance: Precompile scoped bytecode cache once per container start (#13819)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/dependencies.d/init-modify-user
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/dependencies.d/init-start
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/up
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/dependencies.d/init-compile-bytecode
Due: none

Use tag pk accessors when removing inbox tags
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ensure remove inbox tag children on remove_inbox_tags (#14050)
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: derive _CONTENT_FILTER_PARAMS from DocumentFilterSet and search_fields instead of hand-maintaining it
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

perf: skip effective_content annotation on document list unless filtered on
  src/documents/serialisers.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes the new test failure and restricts doing the annotation even further, so content must have been requested to annotate even
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: address review feedback on effective_content annotation skip
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

CLean up the new test with the docstrings, handle the fields in one place
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fun with contenttype and caching. Compare only the queries spent on the documents themselves or else
  src/documents/tests/test_document_list_effective_content_annotation.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: skip effective_content annotation on document list unless required (#13789)
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: avoid unnecessary full-row fetches in batch permission assignment
  src/documents/bulk_edit.py
  src/documents/permissions.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: drop speculative row-chunking in bulk permission assignment, keep the query-batching fix
  src/documents/permissions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch guardian permission assignment in bulk-edit
  src/documents/bulk_edit.py
  src/documents/permissions.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Resolve every permission action before applying any of them
  src/documents/permissions.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Assert permission assignment does not scale with selection size
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use .distinct() for existing-grant lookup, drop flaky query-count invariant tests
  src/documents/permissions.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Mark empty-pks early-return in set_permissions_for_objects as no-cover
  src/documents/permissions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: batch permission assignment in bulk `set_permissions` (#13806)
  src/documents/bulk_edit.py
  src/documents/permissions.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: collapse the per-field and shared context CustomField caches into a single context-level cache
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: reuse resolved CustomField objects across drf-writable-nested's per-item revalidation
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Handles a bad client sending malformed JSON or non-int primary keys
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch CustomField lookups when validating a document's custom_fields
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: avoid per-instance CustomField reload in DocumentMetadataOverrides
  src/documents/data_models.py
  src/documents/tests/test_data_models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: fold the DocumentMetadataOverrides batching test into test_api_custom_fields.py instead of a new file
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_data_models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Improves the test to actually check the behaviour of the cache, rather than bypassing the serializer
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Reduces the complexity of this loop now that we know it is hashable
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: remove comment
  src/paperless_ai/client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correct text/stream compression workaround
  src/documents/tests/test_api_chat.py
  src/documents/views.py
  src/paperless/middleware.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_compression_middleware.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent saving changes to stale cached document object
  src-ui/src/app/services/open-documents.service.spec.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend-node-24.x, frontend

Fix: prevent saving changes to stale cached document object (#14065)
  src-ui/src/app/services/open-documents.service.spec.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

avoid replacing wrong version content, update in-place
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Start with some tests that fail, to illustrate
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

Show a warning with three buttons
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Store & restore the sleected version (and content) on switch
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
Due: frontend-node-24.x, frontend

Fix this mock
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

Prevent dropdown fire on same version
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
