Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

remove tester script again
  paperless-oidc.py
Due: none

feat(oidc): add support for app oidc
  src/paperless/settings.py
  src/paperless/strategies.py
  src/paperless/urls.py
Due: backend

apply lint
  src/paperless/strategies.py
Due: backend

add documentation for allauth headless
  docs/api.md
Due: none

change /api/oidc to /api/auth since it's technically wider
  src/paperless/urls.py
Due: backend

add basic unit test for DrfTokenStrategy
  src/paperless/tests/test_adapter.py
Due: backend

swithc url from _allauth to api/oidc
  src/paperless/urls.py
Due: backend

add tester script
  paperless-oidc.py
Due: none

Move url
  src/paperless/urls.py
Due: backend

Enhancement: Add support for app oidc (#11756)
  docs/api.md
  src/paperless/adapter.py
  src/paperless/settings.py
  src/paperless/tests/test_adapter.py
  src/paperless/urls.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Enhancement: Add configuration option to hide Archive Serial Number (ASN) in document details
  docs/configuration.md
  paperless.conf.example
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
  src/paperless/settings.py
Due: backend, frontend

lint
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend

Enhancement: Display ID in page header of document details
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend

fix: restore space between title and subtitle
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend

Add copy
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.spec.ts
  src-ui/src/app/components/common/page-header/page-header.component.ts
Due: frontend

Move truncate
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend

fix test
  src-ui/src/app/components/common/page-header/page-header.component.spec.ts
Due: frontend

re-align subtitle
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend

Tweak alignment again
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend

Update page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend

Tweakhancement: display document id, with copy (#11896)
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.scss
  src-ui/src/app/components/common/page-header/page-header.component.spec.ts
  src-ui/src/app/components/common/page-header/page-header.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Fix: correctly extract all ids for nested tags
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src/documents/views.py
Due: backend, frontend

tests
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
Due: frontend

Use change so keyboard natively supported
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
Due: frontend

Fix: correctly extract all ids for nested tags (#11888)
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src/documents/views.py
Due: backend, frontend

Fixup tests
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
Due: frontend

Add return type to _get_viewable_duplicates
  src/documents/serialisers.py
Due: backend

Dont use a list
  src/documents/serialisers.py
Due: backend

One more test fix
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
Due: frontend

Enhancement: support select all for management lists (#11889)
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend

Applied requested changes Line 662 could be further shortened by omitting the explicit mention of "groups" and referring to the claim var
  docs/configuration.md
Due: none

Enhancement: configurable SSO groups claim (#11841)
  docs/configuration.md
  src/paperless/settings.py
  src/paperless/signals.py
Due: backend

Use PositiveIntegerField
  src/documents/migrations/0006_sharelinkbundle.py
  src/documents/models.py
Due: backend

Fix merge duplication
  src/paperless/settings.py
Due: backend

Simplify unlink
  src/documents/tasks.py
Due: backend

Feature: allow duplicates with warnings, UI for discovery (#11815)
  docs/configuration.md
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/paperless-task.ts
  src/documents/consumer.py
  src/documents/migrations/0006_alter_document_checksum_unique.py
  src/documents/models.py
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/tests/test_api_tasks.py
  src/documents/tests/test_consumer.py
Due: backend, frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
