Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fix: increase checks-discovery-timeout for Wait for Docker Build
  .github/workflows/ci-release.yml
Due: none

refactor(matching): remove deprecated TODO and simplify fuzzy match return
  src/documents/matching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: convert chat component to signal-backed
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend-node-24.x, frontend

Fix (beta): convert chat component to signal-backed (#13152)
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend-node-24.x, frontend

Fix: more signal-backed conversions
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
  src-ui/src/app/components/common/input/number/number.component.ts
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
  src-ui/src/app/components/document-asn/document-asn.component.html
  src-ui/src/app/components/document-asn/document-asn.component.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

implement account switcher
  src-ui/messages.xlf
  src-ui/src/app/app.component.spec.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/switch-user-dialog/switch-user-dialog.component.html
  src-ui/src/app/components/common/switch-user-dialog/switch-user-dialog.component.scss
  src-ui/src/app/components/common/switch-user-dialog/switch-user-dialog.component.ts
  src-ui/src/app/data/user-profile.ts
  src-ui/src/app/interceptors/identity.interceptor.spec.ts
  src-ui/src/app/interceptors/identity.interceptor.ts
  src-ui/src/app/services/identity-change.service.spec.ts
  src-ui/src/app/services/identity-change.service.ts
  src-ui/src/app/services/profile.service.spec.ts
  src-ui/src/app/services/profile.service.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/documents/templates/paperless-ngx/base.html
  src/paperless/account_sessions.py
  src/paperless/migrations/0014_account_sessions.py
  src/paperless/migrations/0015_alter_accountsession_id_alter_accountsessiongroup_id_and_more.py
  src/paperless/models.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_account_sessions.py
  src/paperless/urls.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Feature: assign email metadata to custom fields on mail-consumed documents
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/mail-rule.ts
  src/paperless_mail/admin.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0005_mailrule_email_metadata_targets.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: dont allow archive version for share links when one doesnt exist
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: better handle saved view errors in dashboard widgets
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
Due: frontend-node-24.x, frontend

Fix: better handle saved view errors in dashboard widgets (#13164)
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: cache per-request effective-document resolution for thumb/metadata/preview
  src/documents/conditionals.py
  src/documents/tests/test_version_conditionals.py
  src/documents/versioning.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: dont allow archive version for share links when one doesnt exist (#13163)
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix native document previews in Chrome
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

Update document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend-node-24.x, frontend

Performance: use NgOptimizedImage for thumbnail lazy loading
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
Due: frontend-node-24.x, frontend

Fix: cache per-request effective-document resolution for thumb/metadata/preview (#13166)
  src/documents/conditionals.py
  src/documents/tests/test_version_conditionals.py
  src/documents/versioning.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: use NgOptimizedImage for thumbnail lazy loading (#13169)
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
Due: frontend-node-24.x, frontend

Add DB indexes for common query/sort patterns
  src/documents/migrations/0022_add_perf_indexes.py
  src/documents/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change: update root modified timestamp on version
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Also delete and update
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Only download new mail, and remember mail that yields no document
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add jitter to the scheduled mail check to avoid a thundering herd
  docs/configuration.md
  src/paperless/settings/__init__.py
  src/paperless_mail/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: named counters for independent ASN sequences
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/edit-dialog/named-counter-edit-dialog/named-counter-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/named-counter-edit-dialog/named-counter-edit-dialog.component.scss
  src-ui/src/app/components/common/edit-dialog/named-counter-edit-dialog/named-counter-edit-dialog.component.ts
  src-ui/src/app/components/common/input/number/number.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/named-counter-list/named-counter-list.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/named-counter.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/rest/named-counter.service.spec.ts
  src-ui/src/app/services/rest/named-counter.service.ts
  src/documents/admin.py
  src/documents/migrations/0022_namedcounter.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_namedcounters.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

i18n: extract new translation strings for named counters
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

docs: document named counters in usage guide
  docs/usage.md
Due: none

test: add namedcounter permissions to permissions service test fixture
  src-ui/src/app/services/permissions.service.spec.ts
Due: frontend-node-24.x, frontend

fix: address Sonar issues in named counter files
  src-ui/src/app/components/common/edit-dialog/named-counter-edit-dialog/named-counter-edit-dialog.component.scss
  src-ui/src/app/components/common/edit-dialog/named-counter-edit-dialog/named-counter-edit-dialog.component.ts
  src-ui/src/app/services/rest/named-counter.service.spec.ts
Due: frontend-node-24.x, frontend

test: improve coverage for named counters feature
  src-ui/src/app/components/common/edit-dialog/named-counter-edit-dialog/named-counter-edit-dialog.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/named-counter-list/named-counter-list.component.spec.ts
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_namedcounters.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Performance: Add DB indexes for common query/sort patterns (#13167)
  src/documents/migrations/0022_add_perf_indexes.py
  src/documents/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent tag assignment from reverting other pending workflow assignments
  src/documents/tests/test_workflows.py
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent tag assignment from reverting other pending workflow assignments (#13178)
  src/documents/tests/test_workflows.py
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change: update root modified timestamp on version changes (#13170)
  src/documents/consumer.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_consumer.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (beta): compute num_notes via a subquery instead of Count()+distinct()
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (beta): short-circuit ObjectOwnedOrGrantedPermissionsFilter for superusers
  src/documents/filters.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (beta): compute num_notes via a subquery instead of Count()+distinct() (#13182)
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (beta): short-circuit ObjectOwnedOrGrantedPermissionsFilter for superusers (#13183)
  src/documents/filters.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
