Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Update config.component.spec.ts
  src-ui/src/app/components/admin/config/config.component.spec.ts
Due: frontend-node-24.x, frontend

More tests for remote_ocr_mode
  src/paperless/tests/test_remote_ocr_config.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

uses_remote_service + allow_remote to allow opt-in / out of remote OCR
  src/paperless/parsers/__init__.py
  src/paperless/parsers/registry.py
  src/paperless/parsers/remote.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

remote_ocr_mode config setting
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/paperless/config.py
  src/paperless/migrations/0015_applicationconfiguration_remote_ocr_mode.py
  src/paperless/models.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Use get_choice_from_env
  src/paperless/checks.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Format remote OCR mode check tests
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add to parser dev docs
  docs/development.md
Due: none

Backend stuff for remote ocr reprocess, add to bulk edit pass in from ui settings
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_uisettings.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs
  docs/api.md
  docs/usage.md
Due: none

Ok, frontend reprocess remote option
  src-ui/src/app/components/common/confirm-dialog/reprocess-confirm-dialog/reprocess-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/reprocess-confirm-dialog/reprocess-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/reprocess-confirm-dialog/reprocess-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
Due: frontend-node-24.x, frontend

Frotnend workflow stuff
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-action.ts
Due: frontend-node-24.x, frontend

Fix dynamic action fields thing
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

And docs
  docs/usage.md
Due: none

Actually, fix the action dropdown thing
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Fix migration
  src/documents/migrations/0024_alter_workflowaction_type.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix this validation thing, and we have to check existing actions
  src/documents/serialisers.py
  src/documents/tests/test_api_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ok! Backend stuff for the remote ocr workflow
  src/documents/consumer.py
  src/documents/migrations/0023_alter_workflowaction_type.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch CustomField/Document lookups in modify_custom_fields
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Allow parsers to declare uses remote, and remote ocr_mode (#13634)
  docs/configuration.md
  docs/development.md
  docs/usage.md
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/data/paperless-config.ts
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/tasks.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_tasks.py
  src/paperless/config.py
  src/paperless/migrations/0015_applicationconfiguration_remote_ocr_mode.py
  src/paperless/models.py
  src/paperless/parsers/__init__.py
  src/paperless/parsers/registry.py
  src/paperless/parsers/remote.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_registry.py
  src/paperless/tests/test_remote_ocr_config.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Finally, the remote ocr workflow (#13637)
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/consumer.py
  src/documents/migrations/0024_alter_workflowaction_type.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Remote ocr reprocess (#13636)
  docs/api.md
  docs/usage.md
  src-ui/src/app/components/common/confirm-dialog/reprocess-confirm-dialog/reprocess-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/reprocess-confirm-dialog/reprocess-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/reprocess-confirm-dialog/reprocess-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_uisettings.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Perf: batch id resolution for TagsField and friends
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Move toggler to bottom
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Update app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Yep, 4px lower
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Center search bar, make wider
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Tweak mobile page header
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.scss
Due: frontend-node-24.x, frontend

Align header stuff better on mobile
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix page header question mark button spacing
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend-node-24.x, frontend

Fix: use icon for navbar toggler, follows color
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Fix: slim sidebar badge position
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix documentation / label padding
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Equalize mobile header vertical padding
  src-ui/src/app/components/common/page-header/page-header.component.html
Due: frontend-node-24.x, frontend

tighten nav underline mobile vertical padding
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Tweak: more misc UI tweaks (#13783)
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.scss
  src-ui/src/main.ts
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Ok the ai workflow module, actually does the thing
  src/documents/workflows/ai.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

The object getters in matching need to accept none for workflows
  src/paperless_ai/matching.py
  src/paperless_ai/tests/test_matching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Codex please write backend tests thx
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_tasks.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
