Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Chore: resolve npm provenance issues with chokidar and semver
  src-ui/pnpm-workspace.yaml
Due: frontend-node-24.x, frontend

Chore: resolve npm provenance issues with chokidar and semver (#13323)
  src-ui/pnpm-workspace.yaml
Due: frontend-node-24.x, frontend

Chore: udpate pnpm, add blockExoticSubdeps
  src-ui/package.json
  src-ui/pnpm-workspace.yaml
Due: frontend-node-24.x, frontend

Fix: detect duplicates when a pre-consume script modifies the document
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent pending tasks refresh from overwriting dismissed
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
Due: frontend-node-24.x, frontend

Fix: pass LLM output language to chat if specified
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_ai/chat.py
  src/paperless_ai/tests/test_chat.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(doc): inconsistent heading level
  docs/configuration.md
Due: none

Documentation: fix PAPERLESS_AI_LLM_OUTPUT_LANGUAGE heading level (#13341)
  docs/configuration.md
Due: none

Remove un-needed or None
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: pass LLM output language to chat if specified (#13340)
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_ai/chat.py
  src/paperless_ai/tests/test_chat.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: select_related/prefetch_related for the full LLM index rebuild path
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: scope bulk_update_documents' LLM index refresh to the edited document ids instead of the whole library
  src/documents/tasks.py
  src/documents/tests/test_tasks.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: select_related/prefetch_related for the scoped LLM index batch
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: address Copilot review findings on LLM index scoping
  src/documents/tasks.py
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: Scope llm index updates to actually modified documents (#13322)
  src/documents/tasks.py
  src/documents/tests/test_tasks.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: more performant filtering diacritic normalization
  src-ui/src/app/utils/text-search.spec.ts
  src-ui/src/app/utils/text-search.ts
Due: frontend-node-24.x, frontend

Fix: dedupe permission-visible documents when combined with multi-tag ALL filtering (#13331)
  src/documents/filters.py
  src/documents/permissions.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: dedupe permission-visible documents when combined with multi-tag ALL filtering (#13331) (#13345)
  src/documents/filters.py
  src/documents/permissions.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: prefetch notes and custom fields for LLM index text building
  src/paperless_ai/embedding.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: prefetch notes and custom fields for LLM index text building (#13350)
  src/paperless_ai/embedding.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: more performant filtering diacritic normalization (#13347)
  src-ui/src/app/utils/text-search.spec.ts
  src-ui/src/app/utils/text-search.ts
Due: frontend-node-24.x, frontend

Fix: don't skip OCR/archive for tagged PDFs with no actual text (#13349)
  docs/configuration.md
  src/documents/consumer.py
  src/documents/tests/test_consumer_archive.py
  src/paperless/parsers/tesseract.py
  src/paperless/tests/parsers/test_tesseract_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent pdfjs highlight scrolling from affecting the entire page
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
Due: frontend-node-24.x, frontend

Fix: don't skip OCR/archive for tagged PDFs with no actual text (#13351)
  docs/configuration.md
  src/documents/consumer.py
  src/documents/tests/test_consumer_archive.py
  src/paperless/parsers/tesseract.py
  src/paperless/tests/parsers/test_tesseract_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent pdfjs highlight scrolling from affecting the entire page (#13355)
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Bump version to 3.0.4
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.0.4 - GHA
  docs/changelog.md
Due: none

Fix: fix Enter selection in search autocomplete
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: fix Enter selection in search autocomplete (#13361)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

total unused too
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
Due: frontend-node-24.x, frontend

Ah, the spinner
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/services/tasks.service.ts
Due: frontend-node-24.x, frontend

Dont need this either
  src-ui/src/app/services/tasks.service.spec.ts
Due: frontend-node-24.x, frontend

Chore/fix: refactor frontend task service (#13365)
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
Due: frontend-node-24.x, frontend

Fix: close non-atomic long-lived connections in before_task_publish
  src/documents/signals/handlers.py
  src/documents/tests/test_task_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: close non-atomic db connections in before_task_publish (#13366)
  src/documents/signals/handlers.py
  src/documents/tests/test_task_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: point-delete vector store chunks by id instead of a document_id scan
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
