Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Drops the migration related stuff too. Just in case we want it again or it confuses people
  src/documents/migrations/0020_drop_celery_results.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: annotate tasks_summary_retrieve as array of TaskSummarySerializer
  src/documents/tests/test_api_schema.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: annotate tasks_active_retrieve as array of TaskSerializerV10
  src/documents/tests/test_api_schema.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Restore task running to superuser only
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes the acknowledge/dismiss all stuff
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
  src/documents/tests/test_api_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Aligns v10 and v9 task permissions with each other
  src/documents/tests/test_api_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: prevent intermediate change event when CustomFieldQueryAtom operator changes type
  src-ui/src/app/utils/custom-field-query-element.ts
Due: frontend-node-24.x, frontend

Add regression test
  src-ui/src/app/utils/custom-field-query-element.spec.ts
Due: frontend-node-24.x, frontend

Fix: prevent intermediate change event when CustomFieldQueryAtom operator changes type (#12597)
  src-ui/src/app/utils/custom-field-query-element.spec.ts
  src-ui/src/app/utils/custom-field-query-element.ts
Due: frontend-node-24.x, frontend

Fix: Date filtering issues
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix added date visibility
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
Due: frontend-node-24.x, frontend

Fix: added date check visibility (#12600)
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
Due: frontend-node-24.x, frontend

Fixes exact custom field monetary exact searching
  src/documents/filters.py
  src/documents/tests/test_api_filter_by_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Oops, it should be dark
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
Due: frontend-node-24.x, frontend

Fix: retain backwards compatibility with natural-date keywords in tantivy
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cover the last quarter
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(文档下载): 修正权限检查并添加日期到压缩文件名
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just drop the underscore ones, duh
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Normalize
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use factory
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix docs too
  docs/usage.md
Due: none

Update test_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update test_api_search.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use constants
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add GitHub Actions workflow for Python package publishing
  .github/workflows/python-publish.yml
Due: none

feat: add MiniMax provider support
  src/paperless/migrations/0010_alter_applicationconfiguration_llm_backend.py
  src/paperless/models.py
  src/paperless/settings/__init__.py
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add anti-slop job PR template requirement
  .github/workflows/pr-bot.yml
Due: none

Fix (dev): retain backwards compatibility with natural-date keywords in tantivy (#12602)
  docs/usage.md
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Short blurb just to warn users about the tasks being cleared
  docs/migration-v3.md
Due: none

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

fix: correct Metadata schema — array fields and optional archive fields
  src/documents/tests/test_api_schema.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: annotate share_link_bundles_rebuild_create with 400 error response
  src/documents/tests/test_api_schema.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: annotate processed_mail_bulk_delete_create with correct response schema
  src/documents/tests/test_api_schema.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: annotate storage_paths_test_create response as string
  src/documents/tests/test_api_schema.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

refactor: use http.HTTPStatus names in extend_schema response annotations
  src/documents/tests/test_api_schema.py
  src/documents/views.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test: cover archive_metadata items and nullable assertions in TestMetadataSchema
  src/documents/tests/test_api_schema.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Converts all call sites and test asserts to use apply_async and headers
  src/documents/barcodes.py
  src/documents/bulk_edit.py
  src/documents/management/commands/document_consumer.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_share_link_bundles.py
  src/documents/tests/test_tag_hierarchy.py
  src/documents/tests/test_task_signals.py
  src/documents/tests/test_workflows.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/documents/workflows/actions.py
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Lints my added typing
  src/documents/tests/test_api_schema.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Update API schema fields (#12611)
  src/documents/tests/test_api_schema.py
  src/documents/views.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
