Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

feat(search): read a query back into the advanced search editor
  src-ui/src/app/utils/advanced-search-query.spec.ts
  src-ui/src/app/utils/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Move advanced to the bottom
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Advanced search dialog
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.html
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.scss
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.spec.ts
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.ts
  src-ui/src/app/data/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Performance: Drops fields from the MLPClassifier that are training only before pickling (#14114)
  src/documents/classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Hook up to the filter bar
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Chore: move advanced search to the bottom in the filter editor
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix tests
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
Due: frontend-node-24.x, frontend

Update advanced-search-query.ts
  src-ui/src/app/data/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Chore: move advanced search to the bottom in the filter editor (#14130)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Preprocesses classifier content with Tantivy instead of NLTK
  .github/dependabot.yml
  .github/workflows/ci-backend.yml
  Dockerfile
  docs/configuration.md
  docs/setup.md
  pyproject.toml
  src/documents/_snowball_stopwords.py
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/tests/samples/preprocessed_content_advanced.txt
  src/documents/tests/test_caching.py
  src/documents/tests/test_classifier.py
  src/paperless/settings/__init__.py
  src/paperless/tests/settings/test_settings.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Copies packages instead of hardlinking them in backend CI, some NLTK thing
  .github/workflows/ci-backend.yml
Due: none

Adds a normalization to NFC to better fit what Tantivy expects
  src/documents/classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: Preprocess classifier text with Tantivy instead of NLTK (#14127)
  .github/dependabot.yml
  .github/workflows/ci-backend.yml
  Dockerfile
  docs/configuration.md
  docs/setup.md
  pyproject.toml
  src/documents/_snowball_stopwords.py
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/tests/samples/preprocessed_content_advanced.txt
  src/documents/tests/test_caching.py
  src/documents/tests/test_classifier.py
  src/paperless/settings/__init__.py
  src/paperless/tests/settings/test_settings.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: centralized management of share links + bundles (#14115)
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.scss
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.ts
  src-ui/src/app/components/manage/share-links/share-links.component.html
  src-ui/src/app/components/manage/share-links/share-links.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-links.component.ts
  src-ui/src/app/data/share-link.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/share-link-bundle.service.spec.ts
  src-ui/src/app/services/rest/share-link-bundle.service.ts
  src-ui/src/styles.scss
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Feature: match CJK terms through their bigram fields in place
  pyproject.toml
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_cjk_emit_registry.py
  src/documents/tests/search/test_cjk_leaf_rewrite.py
  src/documents/tests/search/test_cjk_run_extraction.py
  src/documents/tests/search/test_cjk_widening.py
  src/documents/tests/search/test_conjunctive_negations.py
  src/documents/tests/search/test_default_search_fields_guard.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_query_negation.py
  src/documents/tests/search/test_unicode_normalization.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: match fuzzy terms in place inside the parsed query
  docs/configuration.md
  pyproject.toml
  src/documents/search/_query.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_any_of.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_cjk_leaf_rewrite.py
  src/documents/tests/search/test_cjk_run_extraction.py
  src/documents/tests/search/test_cjk_widening.py
  src/documents/tests/search/test_conjunctive_negations.py
  src/documents/tests/search/test_fuzzy_alternative.py
  src/documents/tests/search/test_fuzzy_scoring.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_fuzzy_widening.py
  src/documents/tests/search/test_negated_leaf_ids.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_widen_leaf.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Move the search tests onto the shared indexing fixtures
  src/documents/tests/conftest.py
  src/documents/tests/search/_ast_helpers.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_cjk_emit_registry.py
  src/documents/tests/search/test_cjk_leaf_rewrite.py
  src/documents/tests/search/test_compact_date_forms.py
  src/documents/tests/search/test_date_keyword_phrase_removal.py
  src/documents/tests/search/test_date_keyword_timezone.py
  src/documents/tests/search/test_documented_syntax.py
  src/documents/tests/search/test_error_routing.py
  src/documents/tests/search/test_exists_on_json_fields.py
  src/documents/tests/search/test_fuzzy_alternative.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_highlight_query_guard.py
  src/documents/tests/search/test_json_field_prefixes.py
  src/documents/tests/search/test_negated_leaf_ids.py
  src/documents/tests/search/test_pattern_stemming.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_query_negation.py
  src/documents/tests/search/test_widen_leaf.py
  src/documents/tests/test_api_search_errors.py
  src/documents/tests/test_api_search_query_length.py
  src/documents/tests/test_api_search_unterminated_date_range.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: Match fuzzy terms in place inside the parsed query (#14157)
  docs/configuration.md
  pyproject.toml
  src/documents/search/_query.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_any_of.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_cjk_leaf_rewrite.py
  src/documents/tests/search/test_cjk_run_extraction.py
  src/documents/tests/search/test_cjk_widening.py
  src/documents/tests/search/test_conjunctive_negations.py
  src/documents/tests/search/test_fuzzy_alternative.py
  src/documents/tests/search/test_fuzzy_scoring.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_fuzzy_widening.py
  src/documents/tests/search/test_negated_leaf_ids.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_widen_leaf.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: match CJK terms through their bigram fields in place (#14156)
  pyproject.toml
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_cjk_emit_registry.py
  src/documents/tests/search/test_cjk_leaf_rewrite.py
  src/documents/tests/search/test_cjk_run_extraction.py
  src/documents/tests/search/test_cjk_widening.py
  src/documents/tests/search/test_conjunctive_negations.py
  src/documents/tests/search/test_default_search_fields_guard.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_query_negation.py
  src/documents/tests/search/test_unicode_normalization.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Move the search tests onto the shared indexing fixtures (#14159)
  src/documents/tests/conftest.py
  src/documents/tests/search/_ast_helpers.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_cjk_emit_registry.py
  src/documents/tests/search/test_cjk_leaf_rewrite.py
  src/documents/tests/search/test_compact_date_forms.py
  src/documents/tests/search/test_date_keyword_phrase_removal.py
  src/documents/tests/search/test_date_keyword_timezone.py
  src/documents/tests/search/test_documented_syntax.py
  src/documents/tests/search/test_error_routing.py
  src/documents/tests/search/test_exists_on_json_fields.py
  src/documents/tests/search/test_fuzzy_alternative.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_highlight_query_guard.py
  src/documents/tests/search/test_json_field_prefixes.py
  src/documents/tests/search/test_negated_leaf_ids.py
  src/documents/tests/search/test_pattern_stemming.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_query_negation.py
  src/documents/tests/search/test_widen_leaf.py
  src/documents/tests/test_api_search_errors.py
  src/documents/tests/test_api_search_query_length.py
  src/documents/tests/test_api_search_unterminated_date_range.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

The hard part, wiring into the doc list (and bulk editor)
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/document-list-view.service.ts
Due: frontend-node-24.x, frontend

Tests for the frontend wiring
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
Due: frontend-node-24.x, frontend

Backend support for excluded_documents
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Now use the excluded to route to getting fresh counts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

Sweet now re-use that for selection_data
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Super basic frontend plumbing
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Agree sonar
  src-ui/src/app/services/document-list-view.service.ts
Due: frontend-node-24.x, frontend

Enhancement (QoL): support deselecting single items from "select all" (#14117)
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: use grammar-enforced structured output for openai-like AI backends
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_ai_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: don't redirect to signup on first install when regular login is disabled
  src/documents/templates/account/login.html
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: don't redirect to signup on first install when regular login is disabled (#14165)
  src/documents/templates/account/login.html
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Remove unused test helpers
  src/documents/tests/conftest.py
  src/documents/tests/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Move model factories to the shared test layer
  src/documents/tests/conftest.py
  src/documents/tests/management/test_management_sanity_checker.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/search/test_documented_syntax.py
  src/documents/tests/search/test_highlight_query_guard.py
  src/documents/tests/search/test_json_field_prefixes.py
  src/documents/tests/search/test_lock_backoff.py
  src/documents/tests/test_admin.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_api_status.py
  src/documents/tests/test_api_tasks.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_filepath_nfc.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/test_management_retagger.py
  src/documents/tests/test_matchables.py
  src/documents/tests/test_models.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/tests/test_permitted_objects_filter.py
  src/documents/tests/test_share_link_bundles.py
  src/documents/tests/test_task_signals.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_chat.py
  src/paperless_ai/tests/test_matching.py
  src/paperless_ai/tests/test_taxonomy.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/tests/test_process_mail_accounts_overlap.py
  src/paperless_testing/factories.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
