Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Backend tests
  src/documents/tests/test_api_share_link_bundles.py
Due: backend

Remove standalone
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
Due: frontend

Consistent naming to Share Link Bundle
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.scss
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/share-bundle.ts
  src-ui/src/app/data/share-link-bundle.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
  src-ui/src/app/services/rest/share-link-bundle.service.ts
  src/documents/admin.py
  src/documents/filters.py
  src/documents/migrations/1075_sharelinkbundle.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless/urls.py
Due: backend, frontend

Dialog tweaks
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
Due: frontend

Random cleanup stuff
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.html
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Generic warning
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
Due: frontend

Backend initial stuff
  src-ui/src/app/data/share-bundle.ts
  src/documents/admin.py
  src/documents/filters.py
  src/documents/migrations/1075_sharebundle.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend, frontend

Trim slug in zip name
  src/documents/views.py
Due: backend

Initial task for building
  src-ui/src/app/data/share-bundle.ts
  src/documents/migrations/1075_sharebundle.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings.py
Due: backend, frontend

Update 1075_sharelinkbundle.py
  src/documents/migrations/1075_sharelinkbundle.py
Due: backend

More backend coverage, rename
  src/documents/tests/test_api_share_link_bundles.py
  src/documents/tests/test_migration_share_link_bundle.py
  src/documents/tests/test_share_link_bundles.py
Due: backend

Sonar fixes
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Add send menu to bulk editor
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Unify labels
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/data/share-bundle.ts
Due: frontend

Frontend coverage for bulk editor changes, sharelink bundle service
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/services/rest/share-link-bundle.service.spec.ts
Due: frontend

Coverage
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Skeleton bundle component some more
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/share-bundle.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
Due: frontend

Basic wiring of existing bundles
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.spec.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
Due: frontend

Cleanup expired task
  src/documents/tasks.py
  src/paperless/settings.py
Due: backend

Nice badge
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.html
Due: frontend

Docs
  docs/configuration.md
  docs/usage.md
Due: none

More testing
  src/documents/tests/test_share_link_bundles.py
Due: backend

Initial result display in create dialog
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Update serialisers.py
  src/documents/serialisers.py
Due: backend

Use titles not IDs
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Manage dialog polling
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
Due: frontend

Skeleton share bundle component
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.scss
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/share-link.ts
Due: frontend

Use a confirm button
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.ts
Due: frontend

Frontend tests
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.spec.ts
Due: frontend

Fix scheduled tasks tests
  src/paperless/tests/test_settings.py
Due: backend

Better explanation
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
Due: frontend

Enhancement: Add 'any of' workflow trigger filters
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-trigger.ts
  src/documents/matching.py
  src/documents/migrations/1075_workflowtrigger_filter_has_any_correspondents_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_workflows.py
Due: backend, frontend

Run Tag tree updates once per transaction
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

Revert "Run Tag tree updates once per transaction"
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

Optimize tag children retrieval
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Revert "A ChatGPT script for testing"
  scripts/tag_perf_probe.py
Due: none

A ChatGPT script for testing
  scripts/tag_perf_probe.py
Due: none

Really working on this new consumer now
  pyproject.toml
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
  uv.lock
Due: backend

Other things depend on this
  src/paperless/settings.py
Due: backend

Re-works the testing to resolve warnings. See about CI?
  src/documents/tests/test_management_consumer.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
