Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix validate document link targets
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: require view permission for more-like search
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: suggest corrections only if visible results
  src/documents/index.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 2.20.13
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v2.20.13 - GHA
  docs/changelog.md
Due: none

Fix
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
Due: frontend-node-24.x, frontend

Frontend use the new integrated selection data
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/results.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Update api-dashboard3.har
  src-ui/e2e/dashboard/requests/api-dashboard3.har
Due: frontend-node-24.x, frontend

Tests for include_selection_data
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Support include_selection_data in document list/search
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update changelog for version 2.20.13
  docs/changelog.md
Due: none

Fix validation of document link targets
  docs/changelog.md
Due: none

Fix: validate date CF value
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update test_api_custom_fields.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: validate date CF value in serializer (#12410)
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: default correspondent matching to exact
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: default mail -created correspondent matching to exact (#12414)
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add Prometheus /metrics endpoint for paperless_status_* metrics
  pyproject.toml
  src/documents/prometheus.py
  src/documents/status.py
  src/documents/tests/test_prometheus.py
  src/documents/views.py
  src/paperless/settings/__init__.py
  src/paperless/urls.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: add documentation for Prometheus /metrics endpoint
  docs/advanced_usage.md
  docs/api.md
  docs/configuration.md
Due: none

Re-enable PROMETHEUS_METRICS_ENABLED feature gate on /metrics endpoint
  src/documents/prometheus.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Inital documentation updates for developing a plugin
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/development.md
Due: none

Adds a section about how the 2 install types can add external plugins
  docs/advanced_usage.md
Due: none

Moves the date parsing plugin section under the extending section
  docs/development.md
Due: none

Documentation: clarify barcode file type support
  docs/advanced_usage.md
Due: none

Instead of manual temporary directory management, use a context manager
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Transitions to SHA256 based checksums
  src/documents/consumer.py
  src/documents/management/commands/document_exporter.py
  src/documents/migrations/0017_sha256_checksums.py
  src/documents/models.py
  src/documents/sanity_checker.py
  src/documents/tasks.py
  src/documents/tests/conftest.py
  src/documents/tests/factories.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
  src/documents/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes logging so I can see it
  src/documents/migrations/0017_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds a docstring that an IDE will render better
  src/documents/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Handles the rename of the migration
  src/documents/migrations/0016_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Batch based iteration and bulk updates, with chunked file reading
  src/documents/migrations/0017_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Linting
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't silently drop the change_groups and switch to a couple slightly more efficient implementations
  src/documents/consumer.py
  src/documents/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Probably a good test for the migration
  src/documents/tests/test_migration_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Reset pk sequences when done
  src/documents/tests/test_migration_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
