Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

refactor: enhance approvals component for improved data handling and clarity
  src-ui/src/app/components/admin/approval/approvals.component.html
  src-ui/src/app/components/admin/approval/approvals.component.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/services/approvals.service.ts
  src/documents/filters.py
  src/documents/views.py
Due: backend, frontend

refactor: update line numbers in messages.xlf for improved context accuracy
  src-ui/messages.xlf
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend

refactor: update query filter in views.py to include submitted documents for improved user context
  src/documents/views.py
Due: backend

Fix devcontainer pnpm task
  .devcontainer/vscode/tasks.json
Due: none

Chore: only use single trigger for pr bot
  .github/workflows/pr-bot.yml
Due: none

Fixhancement: check more permissions for status consumer messages
  src-ui/src/app/data/websocket-progress-message.ts
  src-ui/src/app/services/websocket-status.service.spec.ts
  src-ui/src/app/services/websocket-status.service.ts
  src/documents/consumer.py
  src/paperless/consumers.py
Due: backend, frontend

Documentation: add note that actions can modify the original
  docs/usage.md
Due: none

Add a test for this too
  src/paperless/tests/test_websockets.py
Due: backend

Fixhancement: check more permissions for status consumer messages (#9804)
  src-ui/src/app/data/websocket-progress-message.ts
  src-ui/src/app/services/websocket-status.service.spec.ts
  src-ui/src/app/services/websocket-status.service.ts
  src/documents/consumer.py
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

add .pnpm-store to gitignore
  .gitignore
Due: none

Fix permissions of mounts in the devcontainer
  .devcontainer/vscode/tasks.json
Due: none

refactor: increase name field length in multiple models for improved data capacity
  src/documents/migrations/1128_alter_archivefont_name_alter_correspondent_name_and_more.py
  src/documents/migrations/1129_alter_archivefont_name_alter_correspondent_name_and_more.py
  src/documents/models.py
Due: backend

refactor: introduce DELAY_OCR setting for configurable delay in parsers
  src/edoc/settings.py
  src/edoc_ocr_custom/parsers.py
Due: backend

refactor: ensure DELAY_OCR setting is parsed as an integer for consistent delay calculation
  src/edoc_ocr_custom/parsers.py
Due: backend

Fix: always update classifier task result
  src/documents/tasks.py
Due: backend

refactor: remove unused SESSION_ENGINE setting to streamline configuration
  src/edoc/settings.py
Due: backend

refactor: update SESSION_ENGINE to use cached session backend for improved performance
  src/edoc/settings.py
Due: backend

Fix: always update classifier task result (#9817)
  src/documents/tasks.py
Due: backend

Fix: fix single select in filterable dropdowns when editing
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Fix: fix single select in filterable dropdowns when editing (#9834)
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

refactor: implement token generation and verification for secure document processing
  src/documents/common.py
  src/documents/parsers.py
  src/documents/resources/fonts/arial-font/ARIBL0.ttf
  src/documents/resources/fonts/arial-font/ArialTh.ttf
  src/documents/resources/fonts/arial-font/Arialn.ttf
  src/documents/resources/fonts/arial-font/GEO_AI__.TTF
  src/documents/resources/fonts/arial-font/G_ari_bd.TTF
  src/documents/resources/fonts/arial-font/G_ari_i.TTF
  src/documents/resources/fonts/arial-font/arial.ttf
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/views.py
  src/edoc/settings.py
  src/edoc/urls.py
  src/edoc_ocr_custom/parsers.py
Due: backend

refactor: add max_analyzed_offset parameter to highlight function for improved performance
  src/documents/index.py
Due: backend

refactor: improve code formatting and readability in common.py
  src/documents/common.py
Due: backend

refactor: add TaskType enum for OCR task types and update EdocTask model
  src/documents/models.py
Due: backend

refactor: add 'type' field to EdocTask model for OCR task type selection
  src/documents/migrations/1130_edoctask_type.py
Due: backend

refactor: enhance EdocTask handling by adding task_id support and updating token generation
  src/documents/common.py
  src/documents/consumer.py
  src/documents/parsers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/views.py
  src/edoc_ocr_custom/parsers.py
Due: backend

refactor: update font path in render_pdf_ocr function to use BASE_DIR for improved resource management
  src/edoc_ocr_custom/parsers.py
Due: backend

move font
  resources/fonts/arial-font/ARIBL0.ttf
  resources/fonts/arial-font/ArialTh.ttf
  resources/fonts/arial-font/Arialn.ttf
  resources/fonts/arial-font/GEO_AI__.TTF
  resources/fonts/arial-font/G_ari_bd.TTF
  resources/fonts/arial-font/G_ari_i.TTF
  resources/fonts/arial-font/arial.ttf
Due: none

refactor: update font path in parsers.py to use custom font directory for improved resource management
  src/edoc_ocr_custom/fonts/arial-font/ARIBL0.ttf
  src/edoc_ocr_custom/fonts/arial-font/ArialTh.ttf
  src/edoc_ocr_custom/fonts/arial-font/Arialn.ttf
  src/edoc_ocr_custom/fonts/arial-font/GEO_AI__.TTF
  src/edoc_ocr_custom/fonts/arial-font/G_ari_bd.TTF
  src/edoc_ocr_custom/fonts/arial-font/G_ari_i.TTF
  src/edoc_ocr_custom/fonts/arial-font/arial.ttf
  src/edoc_ocr_custom/parsers.py
Due: backend

Trim off the path portion so the comparision can properly skip
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
Due: none

Fix: Trim off the path portion so the comparision can properly skip (#9839)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
Due: none

Fix: correctly handle empty user for old notes api format
  src/documents/serialisers.py
Due: backend
