Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Suggestions dropdown
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.scss
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document-suggestions.ts
  src/documents/ai/matching.py
  src/documents/views.py
Due: backend, frontend

Rename config
  src/documents/views.py
  src/paperless/settings.py
Due: backend

Messing with a suggest button
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
Due: frontend

Refine the suggestions dropdown ui a bit
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
Due: frontend

Hook up the add buttons
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Refactor
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
Due: backend

Correct object retrieval
  src/paperless/ai/matching.py
Due: backend

Move module
  src/paperless/ai/__init__.py
  src/paperless/ai/client.py
  src/paperless/ai/llm_classifier.py
  src/paperless/ai/matching.py
Due: backend

Backend tests
  src/paperless/ai/matching.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
  src/paperless/tests/test_ai_matching.py
Due: backend

Invalidate llm suggestion cache on doc save
  src/documents/caching.py
  src/documents/signals/handlers.py
Due: backend

Fix
  src/documents/views.py
  src/paperless/ai/matching.py
  src/paperless/tests/test_ai_matching.py
Due: backend

Automatically remove suggestions after add
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Cleaner auto-remove
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Test views, caching
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend

Pass AI enabled to frontend
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
Due: backend, frontend

Basic handling of non-AI response
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
Due: frontend

Use a frontend config
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
Due: backend, frontend

Use password and select config fields
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/data/paperless-config.ts
  src/paperless/serialisers.py
Due: backend, frontend

Docs
  docs/configuration.md
  docs/index.md
  docs/usage.md
Due: none

Fix ollama, fix RAG
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
Due: backend

llamaindex vector index, llmindex mangement command
  docker/install_management_commands.sh
  docker/rootfs/usr/local/bin/document_llmindex
  pyproject.toml
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/embedding.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  uv.lock
Due: backend

RAG into suggestions
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/rag.py
Due: backend

Add backend settings to frontend config
  src-ui/src/app/data/paperless-config.ts
Due: frontend

Tweak ollama timeout, prompt
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
Due: backend

Individual doc chat
  src/documents/views.py
  src/paperless/ai/chat.py
Due: backend

Better encapsulate backends, use llama_index OpenAI
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
  src/paperless/ai/llms.py
Due: backend

Super basic doc chat
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/ai/client.py
  src/paperless/ai/indexing.py
Due: backend

Just some docs
  docs/configuration.md
  docs/usage.md
Due: none

Unify, respect perms
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
Due: backend

Fixup some tests
  src/documents/tests/test_api_app_config.py
  src/paperless/ai/llms.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
Due: backend

Backend streaming chat
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/chat.py
  src/paperless/ai/llms.py
  src/paperless/urls.py
Due: backend

Trim nodes
  src/paperless/ai/chat.py
Due: backend

Fix naming
  docs/configuration.md
  src/paperless/ai/embedding.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
Due: backend

Just use the built-in ollama LLM class of course
  pyproject.toml
  src/paperless/ai/chat.py
  src/paperless/ai/client.py
  src/paperless/ai/llms.py
  src/paperless/tests/test_ai_client.py
  uv.lock
Due: backend

Extremely basic chat component
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/app-frame/toasts-dropdown/toasts-dropdown.component.html
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.scss
  src-ui/src/app/components/chat/chat/chat.component.ts
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/app/services/chat.service.ts
  src-ui/src/app/services/csrf.service.ts
  src-ui/src/main.ts
  src/paperless/settings.py
Due: backend, frontend

Fix gzip breaks streaming and flush stream
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/settings.py
Due: backend

Fix openai api key, config settings saving
  src-ui/src/app/data/paperless-config.ts
  src/paperless/ai/client.py
  src/paperless/serialisers.py
  src/paperless/tests/test_ai_client.py
Due: backend, frontend

Try rewriting with httpclient
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/app/services/chat.service.ts
  src-ui/src/app/services/csrf.service.ts
  src-ui/src/main.ts
Due: frontend

Only show chat if enabled
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
Due: frontend

Fix partial length in chat
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend
