Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Feature: add backend support for bulk email send
  src/documents/mail.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_bulk_email.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend

Fix: clean up email api endpoint
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_email.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend, frontend

Development: devcontainer fixes for Windows (#10843)
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .gitignore
  docs/development.md
Due: none

Fix: add document size warning and minor cleanup
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.html
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.spec.ts
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
Due: frontend

Applies the new Ruff rule for unpacking
  .pre-commit-config.yaml
  src/documents/migrations/0003_sender.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_management_retagger.py
  src/paperless/tests/test_websockets.py
  src/paperless_tesseract/parsers.py
Due: backend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Enhancement: support custom field values on post document (#10859)
  docs/api.md
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Update migration
  src/documents/migrations/1072_alter_paperlesstask_task_name.py
Due: backend

Fix test
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Sonar suggestions
  src/paperless_remote/parsers.py
  src/paperless_remote/tests/test_checks.py
Due: backend

Uploads the merged coverage data too
  .github/workflows/ci.yml
Due: none

Include hidden files and change coverage to relative
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add step to display coverage directory structure in CI
  .github/workflows/ci.yml
Due: none

Revert "Add step to display coverage directory structure in CI"
  .github/workflows/ci.yml
Due: none

Try checking & copying frontend coverage files
  .github/workflows/ci.yml
Due: none

Include js coverage output in artifact to check it
  .github/workflows/ci.yml
Due: none

Add head_version
  src/documents/migrations/1064_document_head_version.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Basic start of update endpoint
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
Due: backend

Fix migration
  src/documents/migrations/1069_document_head_version.py
Due: backend

Bulk editing to update version instead of replace
  src/documents/bulk_edit.py
Due: backend

Super basic UI stuff
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend

Fix archive filename clash
  src/documents/consumer.py
Due: backend

version aware doc endpoints
  src/documents/views.py
Due: backend

Update views.py
  src/documents/views.py
Due: backend

Fix frontend versions switching
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/main.ts
  src/documents/serialisers.py
Due: backend, frontend

Fix caching
  src/documents/conditionals.py
Due: backend

Fix migration
  src/documents/migrations/1072_document_head_version.py
Due: backend

Enhancement: collapsible sidebar menus
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/main.ts
Due: frontend

Llint
  src/documents/tasks.py
Due: backend

Random cleanup
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
Due: frontend

Make head_version and versions read-only via API
  src/documents/serialisers.py
Due: backend

Fix: restore str celery beat schedule filename
  src/paperless/settings.py
Due: backend
