Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fix: update some api global perms inconsistencies (#14086)
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_api_trash.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/tests/test_share_link_bundles.py
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: validate PDF output doc indexes in bulk edit
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: expose PAPERLESS_MATCH_REGEX_TIMEOUT_SECONDS setting
  docs/configuration.md
  src/documents/tests/test_regex.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: include Apply AI Suggestions in the tasks UI filter dropdown
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/data/paperless-task.ts
Due: frontend-node-24.x, frontend

Chore: include Apply AI Suggestions in the tasks UI filter dropdown (#14093)
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/data/paperless-task.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: avoid IntegrityError when a retried task republishes with the same task_id
  src/documents/signals/handlers.py
  src/documents/tests/test_task_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: avoid IntegrityError when a retried task republishes with the same task_id (#14096)
  src/documents/signals/handlers.py
  src/documents/tests/test_task_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: allow regex timeout configuration (#14085)
  docs/configuration.md
  src/documents/tests/test_regex.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tests for the empty operations
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Dont allow empty operations
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

And here
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: validate PDF output doc indexes in bulk edit (#14083)
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: mark authenticator QR code alt text for translation
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
Due: frontend-node-24.x, frontend

Fix: ensure django setup is run for management comments under 3.14
  src/documents/management/commands/base.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ensure django setup is run for management comments under 3.14 (#14100)
  src/documents/management/commands/base.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix regex validation for partial matching rule updates
  src/documents/serialisers.py
  src/documents/tests/test_matching_regex_validation.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sonar being useful actually
  src/documents/tests/search/test_schema_fingerprint.py
  src/documents/tests/search/test_schema_version.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

build: bump whoosh-compat to 0.2.0
  pyproject.toml
  uv.lock
Due: none

Adds the given/when/then commenting
  src/documents/tests/search/test_fields.py
  src/documents/tests/search/test_json_subpath_completeness.py
  src/documents/tests/search/test_keyword_pattern_literal.py
  src/documents/tests/search/test_registry.py
  src/documents/tests/search/test_schema.py
  src/documents/tests/search/test_schema_fingerprint.py
  src/documents/tests/search/test_schema_version.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(search): add pattern normalizer stem-alternates unit tests
  src/documents/tests/search/test_pattern_normalizer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Trims tests I don't think cover our logic or code or are redundant
  src/documents/tests/search/test_fields.py
  src/documents/tests/search/test_keyword_pattern_literal.py
  src/documents/tests/search/test_registry.py
  src/documents/tests/search/test_schema.py
  src/documents/tests/search/test_schema_version.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(search): add whoosh-compat, the shared field table and the field registry
  pyproject.toml
  src/documents/search/_fields.py
  src/documents/search/_registry.py
  src/documents/search/_schema.py
  src/documents/search/_tokenizer.py
  src/documents/tests/search/test_fields.py
  src/documents/tests/search/test_json_subpath_completeness.py
  src/documents/tests/search/test_keyword_pattern_literal.py
  src/documents/tests/search/test_registry.py
  src/documents/tests/search/test_schema.py
  src/documents/tests/search/test_schema_fingerprint.py
  src/documents/tests/search/test_schema_version.py
  src/documents/tests/search/test_tokenizer.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Coverage
  src/documents/tests/search/test_stem_pattern_text.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: parse advanced search with whoosh-compat and delete the hand-written translator
  src/documents/search/__init__.py
  src/documents/search/_backend.py
  src/documents/search/_dates.py
  src/documents/search/_errors.py
  src/documents/search/_query.py
  src/documents/search/_translate.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_checksum_prefix_queries.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_compact_date_forms.py
  src/documents/tests/search/test_date_keyword_phrase_removal.py
  src/documents/tests/search/test_date_keyword_timezone.py
  src/documents/tests/search/test_default_search_fields_guard.py
  src/documents/tests/search/test_documented_syntax.py
  src/documents/tests/search/test_error_routing.py
  src/documents/tests/search/test_exists_on_json_fields.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_highlight_query_guard.py
  src/documents/tests/search/test_json_field_prefixes.py
  src/documents/tests/search/test_pattern_stemming.py
  src/documents/tests/search/test_permission_field_isolation.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_query_negation.py
  src/documents/tests/search/test_translate.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_api_search_errors.py
  src/documents/tests/test_api_search_unterminated_date_range.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Route SCHEMA_FIELD_MISSING into an error, not an HTTP 400
  src/documents/search/_query.py
  src/documents/tests/search/test_error_routing.py
  src/documents/tests/search/test_exists_on_json_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't cover these, they exist for defensive, but there's no other current diagnostic
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

A mix of more no cover and tests
  src/documents/search/_query.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_conjunctive_negations.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(search): cap the advanced search query length
  src/documents/tests/test_api_search_query_length.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds a couple of spies, just to prove it further
  src/documents/tests/test_api_search_query_length.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs(search): document the query grammar paperless actually supports
  docs/administration.md
  docs/usage.md
Due: none

Shorten things up, use tables and less wordy stuff. Fixes some test doc strings that referred to the documentation
  docs/usage.md
  src/documents/tests/search/test_documented_syntax.py
  src/documents/tests/search/test_pattern_stemming.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs(search): cover ?/bracket wildcards and the no-stemmer fallback
  docs/usage.md
Due: none

Feature: parse advanced search with whoosh-compat and delete the handwritten translation (#14072)
  src/documents/search/__init__.py
  src/documents/search/_backend.py
  src/documents/search/_dates.py
  src/documents/search/_errors.py
  src/documents/search/_query.py
  src/documents/search/_translate.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_acceptance.py
  src/documents/tests/search/test_checksum_prefix_queries.py
  src/documents/tests/search/test_cjk_clause.py
  src/documents/tests/search/test_compact_date_forms.py
  src/documents/tests/search/test_conjunctive_negations.py
  src/documents/tests/search/test_date_keyword_phrase_removal.py
  src/documents/tests/search/test_date_keyword_timezone.py
  src/documents/tests/search/test_default_search_fields_guard.py
  src/documents/tests/search/test_documented_syntax.py
  src/documents/tests/search/test_error_routing.py
  src/documents/tests/search/test_exists_on_json_fields.py
  src/documents/tests/search/test_fuzzy_tokenization.py
  src/documents/tests/search/test_highlight_query_guard.py
  src/documents/tests/search/test_json_field_prefixes.py
  src/documents/tests/search/test_pattern_stemming.py
  src/documents/tests/search/test_permission_field_isolation.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_query_negation.py
  src/documents/tests/search/test_translate.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_api_search_errors.py
  src/documents/tests/test_api_search_unterminated_date_range.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
