Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fixes the default value provided to the list parser
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Breaking: Drop support for Python 3.10 (#12234)
  .codecov.yml
  .github/workflows/ci-backend.yml
  CONTRIBUTING.md
  docs/setup.md
  pyproject.toml
  src/documents/conditionals.py
  src/documents/consumer.py
  src/documents/index.py
  src/documents/plugins/date_parsing/base.py
  src/documents/plugins/helpers.py
  src/documents/tests/date_parsing/conftest.py
  src/documents/tests/date_parsing/test_date_parsing.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_filters.py
  src/documents/tests/test_workflows.py
  src/documents/versioning.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correct doc version filename handling (#12223)
  docs/advanced_usage.md
  docs/usage.md
  src/documents/consumer.py
  src/documents/file_handling.py
  src/documents/migrations/0016_document_version_index_and_more.py
  src/documents/models.py
  src/documents/signals/handlers.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change: use explicit doc creation instead of clone for versions
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change: use explicit doc creation instead of clone for versions (#12226)
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

This is all unused now
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add a source mode param, pass from frontend detail
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Use source mode to determine which docs bulk edit use
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Oh this needs to be here
  src/documents/bulk_edit.py
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update bulk_edit.py
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

I like this scale better
  src-ui/src/app/components/dashboard/dashboard.component.html
Due: frontend-node-24.x, frontend

Refactor: migrate exporter/importer from tqdm to PaperlessCommand.track()
  src/documents/management/commands/base.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/mixins.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: add explicit supports_progress_bar and supports_multiprocessing to all PaperlessCommand subclasses
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/document_index.py
  src/documents/management/commands/document_llmindex.py
  src/documents/management/commands/document_renamer.py
  src/documents/management/commands/document_retagger.py
  src/documents/management/commands/document_sanity_checker.py
  src/documents/management/commands/document_thumbnails.py
  src/documents/management/commands/prune_audit_logs.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add for split and merge too
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add path-change detection and CI gate jobs
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
Due: none

Chore: convert test_adapter.py to pytest style
  src/paperless/tests/test_adapter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: convert paperless unit tests to pytest style
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_utils.py
  src/paperless/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Obviously not perfect yet
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump eslint to v10
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Migrate to flat JS config
  src-ui/.eslintrc.json
  src-ui/eslint.config.js
Due: frontend-node-24.x, frontend

Chore: update ESLint to v10 (#12256)
  src-ui/.eslintrc.json
  src-ui/eslint.config.js
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Chore: set fetch depth for bundle analysis
  .github/workflows/ci-frontend.yml
Due: none

Chore: set fetch depth for bundle analysis (#12257)
  .github/workflows/ci-frontend.yml
Due: none

Feature: accent-insensitive search for full-text and title/content filters
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docs/administration.md
  docs/configuration.md
  src/documents/apps.py
  src/documents/db.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/0017_pg_unaccent_extension.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_index.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Transitions to SHA256 based checksums
  src/documents/consumer.py
  src/documents/management/commands/document_exporter.py
  src/documents/migrations/0017_sha256_checksums.py
  src/documents/models.py
  src/documents/sanity_checker.py
  src/documents/tasks.py
  src/documents/tests/conftest.py
  src/documents/tests/factories.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
  src/documents/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Batch based iteration and bulk updates, with chunked file reading
  src/documents/migrations/0017_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: support version-specific edits (#12233)
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fixes logging so I can see it
  src/documents/migrations/0017_sha256_checksums.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Uploads the digests as just files, no zips
  .github/workflows/ci-docker.yml
Due: none

Add anti-slop job to PR workflow
  .github/workflows/pr-bot.yml
Due: none

Update pr-bot.yml
  .github/workflows/pr-bot.yml
Due: none

Pin to specific version
  .github/workflows/pr-bot.yml
Due: none

move issues permission to anti-slop job
  .github/workflows/pr-bot.yml
Due: none

Chore: Add anti-slop job to PR workflow (#12248)
  .github/workflows/pr-bot.yml
Due: none

Try out servestatic again
  pyproject.toml
  src/paperless/settings/__init__.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Uploads the digests as just files, no zips (#12264)
  .github/workflows/ci-docker.yml
Due: none

Chore: pytest style paperless tests (#12254)
  src/paperless/tests/test_adapter.py
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_utils.py
  src/paperless/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
