Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Add api schema thing
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use the summary on the frontend
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/data/system-status.ts
Due: frontend-node-24.x, frontend

Support pagination of tasks on frontend
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/services/tasks.service.ts
Due: frontend-node-24.x, frontend

Add typing
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Do it as an agg
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Revert this
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Forgot to update frontend tests with the pagination stuff
  src-ui/src/app/services/tasks.service.spec.ts
Due: frontend-node-24.x, frontend

Enhancement: show small task summary in system status (#12634)
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/data/system-status.ts
  src/documents/tests/test_api_status.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: correctly scope mail account enumeration
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correctly scope mail account enumeration (#12636)
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Paginate the task listing (#12633)
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
  src/documents/tests/test_api_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fixes v9 API task response, removing pagination
  src/documents/tests/test_api_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: v9 API task response, removing pagination (#12637)
  src/documents/tests/test_api_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Transitions the rest of the code to use FileResponse instead of a basic response, fixes up tests which assumed .content exists
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_views.py
  src/documents/tests/utils.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates code to use a FileResponse for streaming and unlink the file, but keep a handle to it
  src/documents/tests/test_api_bulk_download.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

While here, let's add schema for it
  src/documents/tests/test_api_schema.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use only allauth login/logout endpoints
  src/paperless/tests/test_api_auth.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Use FileResponse for file API responses (#12638)
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_schema.py
  src/documents/tests/test_views.py
  src/documents/tests/utils.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: catch llm configuration error on get suggestions
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix(dev): catch llm configuration error on get suggestions (#12647)
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use only allauth login/logout endpoints (#12639)
  src/paperless/tests/test_api_auth.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Merge commit from fork
  src/documents/tests/test_admin.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: Return HTTP 400 instead of HTTP 500 on DELETE /api/documents/{id}/notes/ with missing or invalid note id (#12582)
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent intermediate change event when CustomFieldQueryAtom operator changes type (#12597)
  src-ui/src/app/utils/custom-field-query-element.spec.ts
  src-ui/src/app/utils/custom-field-query-element.ts
Due: frontend-node-24.x, frontend

Bump version to 2.20.15
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix constructor
  src-ui/src/app/utils/custom-field-query-element.ts
Due: frontend-node-24.x, frontend

Changelog v2.20.15 - GHA
  docs/changelog.md
Due: none

Update changelog for version 2.20.15
  docs/changelog.md
Due: none

Format changelog with new prek
  docs/changelog.md
Due: none

Move stuff around a bit
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.scss
Due: frontend-node-24.x, frontend

Prevent layout shifting
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.scss
Due: frontend-node-24.x, frontend

Make wider
  src-ui/src/app/components/admin/tasks/tasks.component.scss
Due: frontend-node-24.x, frontend

Make open doc an anchor
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Due: frontend-node-24.x, frontend
