Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Cover app config changes
  src/documents/tests/test_api_app_config.py
Due: backend

Mock auto-trigger llm index
  src/documents/tests/test_api_app_config.py
Due: backend

Update AI docs
  docs/configuration.md
  docs/usage.md
Due: none

Fix paperless_ai logging
  src/paperless/settings.py
Due: backend

token limiting
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/indexing.py
Due: backend

Add fallback parsing for invalid ai responses
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend

Truncate similar docs content
  src/paperless_ai/ai_classifier.py
Due: backend

Merge migrations
  src/documents/migrations/1067_alter_paperlesstask_task_name.py
  src/paperless/migrations/0005_applicationconfiguration_ai_enabled_and_more.py
Due: backend

Merge migrations again
  src/documents/migrations/1069_alter_paperlesstask_task_name.py
Due: backend

Fix merge conflict
  src-ui/src/app/data/paperless-config.ts
Due: frontend

Changelog v2.16.2 - GHA
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
  src/paperless/views.py
  src/paperless_mail/mail.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Refactor, test
  src/documents/matching.py
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Due: backend

New Crowdin translations by GitHub Action
  src/locale/he_IL/LC_MESSAGES/django.po
Due: backend

Documentation: Further highlight danger of workflow permissions
  docs/usage.md
Due: none

Documentation: add note about workflow permissions
  docs/usage.md
Due: none

Update usage.md
  docs/usage.md
Due: none

Documentation: add workflow permissions note (#10038)
  docs/usage.md
Due: none

fix: add merge option for folder permissions in folder-edit-dialog
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/folder-edit-dialog/folder-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/folder-edit-dialog/folder-edit-dialog.component.ts
  src-ui/src/locale/messages.vi_VN.xlf
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
Due: backend, frontend

fix: disable duplicate check and update uniqueness constraint for checksum fields in models
  src/documents/consumer.py
  src/documents/models.py
Due: backend

fix: alter checksum fields in Document and Folder models for improved integrity
  src/documents/migrations/1136_alter_document_checksum_alter_folder_checksum.py
Due: backend

fix: alter checksum fields in Document and Folder models for improved integrity
  src/documents/filters.py
Due: backend

featf[ile_handling.py]: Respect locale setting
  src/documents/file_handling.py
Due: backend

fix: alter checksum fields in Document and Folder models for improved integrity
  src-ui/src/app/services/document-list-view.service.ts
  src/documents/index.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend, frontend

fix: implement unique name generation for Folder creation to prevent duplicates
  src/documents/consumer.py
  src/documents/utils.py
Due: backend

fix: implement unique name generation for Folder creation to prevent duplicates
  src/documents/consumer.py
  src/documents/serialisers.py
  src/documents/utils.py
  src/documents/views.py
Due: backend

fix: refine unique name generation logic for Folder creation
  src/documents/consumer.py
  src/documents/utils.py
Due: backend

fix: reset file input on upload button click for better user experience
  src-ui/src/app/components/dashboard/widgets/upload-file-button/upload-file-btn.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-button/upload-file-btn.component.ts
Due: frontend

Chore: silence migration result if no docs
  src/documents/migrations/1067_alter_document_created.py
Due: backend

fix: adjust consumer status handling and clean up upload file method
  src-ui/src/app/services/consumer-status.service.ts
  src-ui/src/app/services/upload-documents.service.ts
Due: frontend

fix: update document statistics retrieval to include tags, document types, and warehouses
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/services/rest/document.service.ts
  src/documents/index.py
  src/documents/views.py
Due: backend, frontend

fix: update line numbers in translation files for document and folder components
  src-ui/messages.xlf
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend
