Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Super basic doc chat
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/ai/client.py
  src/paperless/ai/indexing.py
Due: backend

Fixup some tests
  src/documents/tests/test_api_app_config.py
  src/paperless/ai/llms.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
Due: backend

Just some docs
  docs/configuration.md
  docs/usage.md
Due: none

Unify, respect perms
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
Due: backend

Trim nodes
  src/paperless/ai/chat.py
Due: backend

Fix naming
  docs/configuration.md
  src/paperless/ai/embedding.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
Due: backend

Backend streaming chat
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/chat.py
  src/paperless/ai/llms.py
  src/paperless/urls.py
Due: backend

Extremely basic chat component
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/app-frame/toasts-dropdown/toasts-dropdown.component.html
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.scss
  src-ui/src/app/components/chat/chat/chat.component.ts
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/app/services/chat.service.ts
  src-ui/src/app/services/csrf.service.ts
  src-ui/src/main.ts
  src/paperless/settings.py
Due: backend, frontend

Just use the built-in ollama LLM class of course
  pyproject.toml
  src/paperless/ai/chat.py
  src/paperless/ai/client.py
  src/paperless/ai/llms.py
  src/paperless/tests/test_ai_client.py
  uv.lock
Due: backend

Try rewriting with httpclient
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/app/services/chat.service.ts
  src-ui/src/app/services/csrf.service.ts
  src-ui/src/main.ts
Due: frontend

Fix partial length in chat
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Fix openai api key, config settings saving
  src-ui/src/app/data/paperless-config.ts
  src/paperless/ai/client.py
  src/paperless/serialisers.py
  src/paperless/tests/test_ai_client.py
Due: backend, frontend

Fix gzip breaks streaming and flush stream
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/settings.py
Due: backend

Real doc ID updating
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Sweet chat animation, cursor
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.scss
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Only show chat if enabled
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
Due: frontend

Chat component and service coverage
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
  src-ui/src/app/components/chat/chat/chat.component.ts
  src-ui/src/app/services/chat.service.spec.ts
  src-ui/src/app/services/chat.service.ts
Due: frontend

Chat coverage
  src/paperless/ai/chat.py
  src/paperless/tests/test_ai_chat.py
Due: backend

Tests for rest of RAG
  src/paperless/tests/test_ai_rag.py
Due: backend

Handle doc updates, refactor
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/tests/test_ai_chat.py
  src/paperless/tests/test_ai_indexing.py
  src/paperless/tests/test_ai_rag.py
Due: backend

Some cleanup, typing
  src/paperless/ai/indexing.py
  src/paperless/config.py
Due: backend

indexing cleanup and tests
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Incremental llm index update, add scheduled llm index task
  docs/configuration.md
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_indexing.py
  src/paperless/tests/test_settings.py
Due: backend

Use partial reindex for bulk updates
  src/documents/tasks.py
Due: backend

Unify prompts, cover
  src/paperless/ai/ai_classifier.py
  src/paperless/tests/test_ai_classifier.py
Due: backend

Refactor and consolidate rag / embedding and tests
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/embedding.py
  src/paperless/ai/indexing.py
  src/paperless/ai/rag.py
  src/paperless/tests/test_ai_chat.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_embedding.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Cover partial indexing
  src/paperless/ai/indexing.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Update chat view decorators
  src/documents/views.py
Due: backend

Cover matching
  src/paperless/tests/test_ai_matching.py
Due: backend

Refactor load_or_build_index
  src/paperless/ai/indexing.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Move ai to its own module
  src/documents/tasks.py
  src/documents/views.py
  src/paperless_ai/__init__.py
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/chat.py
  src/paperless_ai/client.py
  src/paperless_ai/embedding.py
  src/paperless_ai/indexing.py
  src/paperless_ai/matching.py
  src/paperless_ai/tests/__init__.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_chat.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_embedding.py
  src/paperless_ai/tests/test_matching.py
Due: backend

Better respect perms for ai suggestions
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/indexing.py
Due: backend

Create llmindex if doesnt exist on update run
  src/paperless_ai/indexing.py
Due: backend

Use PaperlessTask for llmindex
  src-ui/src/app/data/paperless-task.ts
  src/documents/management/commands/document_llmindex.py
  src/documents/migrations/1066_alter_paperlesstask_task_name.py
  src/documents/models.py
  src/documents/tasks.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
  src/paperless_ai/indexing.py
Due: backend, frontend

Auto-trigger llmindex rebuild when enabled
  src/documents/tasks.py
  src/paperless/views.py
  src/paperless_ai/indexing.py
Due: backend

Add llmindex to systemstatus
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.ts
  src-ui/src/app/data/system-status.ts
  src/documents/tasks.py
  src/documents/views.py
Due: backend, frontend

Doh, add tests in new module
  pyproject.toml
Due: none

Coverage for llmindex tasks
  src/documents/tests/test_tasks.py
Due: backend

Cover llmindex in system status
  src/documents/tests/test_api_status.py
  src/documents/views.py
Due: backend

Fix / cleanup ai indexing test
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend
