Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Documentation: expound email config explanation
  docs/configuration.md
Due: none

refactor get count
  src/documents/views.py
  src/edoc/views.py
Due: backend

refactor settings and urls for improved readability and debug toolbar integration
  Pipfile
  src/edoc/settings.py
  src/edoc/urls.py
Due: backend

refactor: update references from PAPERLESS to EDOC throughout the codebase
  src/documents/context_processors.py
  src/documents/filters.py
  src/documents/management/commands/decrypt_documents.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/manage_superuser.py
  src/documents/migrations/0014_document_checksum.py
  src/documents/migrations/1012_fix_archive_files.py
  src/documents/parsers.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/edoc/adapter.py
  src/edoc/checks.py
  src/edoc/tests/test_adapter.py
  src/edoc/tests/test_remote_user.py
  src/edoc/tests/test_settings.py
  src/edoc_mail/admin.py
  src/edoc_ocr_custom/checks.py
  src/edoc_ocr_custom/parsers.py
  src/edoc_tesseract/checks.py
  src/edoc_tesseract/parsers.py
Due: backend

Fix: correctly handle dict data with webhook
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Due: backend

Fix: correctly handle dict data with webhook (#9674)
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Due: backend

refactor document processing and cache management
  src/documents/tasks.py
  src/edoc/models.py
  src/edoc_ocr_custom/parsers.py
Due: backend

Fix: dont try deleting original that was moved to trash dir
  src/documents/signals/handlers.py
Due: backend

refactor: enhance pagination with custom limit and offset handling
  src/edoc/views.py
Due: backend

refactor: implement custom pagination response structure
  src/edoc/views.py
Due: backend

refactor: enhance document serializers and update pagination handling
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Fix: another doc link fix
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
Due: frontend

Fix: another doc link fix (#9700)
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
Due: frontend

refactor: enhance document serializers and update pagination handling
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/simple-paginator/simple-paginator.component.html
  src-ui/src/app/components/common/simple-paginator/simple-paginator.component.scss
  src-ui/src/app/components/common/simple-paginator/simple-paginator.component.spec.ts
  src-ui/src/app/components/common/simple-paginator/simple-paginator.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/data/results.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/abstract-edoc-service.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/index.py
  src/documents/views.py
  src/edoc/urls.py
  src/edoc/views.py
Due: backend, frontend

Documentation: tweaks to sharing, links
  docs/usage.md
Due: none

refactor: enhance query handling with title content and caching improvements
  src/documents/index.py
  src/documents/views.py
Due: backend

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/tests/test_management.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_document_pages_count.py
  src/documents/tests/test_migration_mime_type.py
  src/documents/tests/test_sanity_check.py
Due: backend

fix issue where archive_filesize is only set when theres no metadata cache
  src/documents/views.py
Due: backend

Fix: fix missing archive file size
  src/documents/views.py
Due: backend

Bump api version
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/paperless/settings.py
Due: backend

Fix: fix breaking api change to document notes user field (#9714)
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/paperless/settings.py
Due: backend

Fix: preserve non-ASCII filenames in document downloads
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/utils/http.spec.ts
  src-ui/src/app/utils/http.ts
Due: frontend

Fix: preserve non-ASCII filenames in document downloads (#9702)
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/utils/http.spec.ts
  src-ui/src/app/utils/http.ts
Due: frontend

Fix: do not try deleting original that was moved to trash dir (#9684)
  src/documents/signals/handlers.py
Due: backend

Documentation: note api v8 bump
  docs/api.md
Due: none

Update translation strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Bump version to 2.15.3
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Chore: move secretary to native GHA
  .github/workflows/pr-bot.yml
Due: none
