Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Remove unused imports
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend-node-24.x, frontend

Icons, of course
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

info links
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
Due: frontend-node-24.x, frontend

Oops broke the buttons
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
Due: frontend-node-24.x, frontend

Fix test imports
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/correspondent-list/correspondent-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/document-type-list/document-type-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/storage-path-list/storage-path-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.spec.ts
Due: frontend-node-24.x, frontend

DocumentAttributesTab --> Section, move header stuff in there too
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
Due: frontend-node-24.x, frontend

document attributes page title
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
Due: frontend-node-24.x, frontend

Attributes submenu
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.ts
Due: frontend-node-24.x, frontend

Store collapsed setting
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend-node-24.x, frontend

Chore: add mise local dev config and docs
  .mise.toml
  AGENTS.md
  docs/development.md
Due: none

Fix e2e test
  src-ui/e2e/dashboard/dashboard.spec.ts
  src-ui/e2e/permissions/global-permissions.spec.ts
Due: frontend-node-24.x, frontend

nav-underline
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.scss
Due: frontend-node-24.x, frontend

Testing for new stuff
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.spec.ts
Due: frontend-node-24.x, frontend

address comments
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/migrations/0010_alter_document_content_length_and_more.py
  src/documents/migrations/0010_workflowactiondeletion_alter_workflowaction_type_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

try to appease type checking
  src/documents/signals/handlers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

rename deletion to move to trash
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/models.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

rename deletion to move to trash
  docs/usage.md
  src/documents/signals/handlers.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

try to appease type checking again
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

try to appease type checking again again
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Syncs baseline up
  .mypy-baseline.txt
Due: none

Integrates into CI for fun
  .github/workflows/ci-backend.yml
Due: none

Configures pyrefly as an alternative and baselines its report
  .pyrefly-baseline.json
  pyproject.toml
  uv.lock
Due: none

Examples of updating the baseline
  .pyrefly-baseline.json
  src/paperless_tesseract/tests/test_parser_custom_settings.py
  src/paperless_tika/tests/test_live_tika.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Configure pyrefly as an alternative typing tool (#12003)
  .github/workflows/ci-backend.yml
  .mypy-baseline.txt
  .pyrefly-baseline.json
  pyproject.toml
  src/paperless_tesseract/tests/test_parser_custom_settings.py
  src/paperless_tika/tests/test_live_tika.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: move to Zensical for docs (#12011)
  .devcontainer/vscode/tasks.json
  .github/dependabot.yml
  .github/workflows/ci-docs.yml
  .gitignore
  docs/api.md
  docs/assets/extra.css
  docs/development.md
  docs/faq.md
  docs/index.md
  docs/setup.md
  docs/usage.md
  mkdocs.yml
  pyproject.toml
  uv.lock
  zensical.toml
Due: none

CI: build docs with Zensical in release workflow
  .github/workflows/ci-release.yml
Due: none

Fix missing content_length migration
  src/documents/migrations/0010_alter_document_content_length.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Regenerate migration
  src/documents/migrations/0010_alter_document_content_length_and_more.py
  src/documents/migrations/0011_alter_workflowaction_type.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Actually just use title
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
Due: frontend-node-24.x, frontend

Update playwright docker image version in CI too
  .github/workflows/ci-frontend.yml
Due: none

remove isinstance
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

merge execute_move_to_trash_action and execute_move_to_trash_action_consumption
  src/documents/signals/handlers.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes handling the case where there is no status reported from celery + attempt to provide a better cushion for large format files
  src/documents/parsers.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes handling the case where there is no status reported from celery (due to external termination of the worker) (#12040)
  src/documents/parsers.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Lets not make this change
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend-node-24.x, frontend

Fix RO init
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Due: frontend-node-24.x, frontend

Add pfjs directly, rendering does work
  src-ui/angular.json
  src-ui/package.json
  src-ui/pnpm-lock.yaml
  src-ui/src/app/components/common/pngx-pdf-viewer/pngx-pdf-viewer.component.html
  src-ui/src/app/components/common/pngx-pdf-viewer/pngx-pdf-viewer.component.ts
Due: frontend-node-24.x, frontend

Cleanup inputs, zoom scale / setting
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend-node-24.x, frontend
