Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fix: fix edit dialog error change detection (#13483)
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: accept Whoosh-era abbreviated relative-date units (yrs, mos, wks, ...) in search queries
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: PAPERLESS_CONSUMER_IGNORE_PATTERNS clarifications
  docs/configuration.md
Due: none

Fix: accept Whoosh-era abbreviated relative-date units (yrs, mos, wks, etc) in search queries (#13486)
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Documentation: PAPERLESS_CONSUMER_IGNORE_PATTERNS clarifications (#13489)
  docs/configuration.md
Due: none

Bump version to 3.0.5
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.0.5 - GHA
  docs/changelog.md
Due: none

Bump Playwright CI container version
  .github/workflows/ci-frontend.yml
Due: none

Add the tests first
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates release drafter config to the new format
  .github/release-drafter.yml
Due: none

Chore: Updates release drafter config to the new format (#13498)
  .github/release-drafter.yml
Due: none

Fix: parse unpadded yyyy-mm-dd date input regardless of locale
  src-ui/src/app/utils/ngb-date-parser-formatter.spec.ts
  src-ui/src/app/utils/ngb-date-parser-formatter.ts
Due: frontend-node-24.x, frontend

Fix: correct multi-search non-adjacent queries
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: parse unpadded yyyy-mm-dd date input regardless of locale (#13501)
  src-ui/src/app/utils/ngb-date-parser-formatter.spec.ts
  src-ui/src/app/utils/ngb-date-parser-formatter.ts
Due: frontend-node-24.x, frontend

Fix: Content-Disposition filename normalization
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

make allow_infix order-stable
  src/documents/search/_query.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: crash filtering document link custom fields with an unset or unrelated field present
  src/documents/filters.py
  src/documents/tests/test_api_filter_by_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: don't duplicate text search term when combining created and added relative date filters
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: crash filtering document link custom fields with an unset or unrelated field present (#13518)
  src/documents/filters.py
  src/documents/tests/test_api_filter_by_custom_fields.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent duplicated text query with multiple date queries
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: prevent duplicated text query with multiple date queries (#13522)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: Content-Disposition filename normalization (#13514)
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correct multi-search non-adjacent queries (#13504)
  src/documents/search/_query.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: don't re-queue a consume-folder file that is already queued and awaiting consumption
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: don't re-queue a consume-folder file that is already queued and awaiting consumption (#13526)
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix(lint): parenthesize implicit string concat and reorder None in union (ruff ISC004/RUF036)
  src/documents/matching.py
  src/documents/tests/search/test_translate.py
  src/documents/tests/test_filters.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(deps-dev): Bump ruff to 0.16.1, pin lint select to pre-0.16 default
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Chore: ruff 0.16 upgrade (#13531)
  .pre-commit-config.yaml
  pyproject.toml
  src/documents/matching.py
  src/documents/tests/search/test_translate.py
  src/documents/tests/test_filters.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: hide sidebar drag grips with insufficient permissions
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend-node-24.x, frontend

Fix: hide sidebar drag grips with insufficient permissions (#13536)
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend-node-24.x, frontend

Fix: fix FF duplicate pdf selection
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.scss
Due: frontend-node-24.x, frontend

Actually just disable selection rendering, since it sucks
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.scss
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Due: frontend-node-24.x, frontend

Fix: disable pdfjs selection rendering (#13538)
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Due: frontend-node-24.x, frontend

Fix: hide saved view operations on management page without permissions
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

Fix: hide some saved view operations on management page without permissions - #13542 (#13542)
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend
