Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

indexing cleanup and tests
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Unify prompts, cover
  src/paperless/ai/ai_classifier.py
  src/paperless/tests/test_ai_classifier.py
Due: backend

Use partial reindex for bulk updates
  src/documents/tasks.py
Due: backend

Handle doc updates, refactor
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/tests/test_ai_chat.py
  src/paperless/tests/test_ai_indexing.py
  src/paperless/tests/test_ai_rag.py
Due: backend

Incremental llm index update, add scheduled llm index task
  docs/configuration.md
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_indexing.py
  src/paperless/tests/test_settings.py
Due: backend

Refactor and consolidate rag / embedding and tests
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/embedding.py
  src/paperless/ai/indexing.py
  src/paperless/ai/rag.py
  src/paperless/tests/test_ai_chat.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_embedding.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Some cleanup, typing
  src/paperless/ai/indexing.py
  src/paperless/config.py
Due: backend

Update chat view decorators
  src/documents/views.py
Due: backend

Cover partial indexing
  src/paperless/ai/indexing.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Refactor load_or_build_index
  src/paperless/ai/indexing.py
  src/paperless/tests/test_ai_indexing.py
Due: backend

Cover matching
  src/paperless/tests/test_ai_matching.py
Due: backend

Better respect perms for ai suggestions
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/indexing.py
Due: backend

Move ai to its own module
  src/documents/tasks.py
  src/documents/views.py
  src/paperless_ai/__init__.py
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/chat.py
  src/paperless_ai/client.py
  src/paperless_ai/embedding.py
  src/paperless_ai/indexing.py
  src/paperless_ai/matching.py
  src/paperless_ai/tests/__init__.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_chat.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_embedding.py
  src/paperless_ai/tests/test_matching.py
Due: backend

Cover llmindex in system status
  src/documents/tests/test_api_status.py
  src/documents/views.py
Due: backend

Auto-trigger llmindex rebuild when enabled
  src/documents/tasks.py
  src/paperless/views.py
  src/paperless_ai/indexing.py
Due: backend

Coverage for llmindex tasks
  src/documents/tests/test_tasks.py
Due: backend

Create llmindex if doesnt exist on update run
  src/paperless_ai/indexing.py
Due: backend

Use PaperlessTask for llmindex
  src-ui/src/app/data/paperless-task.ts
  src/documents/management/commands/document_llmindex.py
  src/documents/migrations/1066_alter_paperlesstask_task_name.py
  src/documents/models.py
  src/documents/tasks.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
  src/paperless_ai/indexing.py
Due: backend, frontend

Add llmindex to systemstatus
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.ts
  src-ui/src/app/data/system-status.ts
  src/documents/tasks.py
  src/documents/views.py
Due: backend, frontend

Doh, add tests in new module
  pyproject.toml
Due: none

Fix / cleanup ai indexing test
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend

token limiting
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/indexing.py
Due: backend

Cover app config changes
  src/documents/tests/test_api_app_config.py
Due: backend

Truncate similar docs content
  src/paperless_ai/ai_classifier.py
Due: backend

Fix paperless_ai logging
  src/paperless/settings.py
Due: backend

Mock auto-trigger llm index
  src/documents/tests/test_api_app_config.py
Due: backend

Update AI docs
  docs/configuration.md
  docs/usage.md
Due: none

Merge migrations
  src/documents/migrations/1067_alter_paperlesstask_task_name.py
  src/paperless/migrations/0005_applicationconfiguration_ai_enabled_and_more.py
Due: backend

Fix merge conflict
  src-ui/src/app/data/paperless-config.ts
Due: frontend

Add fallback parsing for invalid ai responses
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend

Merge migrations again
  src/documents/migrations/1068_alter_paperlesstask_task_name.py
Due: backend

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
  src/paperless/views.py
  src/paperless_mail/mail.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Fix: handle created change with api v9, use created only on frontend
  docs/api.md
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/environments/environment.prod.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/paperless/settings.py
Due: backend, frontend

Deprecate field in api spec too
  src/documents/serialisers.py
Due: backend

Update api.md
  docs/api.md
Due: none

Fix: handle created change with api version increment, use created only on frontend, deprecate created_date (#9962)
  docs/api.md
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/environments/environment.prod.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/paperless/settings.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
