Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Revert "Added print button in document cards"
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
Due: frontend

Removed button from cards and from mobile
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Tweak: improve dateparser auto-detection messages
  src/paperless/settings.py
Due: backend

Dont require_changes for codecov comment
  .codecov.yml
Due: none

Fix: ignore incomplete tasks for system status 'last run'
  src/documents/views.py
Due: backend

Fix a typo
  docs/troubleshooting.md
Due: none

Documentation: fix typo in troubleshooting docs (#10643)
  docs/troubleshooting.md
Due: none

Add coverage for iframe print error
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Fix: increase legibility of date filter clear button in light mode
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
Due: frontend

Fix: increase legibility of date filter clear button in light mode (#10649)
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
Due: frontend

Tweak: improve dateparser auto-detection messages (#10640)
  src/paperless/settings.py
Due: backend

Fix: ignore incomplete tasks for system status 'last run' (#10641)
  src/documents/views.py
Due: backend

docs: Add comprehensive AI system documentation
  README_AI.md
Due: none

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/management/commands/document_consumer.py
  src/documents/migrations/1012_fix_archive_files.py
  src/documents/parsers.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_archive_files.py
  src/paperless/settings.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Add ability to crop document content for faster suggestions
  docs/configuration.md
  src/documents/matching.py
  src/documents/models.py
  src/documents/tests/test_document_model.py
  src/paperless/settings.py
Due: backend

Performance: Cache django-guardian permissions when counting documents
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Indexed title-content SQL search
  src/documents/filters.py
  src/documents/migrations/1069_document_fulltext_index.py
  src/documents/utils.py
Due: backend

Fulltext search fixes and improvements
  src/documents/filters.py
  src/documents/migrations/1069_document_fulltext_index.py
  src/documents/models.py
  src/documents/utils.py
  src/documents/views.py
Due: backend

Global search: use DB index instead of Whoosh index
  docs/usage.md
  src/documents/views.py
Due: backend

Rework RAW SQL fulltext search as a custom Django lookup
  src/documents/filters.py
  src/documents/models.py
Due: backend

Global search: reintroduce setting to search on Whoosh or FT index
  src/documents/views.py
Due: backend

Update ci.yml
  .github/workflows/ci.yml
Due: none

Revert "Update ci.yml"
  .github/workflows/ci.yml
Due: none

Fix: prevent loss of stored changes when switching between open docs
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

fix perms check
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Fix: prevent loss of changes when switching between open docs (#10659)
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Bump version to 2.18.2
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
