Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
flags:
  backend:
    paths:
      - src/**
    carryforward: true
  frontend:
    paths:
      - src-ui/**
    carryforward: true
# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "header, diff, components, flags, files"
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Bump version to 2.20.4
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.20.4 - GHA
  docs/changelog.md
Due: none

Fix changelog
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Attempts to resolve the Codecov reporting now that we don't always run everything
  .codecov.yml
Due: none

Removes the duplicate flags that created a warning
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: none

Chore: attempt to resolve Codecov patch coverage issues (#11773)
  .codecov.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: none

Try avoiding cuda deps
  Dockerfile
Due: none

Add index-strategy flag
  Dockerfile
Due: none

amd64-specific requirements handling
  Dockerfile
Due: none

explicit torch dependency and PyTorch CPU index
  pyproject.toml
Due: none

Regenerate uv.lock, revert hacky Dockerfile stuff
  Dockerfile
  uv.lock
Due: none

Fix embedding mock
  src/paperless_ai/tests/test_chat.py
Due: backend

A little unclear why I have to lint this but ok
  pyproject.toml
Due: none

Correct get_tool_calls_from_response signature
  src/paperless_ai/client.py
Due: backend

Fix default llama3.1
  docs/configuration.md
  src/paperless_ai/client.py
Due: backend

Chore: Reduce amd64 Docker image size by using CPU-only PyTorch wheels (#11779)
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

Use id ordering
  src/documents/migrations/1076_workflowaction_order.py
Due: backend

We dont need this anymore
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend

Fixhancement: use explicit order field workflow actions
  src/documents/migrations/1076_workflowaction_order.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/workflows/utils.py
Due: backend

Fix: use explicit order field for workflow actions (#11781)
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src/documents/migrations/1076_workflowaction_order.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/workflows/utils.py
Due: backend, frontend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Fixes Docker image pushing for every PR we get
  .github/workflows/ci-docker.yml
Due: none

Brings back the building of feature branches, but only once a PR is open
  .github/workflows/ci-docker.yml
Due: none

Adds back building branches with fix-
  .github/workflows/ci-docker.yml
Due: none

Chore: Fixes Docker image pushing for every PR we get (#11777)
  .github/workflows/ci-docker.yml
Due: none

Adds the release-drafter commitish filtering to perhaps generate the release notes better
  .github/release-drafter.yml
  .github/workflows/ci.yml
Due: none

Update llama-index to latest versions
  pyproject.toml
  uv.lock
Due: none

Apply suggestion from @shamoon
  pyproject.toml
Due: none
