Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Fix: fix some API crashes (#10196)
  src/documents/serialisers.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_api_uisettings.py
  src/paperless/views.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_mail.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Chore: bump angular to 19.12.14
  src-ui/jest.config.js
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend

Chore: bump angular to 19.12.14 (#10212)
  src-ui/jest.config.js
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Ok, restart implementing this with just azure
  src/paperless/settings.py
  src/paperless_remote/__init__.py
  src/paperless_remote/apps.py
  src/paperless_remote/checks.py
  src/paperless_remote/parsers.py
  src/paperless_remote/signals.py
  src/paperless_remote/tests/__init__.py
  src/paperless_remote/tests/samples/simple-digital.pdf
  src/paperless_remote/tests/test_checks.py
  src/paperless_remote/tests/test_parser.py
Due: backend

This actually works
  src/paperless/settings.py
  src/paperless_remote/parsers.py
Due: backend

Test
  src/paperless_remote/tests/test_parser.py
Due: backend

Basic parse
  pyproject.toml
  src/paperless_remote/parsers.py
  src/paperless_remote/tests/test_parser.py
  uv.lock
Due: backend

Some docs
  docs/configuration.md
  docs/usage.md
Due: none

Use output_content_format poller.result to get clean content
  src/paperless_remote/parsers.py
Due: backend

Chore: remove spaces from run log
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
Due: none

Tiny thing: print pngx version on startup
  src/manage.py
  src/paperless/settings.py
Due: backend

Remove frontend environment version, get from ui_settings
  Dockerfile
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
Due: backend, frontend

Actually lets show mismatch
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
Due: frontend

feat: implement folder permissions management with ownership and access controls
  src/documents/filters.py
  src/documents/models.py
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Move version logging to a/wsgi
  src/manage.py
  src/paperless/asgi.py
  src/paperless/settings.py
  src/paperless/wsgi.py
Due: backend

Move mismatch to system status
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.ts
Due: frontend

feat: enhance folder permission management with new restrictions and user/group handling
  src/documents/consumer.py
  src/documents/migrations/1139_folderpermission.py
  src/documents/permissions.py
  src/documents/views.py
Due: backend

feat: implement owner-aware permissions for folder access and document management
  src/documents/consumer.py
  src/documents/filters.py
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/utils.py
  src/documents/views.py
Due: backend

feat: update document deletion logic and enhance folder permission handling
  src/documents/bulk_edit.py
  src/documents/documents.py
  src/documents/views.py
Due: backend

feat: enhance folder permission handling with improved user/group blocking logic
  src/documents/permissions.py
  src/documents/views.py
Due: backend

feat: optimize folder retrieval logic by refining allowed paths filtering
  src/documents/permissions.py
Due: backend

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
  src/paperless_mail/mail.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Fixing codeql complaint
  src/documents/views.py
Due: backend

Rename get_log_filename
  src/documents/views.py
Due: backend

Chore: switch from os.path to pathlib.Path (#9933)
  pyproject.toml
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
  src/paperless_mail/mail.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Make OwnedObjectSerializer permissions, user_can_change and is_shared not required
  src/documents/serialisers.py
Due: backend

Fix OpenAPI schema for deactivate_totp endpoint (no request body)
  src/paperless/views.py
Due: backend

Coverage for partial_update
  src/documents/tests/test_api_workflows.py
Due: backend

Disallow different IDs in wf action / trigger PATCH
  src/documents/tests/test_api_workflows.py
  src/documents/views.py
Due: backend

Revert "Fix nullability for the last_correspondence field"
  src/documents/serialisers.py
Due: backend

Fix nullability for the last_correspondence field
  src/documents/serialisers.py
Due: backend

Correctly coerce full_perms values to bool
  src/documents/tests/test_api_permissions.py
  src/documents/views.py
Due: backend

feat: refine folder retrieval logic by removing unnecessary all() call for blocked paths
  src/documents/permissions.py
Due: backend
