Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Experiments with a script to de-duplicate the static files, in particular the pdf.js one
  Dockerfile
  docker/rootfs/usr/local/bin/deduplicate.py
Due: none

Feature: Replace duplicated static files with symlinks (#11418)
  Dockerfile
  docker/rootfs/usr/local/bin/deduplicate.py
Due: none

Drop ngzone, add jump button
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Remove cdk experimental
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend

cleanup
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
Due: frontend

Coverage, cleanup
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Fixhancement: more log viewer improvements (#11426)
  src-ui/setup-jest.ts
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Removes this old file
  dev.txt
Due: none

Bust the cache again
  Dockerfile
Due: none

Updates the .devcontainer too
  .devcontainer/Dockerfile
Due: none

Removes unused args
  Dockerfile
Due: none

Updates to the Trixie base image instead of Bookworm
  Dockerfile
  dev.txt
Due: none

Back to the most recent uv
  Dockerfile
Due: none

Updates to a Trixie built jbig2enc
  Dockerfile
Due: none

Feature: Upgrade underlying Docker image to Trixie (#10562)
  .devcontainer/Dockerfile
  Dockerfile
Due: none

Setup
  SETUP.md
Due: none

Bump version to 2.20.0
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.20.0 - GHA
  docs/changelog.md
Due: none

Update changelog with recent enhancements and fixes
  docs/changelog.md
Due: none

Add user parameter to MariaDB connection check
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

fix: Add user parameter to MariaDB connection check (#11441)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

free space
  .github/workflows/ci.yml
Due: none

trixie uses ImageMagick 7 and JBIG2ENC_VERSION 0.30
  .devcontainer/Dockerfile
  Dockerfile
  docker/rootfs/etc/ImageMagick-7/paperless-policy.xml
Due: none

update path for ImageMagick 7 in ci.yml workflow
  .github/workflows/ci.yml
Due: none

but ubuntu-24.04 still uses /etc/ImageMagick-6
  .github/workflows/ci.yml
Due: none

sync Dockerfile changes to .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: none

refactor(ci): simplifica workflows a modo ligero para desarrollo individual
  .github/workflows/ci.yml
  .github/workflows/docker-intellidocs.yml
Due: none

feat(docker): añade docker-compose con imagen pre-built desde GHCR
  docker/compose/docker-compose.intellidocs-ghcr.yml
Due: none

Development: sync Dockerfile changes to .devcontainer/Dockerfile (#11463)
  .devcontainer/Dockerfile
Due: none

Fix: handle allauth groups location breaking change
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Due: backend

Fix: handle allauth groups location breaking change (#11471)
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
