Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: prevent workflow passwords field type error
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Fix: prevent workflow passwords field type error (#13552)
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Backend stuff: add text choice icon field and migration
  src/documents/migrations/0023_savedview_icon.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frontend data classes
  src-ui/src/app/data/saved-view-icons.ts
  src-ui/src/app/data/saved-view.ts
Due: frontend-node-24.x, frontend

Selects need to work with a string and icon display
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.ts
Due: frontend-node-24.x, frontend

On doc list too
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Due: frontend-node-24.x, frontend

Ok now display it everywhere!
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
Due: frontend-node-24.x, frontend

Add to management list
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

Also handle in the saved view dialog
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.spec.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
Due: frontend-node-24.x, frontend

Add more icons
  src-ui/src/app/data/saved-view-icons.ts
  src-ui/src/main.ts
  src/documents/migrations/0023_savedview_icon.py
  src/documents/models.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: correctly serve app logo specified in env
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correctly serve app logo specified in env (#13561)
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: reject bulk edit permissions requests without the correct key
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: reject bulk edit permissions requests without the correct key (#13563)
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: add AI chat refine template
  src/paperless_ai/chat.py
  src/paperless_ai/tests/test_chat.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: specify AI chat refine template (#13564)
  src/paperless_ai/chat.py
  src/paperless_ai/tests/test_chat.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: de-duplicate source_file fixture across sink test classes
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: annotate ExportSink.stream's return type for pyrefly
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: route document_exporter through ExportSink, direct-to-zip
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: guard --zip combined with --compare-* flags
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: make ExportSink a real ABC per design spec
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add export package with StreamingManifestWriter and _dumps
  src/documents/export/__init__.py
  src/documents/export/sinks.py
  src/documents/tests/export/__init__.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add ZipExportSink with atomic finalize and manifest spooling
  src/documents/export/sinks.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add ExportSink ABC and DirectoryExportSink
  src/documents/export/sinks.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Increase test coverage
  src/documents/management/commands/document_exporter.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Polish: atomic zip commit via Path.replace, widen sink params to ExportSink
  src/documents/export/sinks.py
  src/documents/management/commands/document_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: de-duplicate BLAKE2b compare and simplify zip dir-marker loop
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sure, defense in depth against odd things
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: stream documents via QuerySetStream in exporter instead of eager dict
  src/documents/management/commands/document_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Set the document modified dates to hopefully prevent this flake. Good across 30 runs at least
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add export compression policy module
  src/documents/export/compression.py
  src/documents/tests/export/test_compression.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: ZipExportSink accepts compression method and level
  src/documents/export/sinks.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add --zip-compression and --zip-compression-level flags
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: remove test asserting Python's own compression behavior
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: assert compression forwarding via call args, not a real archive
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: cover zstd-rejection path and correct importer's zstd-hint message
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: importer rejects archives with unreadable compression
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_importer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: add GIVEN/WHEN/THEN docstrings to compression tests
  src/documents/tests/export/test_compression.py
  src/documents/tests/export/test_sinks.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: narrow zstd compression level to the conventional -22..22 range
  docs/administration.md
  src/documents/export/compression.py
  src/documents/management/commands/document_exporter.py
  src/documents/tests/export/test_compression.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
