Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Harden external suggestion providers for native review and workflows
  docs/configuration.md
  docs/development.md
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings/__init__.py
  src/paperless_ai/suggestion_provider.py
  src/paperless_ai/tests/test_suggestion_provider.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: assign random colors when creating tags server-side
  src/documents/barcodes.py
  src/documents/colors.py
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_colors.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/ai.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: catch failed object retrievals
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

A few more
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.spec.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.ts
Due: frontend-node-24.x, frontend

Error handling
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.spec.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.ts
Due: frontend-node-24.x, frontend

Fix: catch some frontend failed object retrievals (#14023)
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.spec.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Handles pytest-django
  src/documents/tests/conftest.py
  src/documents/tests/date_parsing/conftest.py
  src/documents/tests/export/test_sinks.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_schema.py
  src/documents/tests/test_checks.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_parsers.py
  src/documents/tests/test_workflows.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_mail_parser.py
  src/paperless/tests/parsers/test_remote_parser.py
  src/paperless/tests/parsers/test_tika_parser.py
  src/paperless/tests/test_adapter.py
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_views.py
  src/paperless_ai/tests/conftest.py
  src/paperless_ai/tests/test_index_locking.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Formatting
  pyproject.toml
Due: none

Fix: correct setting ai_enabled to false via UI (#13987)
  src/documents/tests/test_api_app_config.py
  src/paperless/config.py
  src/paperless/migrations/0016_alter_applicationconfiguration_ai_enabled.py
  src/paperless/models.py
  src/paperless/tests/test_config_precedence.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: duplicates filter (#13994)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/utils/query-params.spec.ts
  src/documents/filters.py
  src/documents/migrations/0026_alter_document_archive_checksum_and_more.py
  src/documents/models.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: Use PAPERLESS_REDIS_PREFIX for Celery result backend keys (#14015)
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Always these new ones with xdist, try a better condition
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(search): resolve index-write permissions and effective content in bulk
  src/documents/search/_backend.py
  src/documents/tasks.py
  src/documents/tests/search/test_backend.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: allow disabling auto-suggestions for inbox documents
  docs/advanced_usage.md
  docs/usage.md
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend-node-24.x, frontend

Wording
  docs/usage.md
  src-ui/src/app/components/admin/settings/settings.component.html
Due: frontend-node-24.x, frontend

Just pull into frontend
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/data/paperless-config.ts
Due: frontend-node-24.x, frontend

Exclude from dirtyCheck
  src-ui/src/app/components/admin/config/config.component.ts
Due: frontend-node-24.x, frontend

Ok now show the difference
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.spec.ts
Due: frontend-node-24.x, frontend

Ok add externally_configured_fields
  src/documents/tests/test_api_app_config.py
  src/paperless/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just merge these
  src/documents/filters.py
  src/documents/tests/test_api_document_versions.py
  src/documents/versioning.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: annotate effective content in the filters rather than relying on callers
  src/documents/filters.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_search.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: resolve index-write permissions and effective content in bulk (#13869)
  src/documents/search/_backend.py
  src/documents/tasks.py
  src/documents/tests/search/test_backend.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change: skip documents with empty content in apply AI suggestions WF
  docs/usage.md
  src/documents/tests/test_workflows.py
  src/documents/workflows/ai.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change: skip documents with empty content in apply AI suggestions WF (#13985)
  docs/usage.md
  src/documents/tests/test_workflows.py
  src/documents/workflows/ai.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: allow disabling auto-suggestions for inbox documents (#13946)
  docs/advanced_usage.md
  docs/usage.md
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend-node-24.x, frontend

Fix: fence LLM index updates after document deletion
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_tasks.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_index_locking.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch id resolution for TagsField and friends
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: scope the batched tag-id resolution to TagsField instead of a generic base class for all four fields
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use Django tools to validate the min/max and in_bulk to build the dict
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: link the tag-batching workaround to the upstream DRF issue/PR so it's removable once that lands
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent orphaned versions from trashing
  src/documents/bulk_edit.py
  src/documents/models.py
  src/documents/tests/test_api_trash.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update test_document_model.py
  src/documents/tests/test_document_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates mypy and pyrefly and their baseline files
  .mypy-baseline.txt
  .pyrefly-baseline.json
  uv.lock
Due: none

Fix: better LLM errors
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_ai/client.py
  src/paperless_ai/exceptions.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ollama too
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix pr-bot timing
  .github/workflows/issue-bot.yml
  .github/workflows/pr-bot.yml
Due: none
