Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Optimize tag children retrieval
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Feature: mail rule remove password
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/mail-rule.ts
  src/documents/pdf_password.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0030_mailrule_file_password_and_more.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
Due: backend, frontend

Chore: removed unwanted check
  src/paperless_mail/serialisers.py
Due: backend

Chore: pre-commits hooks
  src/documents/pdf_password.py
  src/paperless_mail/mail.py
  src/paperless_mail/models.py
Due: backend

Chore: Added tests
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src/paperless_mail/tests/test_mail.py
Due: backend, frontend

whitespace yay
  src/documents/tests/test_bulk_edit.py
Due: backend

Add test
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Just hide for non-owners
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend

Basic remove password bulk edit action
  docs/api.md
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend, frontend

backend test coverage
  src/documents/tests/test_bulk_edit.py
Due: backend

fix frontend test coverage
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Backend coverage
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend

Add update_document flag to bulkEdit remove_password
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Fix formatting issue in document-detail.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Fix: Case-insensitive search for Cyrillic scripts
  src/documents/filters.py
  src/documents/index.py
  src/documents/tests/test_index.py
Due: backend

Fix: propagate metadata override created value if set
  src/documents/data_models.py
  src/documents/tests/test_bulk_edit.py
Due: backend

Fix: propagate metadata override created value (#11659)
  src/documents/data_models.py
  src/documents/tests/test_bulk_edit.py
Due: backend

Fix: support ordering by storage path name
  src/documents/views.py
Due: backend

Fix: support ordering by storage path name (#11661)
  src/documents/views.py
Due: backend

Fix docs
  docs/api.md
Due: none

Change param order
  src/documents/bulk_edit.py
Due: backend

Cover this last bit
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Add password removal confirm dialog, with options
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Enhancement: password removal workflow action
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/migrations/1075_workflowaction_passwords_alter_workflowaction_type.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend, frontend

Fix ref injection in translate-strings workflow
  .github/workflows/translate-strings.yml
Due: none

Fix environment variable reference in workflow
  .github/workflows/translate-strings.yml
Due: none
