Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
flags:
  backend:
    paths:
      - src/**
    carryforward: true
  frontend:
    paths:
      - src-ui/**
    carryforward: true
# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "header, diff, components, flags, files"
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Adds a greenmail marker
  pyproject.toml
  src/paperless_mail/tests/test_live_mail.py
Due: backend

Ok, this is included into something, can't set some stuff
  docker/compose/test-nginx.conf
Due: none

Adds back access_log so we know things are reaching it even more surely
  docker/compose/test-nginx.conf
Due: none

Chore: Use a local http server instead of external to reduce flakiness (#11916)
  docker/compose/docker-compose.ci-test.yml
  docker/compose/test-nginx.conf
  pyproject.toml
  src/documents/tests/test_management_consumer.py
  src/paperless_mail/tests/conftest.py
  src/paperless_mail/tests/samples/html.eml
  src/paperless_mail/tests/samples/sample.html
  src/paperless_mail/tests/test_live_mail.py
  src/paperless_mail/tests/test_parsers_live.py
Due: backend

Chore: http interceptor as const and withInterceptors
  src-ui/src/app/interceptors/api-version.interceptor.spec.ts
  src-ui/src/app/interceptors/api-version.interceptor.ts
  src-ui/src/app/interceptors/csrf.interceptor.spec.ts
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/main.ts
Due: frontend

Fix: increase minimum screen width before inserting padding
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend

Feature: Add setting for default PDF Editor mode
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend

Lint
  src-ui/src/app/interceptors/api-version.interceptor.spec.ts
  src-ui/src/app/interceptors/api-version.interceptor.ts
  src-ui/src/app/interceptors/csrf.interceptor.spec.ts
  src-ui/src/app/interceptors/csrf.interceptor.ts
Due: frontend

Lint main.ts
  src-ui/src/main.ts
Due: frontend

Fix these imports too
  src-ui/src/app/interceptors/csrf.interceptor.ts
Due: frontend

Chore: Http interceptors refactor (#11923)
  src-ui/src/app/interceptors/api-version.interceptor.spec.ts
  src-ui/src/app/interceptors/api-version.interceptor.ts
  src-ui/src/app/interceptors/csrf.interceptor.spec.ts
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/main.ts
Due: frontend

Adjusts the flaky consumer tests by ensuring the times don't conflict and adding a mock poller instead of fixed sleeps
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend

Give the consumer thread more time to start so it is watching
  src/documents/tests/test_management_consumer.py
Due: backend

Dropped the marker
  src/documents/tests/test_management_consumer.py
Due: backend

I hate kind of guessing, but this seems stable...
  src/documents/tests/test_management_consumer.py
Due: backend

Claude did not do a good job
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend

When run via dispatch always push to GHCR
  .github/workflows/ci-docker.yml
Due: none

Sanitize branches with slashes and use that for the tag and cache tag, so we can build anything
  .github/workflows/ci-docker.yml
Due: none

Sonar
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Chore: Push manually dispatched images to the registry (#11925)
  .github/workflows/ci-docker.yml
Due: none

Update ui-settings.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend

Enhancement: Add setting for default PDF Editor mode (#11927)
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Tweak: increase minimum screen width before inserting padding (#11926)
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend

Chore: Resolve more flaky tests (#11920)
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend

Documentation: update duplicates note
  docs/administration.md
Due: none

Chore: refactor zoom and editor mode to use enums
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor-edit-mode.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-detail/zoom-setting.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend

Fix user checks in management scripts
  docker/management_script.sh
  docker/rootfs/usr/local/bin/convert_mariadb_uuid
  docker/rootfs/usr/local/bin/createsuperuser
  docker/rootfs/usr/local/bin/decrypt_documents
  docker/rootfs/usr/local/bin/document_archiver
  docker/rootfs/usr/local/bin/document_create_classifier
  docker/rootfs/usr/local/bin/document_exporter
  docker/rootfs/usr/local/bin/document_fuzzy_match
  docker/rootfs/usr/local/bin/document_importer
  docker/rootfs/usr/local/bin/document_index
  docker/rootfs/usr/local/bin/document_renamer
  docker/rootfs/usr/local/bin/document_retagger
  docker/rootfs/usr/local/bin/document_sanity_checker
  docker/rootfs/usr/local/bin/document_thumbnails
  docker/rootfs/usr/local/bin/mail_fetcher
  docker/rootfs/usr/local/bin/manage_superuser
  docker/rootfs/usr/local/bin/prune_audit_logs
Due: none

And run the upgrade once again
  uv.lock
Due: none

And the rest of it
  pyproject.toml
  uv.lock
Due: none

Latest 5.2 Django
  pyproject.toml
  uv.lock
Due: none

Takes care of allauth, granian, psycopg
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Minor hook updates
  .pre-commit-config.yaml
Due: none

Experiments with using adrf for a few views
  pyproject.toml
  src/paperless_mail/views.py
  uv.lock
Due: backend

Update tiktoken 0.12.0, greenlet: 3.3.1 and sqlalchemy[asyncio] 2.0.46
  uv.lock
Due: none

Expose port to host
  .devcontainer/devcontainer.json
  .devcontainer/vscode/tasks.json
Due: none

Chore: Bulk backend updates (#11543)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Fix: fix user checks in management scripts (#11928)
  docker/management_script.sh
  docker/rootfs/usr/local/bin/convert_mariadb_uuid
  docker/rootfs/usr/local/bin/createsuperuser
  docker/rootfs/usr/local/bin/decrypt_documents
  docker/rootfs/usr/local/bin/document_archiver
  docker/rootfs/usr/local/bin/document_create_classifier
  docker/rootfs/usr/local/bin/document_exporter
  docker/rootfs/usr/local/bin/document_fuzzy_match
  docker/rootfs/usr/local/bin/document_importer
  docker/rootfs/usr/local/bin/document_index
  docker/rootfs/usr/local/bin/document_renamer
  docker/rootfs/usr/local/bin/document_retagger
  docker/rootfs/usr/local/bin/document_sanity_checker
  docker/rootfs/usr/local/bin/document_thumbnails
  docker/rootfs/usr/local/bin/mail_fetcher
  docker/rootfs/usr/local/bin/manage_superuser
  docker/rootfs/usr/local/bin/prune_audit_logs
Due: none

Expose port to host (#11918)
  .devcontainer/devcontainer.json
  .devcontainer/vscode/tasks.json
Due: none
