Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Try this should_run thing
  .github/workflows/ci.yml
Due: none

Documentation: fix config admonitions
  docs/configuration.md
Due: none

Chore: remove conditional from pre-commit job in CI (#10916)
  .github/workflows/ci.yml
Due: none

Enhancement: support workflow path matching of barcode-split documents (#10723)
  src/documents/barcodes.py
  src/documents/data_models.py
  src/documents/matching.py
  src/documents/tests/test_barcodes.py
Due: backend

Development: try separating sonar scan
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: none

Revert "Development: try separating sonar scan"
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: none

Revert "Chore: remove conditional from pre-commit job in CI (#10916)"
  .github/workflows/ci.yml
Due: none

Revert "Chore: Enable SonarQube scanning (#10904)"
  .github/workflows/ci.yml
  pyproject.toml
  sonar-project.properties
Due: none

Ok, lets try manual Codecov comments
  .github/workflows/codecov-comment.yml
Due: none

Yikes, try split ci workflow
  .github/workflows/build-and-release.yml
  .github/workflows/ci.yml
Due: none

Update build-and-release.yml
  .github/workflows/build-and-release.yml
Due: none

Fix select option removal and pagination update
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
Due: frontend

Fix select option removal and pagination update (#10933)
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
Due: frontend

Revert "Chore: Enable SonarQube scanning (#10904)" (#10934)
  .github/workflows/ci.yml
  pyproject.toml
  sonar-project.properties
Due: none

Fancier comment
  .github/workflows/ci.yml
Due: none

Try manual Codecov comments
  .github/workflows/ci.yml
Due: none

Try unauthenticated
  .github/workflows/ci.yml
Due: none

Try this
  .github/workflows/ci.yml
Due: none

Remove codecov
  .github/workflows/ci.yml
Due: none

Fix: correct request data parsing and change response code
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend

Fix: correct frontend test
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.spec.ts
  src-ui/src/app/services/rest/document.service.spec.ts
Due: frontend

Fix schema failure
  src/documents/views.py
Due: backend

Add Coveralls for coverage
  .github/workflows/ci.yml
Due: none

Chore: remove Codecov token from CI workflow
  .github/workflows/ci.yml
Due: none

Chore: remove Codecov token from CI workflow (#10941)
  .github/workflows/ci.yml
Due: none

test from fork
  README.md
Due: none

Update README.md
  README.md
Due: none

Feature: Support interleaved page merging
  docs/api.md
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
Due: backend, frontend

Tweakhancement: slightly reorganize bulk editing buttons, fix wrapping
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.scss
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Due: frontend

Updates to the Trixie base image instead of Bookworm
  Dockerfile
  dev.txt
Due: none

Update document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.html
Due: frontend

Move it a bit
  src-ui/src/app/components/document-list/document-list.component.html
Due: frontend

Tweakhancement: reorganize some list & bulk editing buttons (#10944)
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.scss
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Due: frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
