Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fture search error ideas
  docs/superpowers/specs/2026-06-15-search-error-shapes-followup-stub.md
Due: none

Docs: revise export specs per critical review
  docs/superpowers/specs/2026-06-16-export-sink-architecture-design.md
  docs/superpowers/specs/2026-06-16-export-zip-compression-design.md
Due: none

Docs: verify zstd/3.14 facts in compression spec (empirical, uv --python 3.14)
  docs/superpowers/specs/2026-06-16-export-zip-compression-design.md
Due: none

Docs: export sink architecture + zip compression design specs
  docs/superpowers/specs/2026-06-16-export-sink-architecture-design.md
  docs/superpowers/specs/2026-06-16-export-zip-compression-design.md
Due: none

Docs: ingestion staging & enqueue unification implementation plan
  docs/superpowers/plans/2026-06-16-ingestion-staging-unification.md
Due: none

Docs: bulk-edit operation registry spec + implementation plan
  docs/superpowers/plans/2026-06-16-bulk-edit-operation-registry.md
  docs/superpowers/specs/2026-06-16-bulk-edit-operation-registry-design.md
Due: none

Combining chat and search to improve
  docs/superpowers/plans/2026-07-23-archive-chat-hybrid-retrieval.md
  docs/superpowers/specs/2026-07-23-archive-chat-hybrid-retrieval-design.md
Due: none

Docs: revise ingestion staging spec per critical review
  docs/superpowers/specs/2026-06-16-ingestion-staging-unification-design.md
Due: none

Docs: ingestion staging & enqueue unification design spec
  docs/superpowers/specs/2026-06-16-ingestion-staging-unification-design.md
Due: none

Docs: export zip compression implementation plan
  docs/superpowers/plans/2026-06-16-export-zip-compression.md
Due: none

Chore: reword "Settings > Default permissions" description for clarity (#13232)
  src-ui/src/app/components/admin/settings/settings.component.html
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Address review feedback: drop unnecessary ordering before collecting ids
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: selection_data re-derives the filtered document set 5 times over
  src/documents/permissions.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: selection_data re-derives the filtered document set 5 times over (#13229)
  src/documents/permissions.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bumps the version to 3.0.1 everywhere
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.0.1 - GHA
  docs/changelog.md
Due: none

Fix paperless mail migration history
  src/paperless_mail/migrations/0001_1_clamp_mailrule_maximum_age.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
  src/paperless_mail/tests/test_migrations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: fix broken migration in 3.0.1 (#13242)
  src/paperless_mail/migrations/0001_1_clamp_mailrule_maximum_age.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
  src/paperless_mail/tests/test_migrations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 3.0.2
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.0.2 - GHA
  docs/changelog.md
Due: none

Fix: handle notes without a user when building the search index
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: handle notes without a user when building the search index (#13260)
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Emit the torch index into the requirements.txt for people still using it
  .github/workflows/ci-release.yml
Due: none

Fix: Emit the torch index into the requirements.txt for people still using it (#13265)
  .github/workflows/ci-release.yml
Due: none

Document the NumPy baseline feature increase
  docs/migration-v3.md
Due: none

Handle a plain string as Celery sometimes provides for the traceback
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Corrects the newhalem link
  docs/migration-v3.md
Due: none

Ah, nothing else sets self._date
  src/paperless/parsers/mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Mock up a naive datetime to cover the branch
  src/paperless/tests/parsers/test_mail_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Makes the email date aware right after parsing so it always is downstream
  src/paperless/parsers/mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Handle a plain string as Celery sometimes provides for the traceback (#13267)
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Makes the email date aware as soon as possible during parsing (#13266)
  src/paperless/parsers/mail.py
  src/paperless/tests/parsers/test_mail_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Documentation: Add the NumPy CPU baseline increase to the migration guide (#13269)
  docs/migration-v3.md
Due: none

Fix: preserve document fields during Gotenberg conversion
  src/paperless/parsers/tika.py
  src/paperless/tests/parsers/test_tika_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable G (logging format), ignore G004 (f-strings)
  pyproject.toml
  src/documents/parsers.py
  src/documents/views.py
  src/paperless_mail/mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable B (flake8-bugbear)
  pyproject.toml
  src/documents/double_sided.py
  src/documents/filters.py
  src/documents/management/commands/document_exporter.py
  src/documents/models.py
  src/documents/plugins/date_parsing/base.py
  src/documents/search/_backend.py
  src/documents/serialisers.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_views.py
  src/documents/tests/test_workflows.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/paperless/settings/custom.py
  src/paperless/validators.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/tests/test_preprocessor.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable DTZ (flake8-datetimez)
  pyproject.toml
  src/documents/consumer.py
  src/documents/double_sided.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_double_sided.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
  src/paperless_mail/mail.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
