Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: enforce the overflow hidden rule on pdf editor thumbnails (#13976)
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.scss
Due: frontend-node-24.x, frontend

Resolves dependabot complaining about Redis vs Redis via Celery via Kombu
  pyproject.toml
  uv.lock
Due: none

Chore: Updates our direct Redis pin (#13986)
  pyproject.toml
  uv.lock
Due: none

Crap, ai_enabled should default to None
  src/paperless/migrations/0016_alter_applicationconfiguration_ai_enabled.py
  src/paperless/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update test_api_app_config.py
  src/documents/tests/test_api_app_config.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Change boolean configs to only override when not None
  src/paperless/config.py
  src/paperless/tests/test_config_precedence.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix teh ai_enabled fetching
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Make sure the index trigger still works
  src/documents/tests/test_api_app_config.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Forgot this in the migration op
  src/paperless/migrations/0016_alter_applicationconfiguration_ai_enabled.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Take it back, changing existing db is not the best idea
  src/paperless/migrations/0016_alter_applicationconfiguration_ai_enabled.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update test_config_precedence.py
  src/paperless/tests/test_config_precedence.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update 0016_alter_applicationconfiguration_ai_enabled.py
  src/paperless/migrations/0016_alter_applicationconfiguration_ai_enabled.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Exclude from dirtyCheck
  src-ui/src/app/components/admin/config/config.component.ts
Due: frontend-node-24.x, frontend

Just pull into frontend
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/data/paperless-config.ts
Due: frontend-node-24.x, frontend

Ok add externally_configured_fields
  src/documents/tests/test_api_app_config.py
  src/paperless/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ok now show the difference
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.spec.ts
Due: frontend-node-24.x, frontend

Fix: truncate mail subjects to field max length
  src/paperless_mail/mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

A test, sure
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: truncate mail subjects to field max length (#13991)
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Repo updates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/pull_request_template.md
  .github/workflows/issue-bot.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Add reproducible production Compose stack
  .env.example
  docker-compose.yml
Due: none

Pin build image digests
  Dockerfile
Due: none

Load all runtime secrets from external data
  docker-compose.yml
Due: none

Handles pytest-django
  src/documents/tests/conftest.py
  src/documents/tests/date_parsing/conftest.py
  src/documents/tests/export/test_sinks.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_schema.py
  src/documents/tests/test_checks.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_parsers.py
  src/documents/tests/test_workflows.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_mail_parser.py
  src/paperless/tests/parsers/test_remote_parser.py
  src/paperless/tests/parsers/test_tika_parser.py
  src/paperless/tests/test_adapter.py
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_views.py
  src/paperless_ai/tests/conftest.py
  src/paperless_ai/tests/test_index_locking.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add the filter, migration
  src/documents/filters.py
  src/documents/migrations/0026_alter_document_archive_checksum_and_more.py
  src/documents/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Backend tests for the filter
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add the duplicates filter to frontend query-params
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/utils/query-params.spec.ts
Due: frontend-node-24.x, frontend

Add to the filter editor
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Thread the user through for bulk edit all
  src/documents/filters.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Exclude empty checksums (Codex)
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: localize datepicker week start
  src-ui/src/app/utils/ngb-datepicker-config.spec.ts
  src-ui/src/app/utils/ngb-datepicker-config.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Enhancement: try to localize firstDayOfWeek for date picker
  src-ui/src/app/utils/ngb-input-date-picker-config.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Or weekInfo
  src-ui/src/app/utils/ngb-input-date-picker-config.ts
Due: frontend-node-24.x, frontend

Tests
  src-ui/src/app/utils/ngb-input-date-picker-config.spec.ts
Due: frontend-node-24.x, frontend

One more optional chain
  src-ui/src/app/utils/ngb-input-date-picker-config.ts
Due: frontend-node-24.x, frontend

Cover the getWeekInfo one
  src-ui/src/app/utils/ngb-input-date-picker-config.spec.ts
Due: frontend-node-24.x, frontend

good catch sonar
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Cover the other one too
  src-ui/src/app/utils/ngb-input-date-picker-config.spec.ts
Due: frontend-node-24.x, frontend

Forcibly
  src-ui/src/app/utils/ngb-input-date-picker-config.spec.ts
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
