Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

ruff: enable PERF (perflint)
  pyproject.toml
  src/documents/management/commands/document_retagger.py
  src/documents/tests/management/test_management_base_cmd.py
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/parsers/mail.py
  src/paperless_ai/embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable S324 (hashlib insecure hash functions)
  pyproject.toml
Due: none

Updates the script in docker too
  docker/rootfs/usr/local/bin/deduplicate.py
Due: none

Updates to ruff 0.16 and ignores, autofixes or handles all the new rules
  .pre-commit-config.yaml
  pyproject.toml
  src/documents/consumer.py
  src/documents/filters.py
  src/documents/management/commands/document_exporter.py
  src/documents/matching.py
  src/documents/plugins/date_parsing/base.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/search/test_translate.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_profile.py
  src/documents/tests/test_filters.py
  src/documents/validators.py
  src/documents/views.py
  src/paperless/asgi.py
  src/paperless/auth.py
  src/paperless/checks.py
  src/paperless/settings/__init__.py
  src/paperless/tests/parsers/test_mail_parser.py
  src/paperless/tests/settings/test_db_cache.py
  src/paperless/wsgi.py
  src/paperless_ai/tests/test_lazy_imports.py
  src/paperless_ai/vector_store.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: preserve document fields during Gotenberg conversion (#13271)
  src/paperless/parsers/tika.py
  src/paperless/tests/parsers/test_tika_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

implements feature request #13277
  src/documents/tests/test_share_link_bundles.py
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless/apps.py
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
  src/paperless/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak: adjust navbar wrapping when AI chat button visible
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Tweak: adjust top navbar wrapping when AI chat button visible (#13280)
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fixhancement: PAPERLESS_ALLAUTH_TRUSTED_PROXY_COUNT
  docs/configuration.md
  docs/migration-v3.md
  src/paperless/settings/__init__.py
  src/paperless/tests/settings/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: PAPERLESS_ALLAUTH_TRUSTED_PROXY_COUNT (#13281)
  docs/configuration.md
  docs/migration-v3.md
  src/paperless/settings/__init__.py
  src/paperless/tests/settings/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat: adapt llm prompt to not include correspondent
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

linter
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak: use css grid for navbar
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Refactor: rename assign_created_from label to 'Created date source'
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src/paperless_mail/migrations/0005_mailrule_email_metadata_targets.py
  src/paperless_mail/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: ask the LLM for the document sender, not every name mentioned
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: warn bare-metal users about stale files when upgrading (#13289)
  docs/administration.md
  docs/setup.md
Due: none

Docs: warn bare-metal users about stale files when upgrading (#13296)
  docs/administration.md
  docs/setup.md
Due: none

New Crowdin translations by GitHub Action
  src-ui/src/locale/messages.no_NO.xlf
  src/locale/no_NO/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Bump version to 3.0.3
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.0.3 - GHA
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Fix: fix frontend permissions display for stats/system perms
  src-ui/src/app/services/permissions.service.ts
Due: frontend-node-24.x, frontend

coverage
  src-ui/src/app/services/permissions.service.spec.ts
Due: frontend-node-24.x, frontend

Fix: fix frontend permissions display for stats/system perms (#13305)
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
Due: frontend-node-24.x, frontend

Fix: prevent search filter loss when closing document with Escape key
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: prevent search filter loss when closing document with Escape key (#13317)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: actually disable Ollama thinking for AI suggestions
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: guard build_document_node against stale FK on deleted correspondent/type
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: guard build_document_node against stale FK on deleted correspondent/doc type (#13318)
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: add docstring to DocumentClassifierSchema for cleaner LLM tool description
  src/paperless_ai/base_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: add docstring to DocumentClassifierSchema for cleaner LLM tool description (#13315)
  src/paperless_ai/base_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: clamp out-of-range MailRule.order and ApplicationConfiguration DPI/page fields before smallint migration (#13309)
  src/paperless/migrations/0007_optimize_integer_field_sizes.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: clamp out-of-range MailRule.order and ApplicationConfiguration DPI/page fields before smallint migration (#13316)
  src/paperless/migrations/0007_optimize_integer_field_sizes.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: propagate reload to PDF viewer even when URL doesnt change
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Add e2e test
  src-ui/e2e/document-detail/document-detail.spec.ts
Due: frontend-node-24.x, frontend

Fix: ensure preview reload on live changes (#13321)
  src-ui/e2e/document-detail/document-detail.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Try angular build/cli 22.1.0-rc.0
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
