Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Chore: update Postgres compose volume mount path
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
Due: none

Chore: update Postgres compose volume mount path (#11084)
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
Due: none

Tweak: improve tag parent validation error handling
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

Tweak: improve tag parent validation error handling (#11096)
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Syncs up the CI uv version as well
  .github/workflows/ci.yml
Due: none

Bump version to 2.19.0
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.19.0 - GHA
  docs/changelog.md
Due: none

Fix: dont display or fetch users or groups with insufficient perms
  src-ui/src/app/components/admin/users-groups/users-groups.component.html
  src-ui/src/app/components/admin/users-groups/users-groups.component.ts
Due: frontend

Fix: dont display or fetch users or groups with insufficient perms (#11111)
  src-ui/src/app/components/admin/users-groups/users-groups.component.html
  src-ui/src/app/components/admin/users-groups/users-groups.component.ts
Due: frontend

Fix: use original object for children in tag list
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Due: frontend

Fix: use original object for children in tag list (#11127)
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Due: frontend

Fix: move hierarchical order logic in dropdown sorting
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Fix: move hierarchical order logic in dropdown sorting (#11128)
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Update document count filter for unauthenticated users
  src/documents/views.py
Due: backend

Fix: retrieve document_count for tag children
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
  src/documents/views.py
Due: backend

Test for coverage
  src/documents/tests/test_tag_hierarchy.py
Due: backend

DRY
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Fix: retrieve document_count for tag children (#11125)
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
  src/documents/views.py
Due: backend

Fix: restore workflow title migration
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend

Fix: restore workflow title migration (#11131)
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend
