Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fix: Resolve another TC assuming an object has been created somewhere (#12503)
  src/documents/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Security: Improve overall security in a few ways (#12501)
  Dockerfile
  docker/compose/docker-compose.env
  docs/configuration.md
  paperless.conf.example
  pyproject.toml
  src/documents/barcodes.py
  src/documents/classifier.py
  src/documents/plugins/date_parsing/regex_parser.py
  src/documents/regex.py
  src/documents/tests/data/v1.17.4.model.pickle
  src/documents/tests/test_classifier.py
  src/documents/tests/test_regex.py
  src/paperless/settings/__init__.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: allow opt-in blocking internal mail hosts (#12502)
  docs/configuration.md
  src/paperless/settings/__init__.py
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Security: Registers a custom serializer which signs the task payload (#12504)
  src/paperless/celery.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_celery.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tests and fix a bug with the img2pdf functionality
  src/paperless/parsers/tesseract.py
  src/paperless/tests/parsers/test_convert_image_to_pdfa.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add debug level logging for why an archive is made and why we decided OCR or not
  src/documents/consumer.py
  src/paperless/parsers/tesseract.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Using a contextvar, set an ID which appears in logs for the consumption, allowing correlation of log lines to the file they concern
  src/documents/tasks.py
  src/paperless/logging.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_logging.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds stronger typing to the status managers
  src/documents/consumer.py
  src/documents/plugins/helpers.py
  src/documents/tests/utils.py
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Update consumer logging to include task ID for log correlation (#12510)
  src/documents/tasks.py
  src/paperless/logging.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_logging.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update the filter editor too
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Wire the simple searches to view
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Export SearchMode in search __init__
  src/documents/search/__init__.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Last frontend coverage, good to do actually
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
Due: frontend-node-24.x, frontend

Add remove_long filter to simple search analyzer
  src/documents/search/_tokenizer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just moving these comments
  src-ui/src/app/data/filter-rule-type.ts
Due: frontend-node-24.x, frontend

Anchor later query tokens in regex search
  src/documents/search/_query.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Switch simple substring search to simple_search analyzer
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/search/_schema.py
  src/documents/search/_tokenizer.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/search/test_tokenizer.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Drop backwards migration
  src/documents/migrations/0018_saved_view_simple_search_rules.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use tantivy for global search too
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Centralize/de-dupe this const
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/utils/query-params.ts
Due: frontend-node-24.x, frontend

De-dupe this
  src/documents/search/_backend.py
  src/documents/search/_normalize.py
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix this one failing test
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
Due: frontend-node-24.x, frontend

Add simple text search mode and API param
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add deprecated filter logging
  src/documents/filters.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update all these uses of FILTER_TITLE_CONTENT
  src-ui/src/app/components/app-frame/global-search/global-search.component.spec.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
Due: frontend-node-24.x, frontend

Fix frontend coverage
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
Due: frontend-node-24.x, frontend

Fix sonar thing, 1 more coverage line
  src/documents/search/_query.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add a couple deprecation notes
  src-ui/src/app/data/filter-rule-type.ts
  src/documents/filters.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Ok make it a proper filter type
  src/documents/migrations/0017_saved_view_simple_search_rules.py
  src/documents/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Reject searches with too many params
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bring in the new filter type to frontend
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/utils/query-params.spec.ts
  src-ui/src/app/utils/query-params.ts
Due: frontend-node-24.x, frontend

Update filter-editor.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Update API docs
  docs/api.md
Due: none

Document TITLE search mode in TantivyBackend
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Rename migration
  src/documents/migrations/0018_saved_view_simple_search_rules.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix e2e
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/e2e/document-list/requests/api-document-list2.har
Due: frontend-node-24.x, frontend

Backend tests
  src/documents/tests/search/test_backend.py
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add a simple title query
  src/documents/search/_backend.py
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
