Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Chore: Upgrades Django manually, since dependabot is failing. Resolves security alerts (#12567)
  pyproject.toml
  uv.lock
Due: none

Also removes a double resolve() call
  src/documents/sanity_checker.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fetch only required fields and use an iterator for sanity checking
  src/documents/sanity_checker.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: do not submit permissions for non-owners
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Fix inheritance
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Fix: Use an iterator in the sanity checking (#12563)
  src/documents/sanity_checker.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: do not submit permissions for non-owners (#12571)
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Fixes an N+1 query in matching with the version content fetching by prefetching versions (#12562)
  src/documents/consumer.py
  src/documents/models.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: re-baseline mypy and pyrefly after type param additions
  .gitignore
  .pyrefly-baseline.json
Due: none

Chore: add generic type parameters to remaining serializer classes
  .mypy-baseline.txt
  .pyrefly-baseline.json
  src/paperless/serialisers.py
  src/paperless_mail/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: add generic type parameters to serializer and view classes
  .mypy-baseline.txt
  .pyrefly-baseline.json
  src/documents/serialisers.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: add generic type params to view classes
  .mypy-baseline.txt
  .pyrefly-baseline.json
  src/documents/views.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Set the required secret key env var for jobs which need it or will need it
  .github/workflows/ci-backend.yml
  .github/workflows/ci-release.yml
  .github/workflows/translate-strings.yml
Due: none

Chore: Add generic type params and update our baselines (#12566)
  .github/workflows/ci-backend.yml
  .github/workflows/ci-release.yml
  .github/workflows/translate-strings.yml
  .gitignore
  .mypy-baseline.txt
  .pyrefly-baseline.json
  src/documents/serialisers.py
  src/documents/views.py
  src/paperless/serialisers.py
  src/paperless/views.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update usage.md
  docs/usage.md
Due: none

Bump version to 2.20.14
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v2.20.14 - GHA
  docs/changelog.md
Due: none

Reorganize
  docs/changelog.md
Due: none

Breaking: Remove the positional arguments from the pre/post consume scripts. Environment has been preferred for quite some time now
  docs/migration-v3.md
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Breaking: Remove the positional arguments from the pre/post consume scripts. Environment has been preferred for quite some time now (#12573)
  docs/migration-v3.md
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

perf(fuzzy-match): eliminate O(n²) allocation, add score_cutoff, filter inline
  src/documents/management/commands/document_fuzzy_match.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(fuzzy-match): Rich table output with color-coded similarity scores
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(fuzzy-match): add --yes flag and interactive confirmation before deletion
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(fuzzy-match): use DocumentFactory in test_document_deletion_cancelled
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

hit yellow (90%), red (94%), and bold-red (99%) branches for coverage
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(fuzzy-match): sort results by similarity score descending
  src/documents/management/commands/document_fuzzy_match.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

perf(fuzzy-match): stream work packages to avoid pre-build delay
  src/documents/management/commands/document_fuzzy_match.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: Return HTTP 400 instead of HTTP 500 on DELETE /api/documents/{id}/notes/ with missing or invalid note id
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: Properly handle non-integer values + make use of the existing function get_object_or_404
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates PAPERLESS_DB_OPTIONS for comma separator and new engine defaults
  docs/configuration.md
  docs/migration-v3.md
Due: none

Adds database tuning defaults to parse_db_settings
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Clarify isolation_level intent and cache_size unit
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: Add a 3rd unit test test_delete_note_invalid_id
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: Return HTTP 400 instead of HTTP 500 on DELETE /api/documents/{id}/notes/ with missing or invalid note id (#12582)
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Document fuzzy match improvements (#12579)
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Tune SQLite default settings for increased speed (#12580)
  docs/configuration.md
  docs/migration-v3.md
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
