Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Chore: mark another test flaky
  src/paperless_mail/tests/test_mail.py
Due: backend

Bump version to 2.20.3
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.20.3 - GHA
  docs/changelog.md
Due: none

Chore: refactor preview URL variable naming and safeUrl usage
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend

Chore: mark test_error_skip_rule as flaky
  src/paperless_mail/tests/test_mail.py
Due: backend

Fix: prevent ASN collisions for merge operations
  src/documents/barcodes.py
  src/documents/bulk_edit.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/tests/test_bulk_edit.py
Due: backend

Update consumer.py
  src/documents/consumer.py
Due: backend

Update test_consumer.py
  src/documents/tests/test_consumer.py
Due: backend

Fix: prevent ASN collisions for merge operations (#11634)
  src/documents/barcodes.py
  src/documents/bulk_edit.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_consumer.py
Due: backend

add id-ID Indonesian locales
  src-ui/angular.json
Due: frontend

add Indonesian to Languages array
  src/paperless/settings.py
Due: backend

add Indonesian Languages
  src-ui/src/app/services/settings.service.ts
Due: frontend

add Indonesian language
  src-ui/src/main.ts
Due: frontend

add Indonesian locale
  src-ui/src/main.ts
Due: frontend

Feature: Indonesian translation
  src-ui/angular.json
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/paperless/settings.py
Due: backend, frontend

Further adaption of tests: Use better PDF and clarify test intent
  src/documents/tests/test_barcodes.py
Due: backend

Ensure tags are actually assigned during consumption of split documents and add test
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
Due: backend

Fix testing issues from missing local tests. Shame on me, I forgot to run them all.
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_barcodes.py
Due: backend

Add TAG barcode document splitting feature
  docs/advanced_usage.md
  docs/configuration.md
  paperless.conf.example
  src-ui/src/app/data/paperless-config.ts
  src/documents/barcodes.py
  src/documents/tests/samples/barcodes/split-by-tag-asn-multiple-same-page.pdf
  src/documents/tests/samples/barcodes/split-by-tag-basic.pdf
  src/documents/tests/samples/barcodes/split-by-tag-comma-separated.pdf
  src/documents/tests/samples/barcodes/split-by-tag-mixed-asn.pdf
  src/documents/tests/samples/barcodes/split-by-tag-multiple-per-page.pdf
  src/documents/tests/test_barcodes.py
  src/paperless/config.py
  src/paperless/migrations/0005_applicationconfiguration_barcode_tag_split.py
  src/paperless/models.py
  src/paperless/settings.py
Due: backend, frontend

Manually check and remove noisy tests that do not add specific value for current split feature
  src/documents/tests/samples/barcodes/split-by-tag-asn-multiple-same-page.pdf
  src/documents/tests/test_barcodes.py
Due: backend

Proper integration test for tag splitting and re-consumption
  src/documents/tests/test_barcodes.py
Due: backend

add negative test for missing line in coverage report
  src/documents/tests/test_barcodes.py
Due: backend

Feature: Indonesian translation (#11641)
  src-ui/angular.json
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/paperless/settings.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Documentation: default bool value consistency
  docs/configuration.md
Due: none

A ChatGPT script for testing
  scripts/tag_perf_probe.py
Due: none

Run Tag tree updates once per transaction
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
