Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove coverage for a few just in case places
  src/documents/management/commands/document_consumer.py
  src/documents/tests/factories.py
Due: backend

We've already filtered to just files, remove extra handling
  src/documents/management/commands/document_consumer.py
Due: backend

Delete them here too?
  src/documents/tests/test_management_consumer.py
Due: backend

Applies the copilot suggestions for the documentation updates
  docs/configuration.md
  docs/migration.md
  paperless.conf.example
  src/documents/tests/test_management_consumer.py
Due: backend

Really working on this new consumer now
  pyproject.toml
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
  uv.lock
Due: backend

Don't cover a few error cases and odd ball things
  src/documents/management/commands/document_consumer.py
Due: backend

A few minor test updates to cover some edge case errors
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend

Clean ups
  src/documents/management/commands/document_consumer.py
  src/documents/tests/factories.py
Due: backend

Re-works the testing to resolve warnings. See about CI?
  src/documents/tests/test_management_consumer.py
Due: backend

Updating documentation
  docs/advanced_usage.md
  docs/configuration.md
  docs/setup.md
  docs/troubleshooting.md
  paperless.conf.example
Due: none

Other things depend on this
  src/paperless/settings.py
Due: backend

Cleaning up the documentation and adding the first migration guide
  docs/advanced_usage.md
  docs/migration.md
  docs/troubleshooting.md
  docs/usage.md
  mkdocs.yml
Due: none

Don't try to even track not files
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend

I'm not sure why this seems flaky in CI, just try to re-run
  src/documents/tests/test_management_consumer.py
Due: backend

docs: Update deferred security findings for Workflow tenant isolation
  docs/docs/security/deferred-findings.md
Due: none

docs: Add comprehensive documentation for thread-local tenant context fix
  docs/docs/deployment/tenant-middleware-configuration.md
  docs/docs/development/tenant-aware-models.md
  docs/docs/security/tenant-isolation.md
  docs/docs/security/thread-local-tenant-context.md
Due: none

Fix sidebar scrollbar theming in dark mode
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/theme.scss
Due: frontend

Feature: Simplify and improve the consumer (#11753)
  docs/advanced_usage.md
  docs/configuration.md
  docs/migration.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
  mkdocs.yml
  paperless.conf.example
  pyproject.toml
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
  src/paperless/settings.py
  uv.lock
Due: backend

docs: Add comprehensive User model tenant isolation documentation
  docs/docs/security/deferred-findings.md
  docs/docs/security/tenant-isolation.md
  docs/docs/security/user-tenant-isolation.md
Due: none

docs: Add comprehensive Group tenant isolation documentation
  docs/docs/security/group-tenant-isolation.md
  docs/docs/security/tenant-isolation.md
Due: none

docs: Add comprehensive Document tenant isolation documentation
  docs/docs/security/document-tenant-isolation.md
  docs/docs/security/tenant-isolation.md
Due: none

docs: Add comprehensive Note model tenant isolation documentation
  docs/docs/security/note-tenant-isolation.md
  docs/docs/security/tenant-isolation.md
Due: none

docs: Add comprehensive ShareLink tenant isolation documentation
  docs/docs/security/sharelink-tenant-isolation.md
Due: none

docs: Add comprehensive CustomField tenant isolation documentation
  docs/docs/security/customfield-tenant-isolation.md
Due: none

docs: Add comprehensive Workflow tenant isolation documentation
  docs/docs/security/workflow-tenant-isolation.md
Due: none

Resolves gpg-agent hanging around and using inotify handles too
  src/paperless_mail/tests/test_preprocessor.py
Due: backend

Resolves gpg-agent hanging around and using inotify handles too (#11848)
  src/paperless_mail/tests/test_preprocessor.py
Due: backend

Enhancement: doc_id placeholder support in workflow templates
  docs/usage.md
  src/documents/templating/workflows.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
  src/documents/workflows/mutations.py
Due: backend

Enhancement: support doc_id placeholder in workflow templates (#11847)
  docs/usage.md
  src/documents/templating/workflows.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
  src/documents/workflows/mutations.py
Due: backend

Manually upgrades allauth to resolve a security issue with it
  pyproject.toml
  uv.lock
Due: none

Chore: Manually upgrades allauth to resolve a security issue with it (#11853)
  pyproject.toml
  uv.lock
Due: none

Fix: ensure css color-scheme for dark mode
  src-ui/src/theme.scss
Due: frontend

Fix: ensure css color-scheme for dark mode (#11855)
  src-ui/src/theme.scss
Due: frontend

fixed the storage issue
  k8s/base/paless-web-deployment.yaml
  k8s/base/paless-worker-deployment.yaml
  src/documents/migrations/1099_merge_20260122_0811.py
  src/paperless/middleware.py
  src/paperless/migrations/0008_assign_users_to_acme_tenant.py
  src/paperless/models.py
Due: backend

working developer environment
  .gitignore
  dev-env.sh
  docker-compose.dev.yml
  playwright.config.dev.ts
  scripts/db-inspect.sh
  src/documents/migrations/1081_enable_row_level_security.py
Due: backend

feat: Add users ManyToManyField to TenantGroup model
  src/documents/migrations/1100_add_users_to_tenantgroup.py
  src/documents/models/tenant_group.py
  test_tenant_group_users.py
Due: backend

Start in migrator
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-system-checks/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
Due: none

save this, it does work
  src/manage_migration.py
  src/paperless/migration_asgi.py
  src/paperless_migration/__init__.py
  src/paperless_migration/apps.py
  src/paperless_migration/settings.py
  src/paperless_migration/templates/paperless_migration/migration_home.html
  src/paperless_migration/urls.py
  src/paperless_migration/views.py
  src/paperless_migration/wsgi.py
Due: backend

Still support conf
  src/paperless_migration/settings.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
