Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Backend tests
  src/paperless/ai/matching.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
  src/paperless/tests/test_ai_matching.py
Due: backend

Fix
  src/documents/views.py
  src/paperless/ai/matching.py
  src/paperless/tests/test_ai_matching.py
Due: backend

Correct object retrieval
  src/paperless/ai/matching.py
Due: backend

Invalidate llm suggestion cache on doc save
  src/documents/caching.py
  src/documents/signals/handlers.py
Due: backend

Test views, caching
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend

Automatically remove suggestions after add
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Basic handling of non-AI response
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
Due: frontend

Cleaner auto-remove
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Pass AI enabled to frontend
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
Due: backend, frontend

Use a frontend config
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
Due: backend, frontend

llamaindex vector index, llmindex mangement command
  docker/install_management_commands.sh
  docker/rootfs/usr/local/bin/document_llmindex
  pyproject.toml
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/embedding.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  uv.lock
Due: backend

Use password and select config fields
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/data/paperless-config.ts
  src/paperless/serialisers.py
Due: backend, frontend

Docs
  docs/configuration.md
  docs/index.md
  docs/usage.md
Due: none

Fix ollama, fix RAG
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
Due: backend

RAG into suggestions
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/rag.py
Due: backend

Add backend settings to frontend config
  src-ui/src/app/data/paperless-config.ts
Due: frontend

Tweak ollama timeout, prompt
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
Due: backend

Better encapsulate backends, use llama_index OpenAI
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/client.py
  src/paperless/ai/llms.py
Due: backend

Individual doc chat
  src/documents/views.py
  src/paperless/ai/chat.py
Due: backend

Super basic doc chat
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/ai/client.py
  src/paperless/ai/indexing.py
Due: backend

Fixup some tests
  src/documents/tests/test_api_app_config.py
  src/paperless/ai/llms.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
  src/paperless/tests/test_ai_client.py
Due: backend

Unify, respect perms
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
Due: backend

Just some docs
  docs/configuration.md
  docs/usage.md
Due: none

Trim nodes
  src/paperless/ai/chat.py
Due: backend

Backend streaming chat
  src/documents/views.py
  src/paperless/ai/ai_classifier.py
  src/paperless/ai/chat.py
  src/paperless/ai/llms.py
  src/paperless/urls.py
Due: backend

Fix naming
  docs/configuration.md
  src/paperless/ai/embedding.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_classifier.py
Due: backend

Just use the built-in ollama LLM class of course
  pyproject.toml
  src/paperless/ai/chat.py
  src/paperless/ai/client.py
  src/paperless/ai/llms.py
  src/paperless/tests/test_ai_client.py
  uv.lock
Due: backend

Extremely basic chat component
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/app-frame/toasts-dropdown/toasts-dropdown.component.html
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.scss
  src-ui/src/app/components/chat/chat/chat.component.ts
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/app/services/chat.service.ts
  src-ui/src/app/services/csrf.service.ts
  src-ui/src/main.ts
  src/paperless/settings.py
Due: backend, frontend

Try rewriting with httpclient
  src-ui/src/app/interceptors/csrf.interceptor.ts
  src-ui/src/app/services/chat.service.ts
  src-ui/src/app/services/csrf.service.ts
  src-ui/src/main.ts
Due: frontend

Fix openai api key, config settings saving
  src-ui/src/app/data/paperless-config.ts
  src/paperless/ai/client.py
  src/paperless/serialisers.py
  src/paperless/tests/test_ai_client.py
Due: backend, frontend

Fix gzip breaks streaming and flush stream
  src/documents/views.py
  src/paperless/ai/chat.py
  src/paperless/settings.py
Due: backend

Fix partial length in chat
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Only show chat if enabled
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
Due: frontend

Sweet chat animation, cursor
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.scss
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Tests for rest of RAG
  src/paperless/tests/test_ai_rag.py
Due: backend

Chat component and service coverage
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
  src-ui/src/app/components/chat/chat/chat.component.ts
  src-ui/src/app/services/chat.service.spec.ts
  src-ui/src/app/services/chat.service.ts
Due: frontend

Real doc ID updating
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Handle doc updates, refactor
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/paperless/ai/chat.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/tests/test_ai_chat.py
  src/paperless/tests/test_ai_indexing.py
  src/paperless/tests/test_ai_rag.py
Due: backend

Chat coverage
  src/paperless/ai/chat.py
  src/paperless/tests/test_ai_chat.py
Due: backend

Incremental llm index update, add scheduled llm index task
  docs/configuration.md
  src/documents/management/commands/document_llmindex.py
  src/documents/tasks.py
  src/paperless/ai/indexing.py
  src/paperless/config.py
  src/paperless/settings.py
  src/paperless/tests/test_ai_indexing.py
  src/paperless/tests/test_settings.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
