Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Remove this stuff now
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.ts
Due: frontend-node-24.x, frontend

Not even optional
  src-ui/src/app/data/results.ts
Due: frontend-node-24.x, frontend

tests
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
Due: frontend-node-24.x, frontend

Support all for BulkEditObjectsView
  src/documents/serialisers.py
  src/documents/tests/test_api_objects.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use a backend display_count to fix nested tag thing
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/data/results.ts
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
Due: frontend-node-24.x, frontend

Update api.md
  docs/api.md
Due: none

Frontend use all option for bulk edit objects instead of sending IDs
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.spec.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
Due: frontend-node-24.x, frontend

Sonar
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
Due: frontend-node-24.x, frontend

feat(search): wire Tantivy backend into all callsites; remove Whoosh
  src/documents/admin.py
  src/documents/bulk_edit.py
  src/documents/index.py
  src/documents/management/commands/document_index.py
  src/documents/search/__init__.py
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/search/_schema.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_admin.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_api_status.py
  src/documents/tests/test_delayedquery.py
  src/documents/tests/test_index.py
  src/documents/tests/test_matchables.py
  src/documents/tests/test_task_signals.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

refactor(search): replace context manager smell with explicit open/close lifecycle
  src/documents/search/_backend.py
  src/documents/search/_schema.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test(search): expand query rewriting coverage for Whoosh compat shims
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Remove silly lines
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: update search documentation for Tantivy backend
  docs/administration.md
  docs/api.md
  docs/configuration.md
  docs/usage.md
Due: none

Enhancement: rank autocomplete suggestions by document frequency
  docs/api.md
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: infer SEARCH_LANGUAGE from OCR_LANGUAGE; validate if explicit
  docs/configuration.md
  src/documents/search/_schema.py
  src/documents/search/_tokenizer.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates to plugin documentation
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/development.md
Due: none

Chore: bump Docker index version to 1 (Tantivy); add language change detection
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docs/administration.md
Due: none

Enhancement: document_index reindex --if-needed; simplify Docker startup
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docs/administration.md
  src/documents/management/commands/document_index.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tests: cover document_index reindex --if-needed flag
  src/documents/tests/test_management.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: break autocomplete frequency ties alphabetically for stable output
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: expand search section with custom field, notes, and tokenization examples
  docs/usage.md
  src/documents/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: inline index_reindex into management command; promote needs_rebuild to public API
  src/documents/management/commands/document_index.py
  src/documents/search/__init__.py
  src/documents/search/_schema.py
  src/documents/tasks.py
  src/documents/tests/test_management.py
  src/documents/tests/test_tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: simplify Tantivy search backend for clarity and consistency
  src/documents/search/_backend.py
  src/documents/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: count notes during iteration instead of issuing extra COUNT(*) query
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: add _search_index fixture to TestDateWorkflowLocalization
  src/documents/tests/conftest.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: Enhance docstrings and test quality for Tantivy search backend
  src/documents/management/commands/document_index.py
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/search/_schema.py
  src/documents/search/_tokenizer.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/search/test_tokenizer.py
  src/documents/tests/test_management.py
  src/documents/tests/test_tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ensure index dir exists before open, fix test isolation gaps
  src/documents/search/_schema.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: consolidate IterWrapper/identity into documents.utils
  src/documents/sanity_checker.py
  src/documents/search/_backend.py
  src/documents/tasks.py
  src/documents/utils.py
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: fall back to in-memory index when INDEX_DIR does not exist
  src/documents/search/_schema.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Uses regex matching with a timeout for all Whoosh query re-writing
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

iterdir doesn't need a list
  src/documents/search/_schema.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates fixture for sonar
  src/documents/tests/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Probably covers that branch, we'll find out
  src/paperless/settings/parsers.py
  src/paperless/tests/settings/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Covers the reindex --recreate path and documents the flag
  docs/administration.md
  src/documents/tests/test_management.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Improves typing a touch
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: deprecate and remove usage of `all` in API results (#12309)
  docs/api.md
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.ts
  src-ui/src/app/data/results.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.spec.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
  src/documents/index.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_api_search.py
  src/documents/views.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

TimeoutError is builtin, not exported from regex
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Also no cover this defensive TimeoutError
  src/documents/search/_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
