Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Tries to resolve the manifest creation
  .github/workflows/ci-docker.yml
Due: none

Updates old actions to the latest versions
  .github/workflows/ci-docker.yml
Due: none

Chore: Build the ARM64 image using the native ARM64 runner (#11720)
  .github/workflows/ci-docker.yml
Due: none

Always use the compressed static backend
  src/paperless/settings.py
Due: backend

Uses skopeo for a supposedly better copy across registry tool
  .github/workflows/ci-docker.yml
Due: none

Feature: pre-compress static files on ARM64 (#11721)
  .github/workflows/ci-docker.yml
  src/paperless/settings.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Move maximize space to new ci step
  .github/workflows/ci-docker.yml
Due: none

Cleanup tests and remove tests duplicating already tested behavior
  src/documents/tests/test_barcodes.py
Due: backend

Remove unused test file
  src/documents/tests/samples/barcodes/split-by-tag-comma-separated.pdf
Due: backend

Normalize and casefold input in TitleContentFilter
  src/documents/filters.py
Due: backend

Good point sonar
  src-ui/src/app/services/document-list-view.service.ts
Due: frontend

Also for CF
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.ts
Due: frontend

Fix test
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
Due: frontend

Tweak: use anchor element for filter documents list
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
Due: frontend

Tweakhancement: use anchor element for management list quick filter buttons (#11692)
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Add test to mock issue
  src/documents/tests/test_index.py
Due: backend

Coverage i think
  src/documents/tests/test_index.py
Due: backend

Add error handling w retty when opening index
  src/documents/index.py
Due: backend

Fixhancement: add error handling and retry when opening index (#11731)
  src/documents/index.py
  src/documents/tests/test_index.py
Due: backend

Fix: recurring workflow to respect latest run time
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Due: backend

Fix: recurring workflow to respect latest run time (#11735)
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Due: backend

Cover this last bit
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

backend test coverage
  src/documents/tests/test_bulk_edit.py
Due: backend

Fix formatting issue in document-detail.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Fix docs
  docs/api.md
Due: none

Backend coverage
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend

whitespace yay
  src/documents/tests/test_bulk_edit.py
Due: backend

Add password removal confirm dialog, with options
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Change param order
  src/documents/bulk_edit.py
Due: backend

Add test
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Just hide for non-owners
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
