Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

add api tests
  src/documents/tests/test_api_workflows.py
Due: backend

simplify this
  src/documents/signals/handlers.py
Due: backend

and this
  src/documents/workflows/actions.py
Due: backend

Fix: validate cf integer values within PostgreSQL range
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend

Update test_workflows.py
  src/documents/tests/test_workflows.py
Due: backend

Fix: validate cf integer values within PostgreSQL range (#11666)
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Add support for XML files (as text)
  src/paperless_text/signals.py
Due: backend

Add test to reproduce asn in trash error
  src/documents/tests/test_barcodes.py
Due: backend

Fix: run pre-flight ASN check after barcode detection
  src/documents/barcodes.py
Due: backend

A ChatGPT script for testing
  scripts/tag_perf_probe.py
Due: none

Optimize tag children retrieval
  src/documents/serialisers.py
  src/documents/views.py
Due: backend

Run Tag tree updates once per transaction
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

Better, attempt removal later for ConsumableDocument
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend

Add docstrings to workflow password removal tests
  src/documents/tests/test_workflows.py
Due: backend

Add hint for plain text password storage
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
Due: frontend

Documentation: update notes for DB pool size (#11600)
  docs/configuration.md
Due: none

Add send menu to bulk editor
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Skeleton share bundle component
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.scss
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/share-link.ts
Due: frontend

Skeleton bundle component some more
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/share-bundle.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
Due: frontend

Generic warning
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
Due: frontend

Random cleanup stuff
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.html
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Basic wiring of existing bundles
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.spec.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
Due: frontend

Backend initial stuff
  src-ui/src/app/data/share-bundle.ts
  src/documents/admin.py
  src/documents/filters.py
  src/documents/migrations/1075_sharebundle.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend, frontend

Initial task for building
  src-ui/src/app/data/share-bundle.ts
  src/documents/migrations/1075_sharebundle.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings.py
Due: backend, frontend

Initial result display in create dialog
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Unify labels
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/data/share-bundle.ts
Due: frontend

Manage dialog polling
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
Due: frontend

Cleanup expired task
  src/documents/tasks.py
  src/paperless/settings.py
Due: backend

Better explanation
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
Due: frontend

Trim slug in zip name
  src/documents/views.py
Due: backend

Remove standalone
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
Due: frontend

Use titles not IDs
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.html
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Consistent naming to Share Link Bundle
  src-ui/src/app/components/common/share-bundle-dialog/share-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.scss
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-manage-dialog/share-link-bundle-manage-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/share-bundle.ts
  src-ui/src/app/data/share-link-bundle.ts
  src-ui/src/app/services/rest/share-bundle.service.ts
  src-ui/src/app/services/rest/share-link-bundle.service.ts
  src/documents/admin.py
  src/documents/filters.py
  src/documents/migrations/1075_sharelinkbundle.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless/urls.py
Due: backend, frontend

Nice badge
  src-ui/src/app/components/common/share-bundle-manage-dialog/share-bundle-manage-dialog.component.html
Due: frontend
