Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Chore: include password validation in profile edit
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
  src/paperless/views.py
Due: backend, frontend

Also for user edit, unify them
  src/paperless/serialisers.py
Due: backend

Cover that last line
  src/documents/tests/test_api_profile.py
Due: backend

Lol, password validation really does work
  src/documents/tests/test_api_permissions.py
Due: backend

Chore: include password validation on user edit (#11308)
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
  src/paperless/views.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Update placeholder descriptions to use '-none-'
  docs/advanced_usage.md
Due: none

Documentation: update placeholder descriptions to use '-none-'
  docs/advanced_usage.md
Due: none

Fix: allow storage path preview to include replace none logic
  src/documents/file_handling.py
  src/documents/tests/test_api_objects.py
  src/documents/views.py
Due: backend

Add PlaceholderString for template empty value handling
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Due: backend

Unify these two tests
  src/documents/tests/test_api_objects.py
Due: backend

Ah, include not equal too
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Due: backend

Fix: include replace none logic in storage path preview, improve jinja conditionals for empty metadata (#11315)
  src/documents/file_handling.py
  src/documents/templating/filepath.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
Due: backend

Fix: only cache remote version for version checking
  src/documents/views.py
Due: backend

Fix: only cache remote version for version checking (#11320)
  src/documents/views.py
Due: backend

docs(BITACORA_MAESTRA): update task progress and log detailed session for Docker testing
  BITACORA_MAESTRA.md
Due: none

refactor(docker): update webserver configuration in docker-compose file
  docker/compose/docker-compose.intellidocs.yml
Due: none

fix umlauts in zip names
  src/documents/consumer.py
Due: backend

fix(docker): update bash interpreter in init scripts
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-complete/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-custom-init/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-modify-user/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-superuser/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-system-checks/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-tesseract-langs/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-redis/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-consumer/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-scheduler/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/run
  paperless-ngx.code-workspace
Due: none

docs(BITACORA_MAESTRA): update session log and task status for Docker validation
  BITACORA_MAESTRA.md
  src/paperless/middleware.py
Due: backend

docs(BITACORA_MAESTRA): update next steps and session log for Docker validation
  BITACORA_MAESTRA.md
Due: none

implement hide empty views and sidebar
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.spec.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
  src-ui/src/app/data/saved-view.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src/documents/migrations/1075_savedview_show_only_if_populated.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/locale/de_DE/LC_MESSAGES/django.po
Due: backend, frontend

fix refresh if SETTINGS_KEYS.SIDEBAR_VIEWS_SHOW_COUNT is off
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Due: frontend

Fix: update Outlook refresh token when refreshed
  src/paperless_mail/oauth.py
Due: backend

Fix: update Outlook refresh token when refreshed (#11341)
  src/paperless_mail/oauth.py
Due: backend

fix reorder views in sidebar if some were only displayed when populated
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend

code review fixes suggested by shamoon
  docs/faq.md
  src/documents/consumer.py
  src/documents/parsers.py
Due: backend

Fixhancement: trim whitespace for some text searches
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend, frontend

Pass endpoint URL to openai
  docs/configuration.md
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend

Fix: include BASE_URL when constructing `doc_url` for workflows
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Due: backend

performance: make custom_field post_save operation a worker job
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
Due: backend

Revert "Implement webhook system for AI events notifications"
  AI_WEBHOOKS_DOCUMENTATION.md
  src/documents/admin.py
  src/documents/ai_deletion_manager.py
  src/documents/ai_scanner.py
  src/documents/migrations/1076_ai_webhooks.py
  src/documents/models.py
  src/documents/webhooks.py
  src/paperless/settings.py
Due: backend

Fixhancement: trim whitespace for some text searches (#11357)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend, frontend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend
