Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Unify this a bit
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

pyrefly happy?
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

mypy too
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix version suffix
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Unrelated, but sync up all these versions
  .github/workflows/ci-docs.yml
  .github/workflows/ci-release.yml
Due: none

Upgrades to zxing-cpp version 3 with prebuilt aarch64 wheels
  pyproject.toml
  uv.lock
Due: none

zxxing is objectivly better
  src/documents/tests/test_barcodes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes all pyzbar/libzbar
  .devcontainer/Dockerfile
  .github/dependabot.yml
  .github/workflows/ci-backend.yml
  .mypy-baseline.txt
  Dockerfile
  docs/advanced_usage.md
  docs/configuration.md
  docs/setup.md
  pyproject.toml
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates the migration guide
  docs/migration.md
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates baseline
  .mypy-baseline.txt
Due: none

Make content follow the version
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/consumer.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/serialisers.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_consumer.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Make content edits target a specific version
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

typing stuff
  .mypy-baseline.txt
  src/documents/consumer.py
  src/documents/filters.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Allow retrieve to pull specific version
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frontend apply version id to retrieval when needed
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Fix UI content should change on version select and thumbnail
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Only append when needed
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

pre-fetch versions
  src/documents/serialisers.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix discard goes to wrong version content
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Only send version when needed for metadata too
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Ah, index should handle delete, update root when version changed
  src/documents/signals/handlers.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_task_signals.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Guard against stale ws events for version uploads
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

DRY
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs
  docs/api.md
  docs/usage.md
Due: none

Bit more coverage
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_version_conditionals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

And this
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

DRY, nice
  src/documents/conditionals.py
  src/documents/index.py
  src/documents/tests/test_version_conditionals.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

More simplification I think
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

DRY these perms checks too
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Normalize perms to root
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Extract to a helper so its easier to see
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Typing
  .mypy-baseline.txt
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

OK extract versions to its own component
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
Due: frontend-node-24.x, frontend

Chasing a little coverage
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
Due: frontend-node-24.x, frontend

Make this dumber
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

dont add extra content query
  src/documents/index.py
  src/documents/signals/handlers.py
  src/documents/tests/test_task_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

clarify audit log stuff, fix api descriptions
  docs/api.md
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Avoid a little redundancy here
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix portuguese translation for label
  src-ui/src/locale/messages.pt_BR.xlf
Due: frontend-node-24.x, frontend

Update api.md
  docs/api.md
Due: none
