Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Development: improve test portability (#12187)
  src/documents/tests/test_api_uisettings.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/utils.py
  src/paperless/tests/test_adapter.py
  src/paperless/tests/test_views.py
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_parsers.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: show sequential + id version labels, fix padding
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
Due: frontend-node-24.x, frontend

Fixhancement: show sequential + id version labels, fix padding (#12196)
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
Due: frontend-node-24.x, frontend

Fix GHSA-386h-chg4-cfw9
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enforce on selection_data too
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 2.20.9
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v2.20.9 - GHA
  docs/changelog.md
Due: none

Update changelog for paperless-ngx 2.20.9
  docs/changelog.md
Due: none

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix merge thing
  docs/setup.md
Due: none

Enhancement: add version label filename placeholder
  docs/advanced_usage.md
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix test
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

add workflow placeholder
  src/documents/templating/workflows.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs and missing version_label
  docs/advanced_usage.md
  docs/usage.md
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

typo
  docs/advanced_usage.md
Due: none

Fix data persistence with PostgreSQL 18 in Docker Compose files
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
Due: none

Italicize version label
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
Due: frontend-node-24.x, frontend

Documentation: small note re filename vs original_filename
  docs/usage.md
Due: none

fix consume placeholder
  src/documents/consumer.py
  src/documents/templating/workflows.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

update docs
  docs/advanced_usage.md
  docs/usage.md
Due: none

Apply suggestion from @shamoon
  docs/advanced_usage.md
Due: none

fix None value
  src/documents/templating/workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: add version label filename placeholder (#12185)
  docs/advanced_usage.md
  docs/usage.md
  src/documents/consumer.py
  src/documents/templating/filepath.py
  src/documents/templating/workflows.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

index prop
  src/documents/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

tests
  src/documents/tests/test_document_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

version_index wf/file placeholder
  src/documents/consumer.py
  src/documents/serialisers.py
  src/documents/templating/filepath.py
  src/documents/templating/workflows.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/actions.py
  src/documents/workflows/mutations.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump tailwindcss to v3.4.19
  src/paperless_mail/templates/package-lock.json
  src/paperless_mail/templates/package.json
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update paperless_mail npm packges
  src/paperless_mail/templates/package-lock.json
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Documentation: fix version label filename placeholder
  docs/usage.md
Due: none

Ignore version docs for workflows
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Trigger document_updated on version changes
  src/documents/consumer.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak: Ignore version docs for workflows (#12217)
  src/documents/consumer.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
