Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

show only folder in folder trê
  src-ui/src/app/components/common/folder-tree-widget/file-tree-widget.component.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
  src/documents/filters.py
  src/documents/views.py
Due: backend, frontend

update reindex
  src/documents/management/commands/document_index_elasticsearch.py
  src/documents/tasks.py
Due: backend

Bump version to 2.15.0
  src-ui/messages.xlf
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
Due: frontend

Fix: close email dialog after email send
  src-ui/messages.xlf
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
Due: frontend

update compress pdf when upload, add config settings frontend
  src-ui/messages.xlf
  src-ui/src/app/data/paperless-config.ts
  src-ui/src/locale/messages.vi_VN.xlf
  src/documents/consumer.py
  src/documents/utils.py
  src/paperless/migrations/0014_applicationconfiguration_enable_compress_and_more.py
  src/paperless/migrations/0015_rename_quality_applicationconfiguration_quality_compress.py
  src/paperless/models.py
Due: backend, frontend

update reindex elastic search
  docker/docker-prepare.sh
  src/documents/management/commands/document_index_elasticsearch.py
Due: backend

enable compress
  src/documents/consumer.py
Due: backend

fix compress
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/tasks.py
  src/documents/views.py
Due: backend

fix compress
  src/documents/index.py
  src/documents/views.py
Due: backend

fix compress
  src/documents/consumer.py
Due: backend

Add chat-gpt-retrieval to docker-compose
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
Due: none

Fix chat box
  src-ui/src/app/components/dashboard/dashboard.component.html
Due: frontend

Close old conns
  src/paperless/consumers.py
Due: backend

Move from pipenv to uv as Python dependency manager
  .editorconfig
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CODEOWNERS
  Dockerfile
  Pipfile
  Pipfile.lock
  pyproject.toml
  uv.lock
Due: none

Implement OCR based on Mistrals OCR API
  README.md
  src/paperless/settings.py
  src/paperless_mistralocr/README.md
  src/paperless_mistralocr/__init__.py
  src/paperless_mistralocr/apps.py
  src/paperless_mistralocr/config.py
  src/paperless_mistralocr/parsers.py
  src/paperless_mistralocr/settings.py
  src/paperless_mistralocr/signals.py
  src/paperless_mistralocr/tests/__init__.py
  src/paperless_mistralocr/tests/test_parser.py
Due: backend

Fix: top nav layout with custom title on very narrow screens
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend

More narrow device tweaks
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/theme.scss
Due: frontend

Fix: fix auto-close after giving a document away
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend, frontend

Actually, just do it this way
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Revert "Fix: fix auto-close after giving a document away"
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend, frontend

Fix: fix auto-close when doc update no longer has permissions (#9453)
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Chore: remove a couple of console logs
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/services/settings.service.ts
Due: frontend

Fix: fix saving docs with notes
  src/documents/serialisers.py
Due: backend

Remove unnecessary check
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend
