Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Chore: Add a shared test support layer
  .dockerignore
  pyproject.toml
  src/conftest.py
  src/documents/tests/conftest.py
  src/paperless_testing/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: State the test directory layout in one place
  src/conftest.py
  src/documents/tests/conftest.py
  src/documents/tests/management/test_management_sanity_checker.py
  src/documents/tests/test_api_post_document_nfc.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/tests/test_sanity_check.py
  src/documents/tests/utils.py
  src/paperless/tests/test_checks.py
  src/paperless_testing/dirs.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Randomize test order and seed Faker per run
  docs/development.md
  pyproject.toml
  src/conftest.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: drop classifier match default threshold to 0.3
  docs/configuration.md
  src/documents/tests/test_classifier.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 3.2.0
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.2.0 - GHA
  docs/changelog.md
Due: none

Update changelog for paperless-ngx 3.2.0
  docs/changelog.md
Due: none

New Crowdin translations by GitHub Action
  src-ui/src/locale/messages.de_DE.xlf
  src-ui/src/locale/messages.ru_RU.xlf
  src-ui/src/locale/messages.sl_SI.xlf
  src/locale/de_CH/LC_MESSAGES/django.po
  src/locale/de_DE/LC_MESSAGES/django.po
  src/locale/ru_RU/LC_MESSAGES/django.po
  src/locale/sl_SI/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: rebuild the search index automatically when it is corrupted, instead of hard-failing
  src/documents/search/_schema.py
  src/documents/tests/search/test_schema_version.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: only pass --conf to flower when flowerconfig.py exists
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
Due: none

Fix: quote cd so the file passes the project's shellcheck hook
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
Due: none

correct value for PAPERLESS_DBHOST
  docs/migration-v3.md
Due: none

Fix: rebuild the search index automatically when it is corrupted, instead of hard-failing (#14180)
  src/documents/search/_schema.py
  src/documents/tests/search/test_schema_version.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: bump ocrmypdf to 17.12 to pick up the ligature text-layer fix
  pyproject.toml
  uv.lock
Due: none

Fix: bump ocrmypdf to 17.12 to pick up the ligature text-layer fix (#14190)
  pyproject.toml
  uv.lock
Due: none

Fix: replace stale mail-fetch overlap check with a self-expiring lock
  src/paperless_mail/tasks.py
  src/paperless_mail/tests/test_process_mail_accounts_overlap.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: replace stale mail-fetch overlap check with a self-expiring lock (#14189)
  src/paperless_mail/tasks.py
  src/paperless_mail/tests/test_process_mail_accounts_overlap.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(search): read a query back into the advanced search editor
  src-ui/src/app/utils/advanced-search-query.spec.ts
  src-ui/src/app/utils/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Basic advanced search query foundations
  src-ui/src/app/data/advanced-search-query.ts
  src-ui/src/app/utils/advanced-search-query.spec.ts
  src-ui/src/app/utils/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Hook up to the filter bar
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Advanced search dialog
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.html
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.scss
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.spec.ts
  src-ui/src/app/components/common/advanced-search-dialog/advanced-search-dialog.component.ts
  src-ui/src/app/data/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Update advanced-search-query.ts
  src-ui/src/app/data/advanced-search-query.ts
Due: frontend-node-24.x, frontend

Fix: only pass --conf to flower when flowerconfig.py exists (#14182)
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
Due: none

New Crowdin translations by GitHub Action
  src-ui/src/locale/messages.de_DE.xlf
  src-ui/src/locale/messages.it_IT.xlf
  src-ui/src/locale/messages.ru_RU.xlf
  src-ui/src/locale/messages.sl_SI.xlf
  src-ui/src/locale/messages.sv_SE.xlf
  src/locale/de_CH/LC_MESSAGES/django.po
  src/locale/de_DE/LC_MESSAGES/django.po
  src/locale/it_IT/LC_MESSAGES/django.po
  src/locale/ru_RU/LC_MESSAGES/django.po
  src/locale/sl_SI/LC_MESSAGES/django.po
  src/locale/sv_SE/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Wire the social account group sync to first login too
  src/paperless/apps.py
  src/paperless/tests/test_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 3.2.1
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Moves runners to 26.04 and a few jobs to -slim variant
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/issue-bot.yml
  .github/workflows/pr-bot.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  .github/workflows/translate-strings.yml
Due: none

Probably fixing the imagemagik 7 problems and maybe the frontend playwright thing?
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
Due: none

Changelog v3.2.1 - GHA
  docs/changelog.md
Due: none

Fix: ignore invalid EXIF orientation when generating image archives
  src/paperless/parsers/tesseract.py
  src/paperless/tests/parsers/test_convert_image_to_pdfa.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add Restart=on-failure to bare-metal systemd units
  scripts/paperless-consumer.service
  scripts/paperless-scheduler.service
  scripts/paperless-task-queue.service
  scripts/paperless-webserver.service
Due: none

Fix: ignore invalid EXIF orientation when generating image archives (#14203)
  src/paperless/parsers/tesseract.py
  src/paperless/tests/parsers/test_convert_image_to_pdfa.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Runs new formatting
  pyproject.toml
Due: none

Chore: Remove unused test helpers
  src/documents/tests/conftest.py
  src/documents/tests/utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
