Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Chore: Minor migration optimization for workflow titles (#11197)
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend

Change workflowrun to softdeletemodel
  src/documents/migrations/1074_workflowrun_deleted_at_workflowrun_restored_at_and_more.py
  src/documents/models.py
Due: backend

Change: make workflowrun a softdeletemodel (#11194)
  src/documents/migrations/1074_workflowrun_deleted_at_workflowrun_restored_at_and_more.py
  src/documents/models.py
Due: backend

Update workflows.py
  src/documents/templating/workflows.py
Due: backend

Update migration dependency and rename migration file
  src/documents/migrations/1075_alter_paperlesstask_task_name.py
Due: backend

Fix: add root tag filtering for tag list page consistency
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src/documents/filters.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend, frontend

Fix toggle all
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend

Change: make workflow action only title draggable
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.scss
Due: frontend

Coverage
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
Due: frontend

Sonar fixes
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend

Change: make workflow action only title draggable (#11209)
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.scss
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Fix: add root tag filtering for tag list page consistency, fix toggle all (#11208)
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src/documents/filters.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Fix: refactor nested sorting in filterable dropdowns
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Sonar fixes
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

ChatGPT attempt to reduce complexity
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Sonar Use for…of instead of .forEach
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Simplify, helps coverage
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

coverage, I think
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
Due: frontend

100% please
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
Due: frontend

Update filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
Due: frontend

Fix: refactor nested sorting in filterable dropdowns (#11214)
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Fix: remove unnecessary permission requirements for new email endpoint
  src/documents/permissions.py
  src/documents/tests/test_api_email.py
  src/documents/views.py
Due: backend

Fix: remove unnecessary permission requirements for new email endpoint (#11215)
  src/documents/permissions.py
  src/documents/tests/test_api_email.py
  src/documents/views.py
Due: backend

Create github action deploy
  .github/workflows/deploy.yml
Due: none

Bump version to 2.19.3
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.19.3 - GHA
  docs/changelog.md
Due: none

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
