Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Fix disable api remote auth test, Django 5.2 no longer uses process_request
  src/paperless/auth.py
  src/paperless/tests/test_remote_user.py
Due: backend

Remove postgres version check
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
Due: backend

Update administration.md
  docs/administration.md
Due: none

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/management/commands/document_consumer.py
  src/documents/migrations/1012_fix_archive_files.py
  src/documents/parsers.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_archive_files.py
  src/paperless/settings.py
  src/paperless_tesseract/tests/test_parser.py
Due: backend

Handle django-multiselectfield v1.0 changes
  src/documents/serialisers.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_workflows.py
Due: backend

Add more warnings about privacy with remote models
  docs/usage.md
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/data/paperless-config.ts
Due: frontend

Documentation: miscellaneous fixes
  docs/changelog.md
  mkdocs.yml
Due: none

Update zxing hash
  uv.lock
Due: none

Docs updates
  docs/configuration.md
  docs/usage.md
Due: none

Variable refactoring
  docs/configuration.md
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/paperless/config.py
  src/paperless/migrations/0005_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
  src/paperless/settings.py
  src/paperless_ai/base_model.py
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend, frontend

Support dynamic determining of embedding dimensions
  src/documents/tasks.py
  src/paperless_ai/embedding.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_embedding.py
Due: backend

Chat view coverage
  src/documents/tests/test_views.py
Due: backend

Close document if delete original chosen
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Fix consumer declaration file extensions
  src/paperless_remote/parsers.py
  src/paperless_remote/tests/test_parser.py
Due: backend

Enhancement: support webhook restrictions
  docs/configuration.md
  docs/usage.md
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
  src/paperless/settings.py
Due: backend

Tweaks
  src/documents/signals/handlers.py
  src/paperless/settings.py
Due: backend

Update usage.md
  docs/usage.md
Due: none

Enhancement: support webhook restrictions (#10555)
  docs/configuration.md
  docs/usage.md
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
  src/paperless/settings.py
Due: backend

Feature: PDF editor (#10318)
  docs/api.md
  docs/usage.md
  src-ui/setup-jest.ts
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.scss
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Update settings.py
  src/paperless/settings.py
Due: backend

Removes duplication and spread out config for codespell
  .codespellrc
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: Removes duplication and spread out config for codespell (#10560)
  .codespellrc
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Don't let codespell break this test
  pyproject.toml
  src/documents/tests/test_file_handling.py
Due: backend

Initial work on a localize date filter
  docs/advanced_usage.md
  pyproject.toml
  src/documents/templating/filepath.py
  uv.lock
Due: backend

Adds testing coverage plus a check for the locale being valid
  docs/advanced_usage.md
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Due: backend

Adds some end to end generate testing with the localization
  src/documents/tests/test_file_handling.py
Due: backend

Support for customizable Dateparser `PREFER_DAY_OF_MONTH` setting
  docs/configuration.md
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
  src/paperless/settings.py
Due: backend

Fixes the note indentation
  docs/configuration.md
Due: none

Feature: Add filter to localize dates for filepath templating (#10559)
  docs/advanced_usage.md
  pyproject.toml
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
  uv.lock
Due: backend

Won't build yet, but saves what should be correct and work later. Also saves the current dev package list for later diff
  Dockerfile
  dev.txt
Due: none
