Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Tests
  src/documents/tests/test_consumer.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

As generated
  src/documents/migrations/0001_initial.py
  src/documents/migrations/0002_initial.py
  src/paperless_mail/migrations/0001_initial.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

With replaces
  src/documents/migrations/0001_initial.py
  src/paperless_mail/migrations/0001_initial.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Better migration handling
  src/documents/migrations/0001_initial.py
  src/documents/migrations/0001_squashed.py
  src/documents/migrations/0002_initial.py
  src/documents/migrations/0002_squashed.py
  src/documents/migrations/0003_workflowaction_order.py
  src/documents/migrations/0014_alter_paperlesstask_task_name.py
  src/paperless_mail/migrations/0001_initial.py
  src/paperless_mail/migrations/0001_squashed.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Manual re-ordering to improve the operations
  src/documents/migrations/0001_squashed.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix the ordering again
  src/documents/migrations/0001_squashed.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates the baselines for the latest code changes
  .mypy-baseline.txt
  .pyrefly-baseline.json
Due: none

Clarify bulk edit wording with versions
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

drop conftest use pytest_env thing
  pyproject.toml
  src/conftest.py
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update handlers.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add system check enforcing v3 upgrade path from v2.20.9
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update test_consumer.py
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update src/paperless/checks.py
  src/paperless/checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: enforce path limit for db filename fields (#12235)
  src/documents/consumer.py
  src/documents/file_handling.py
  src/documents/models.py
  src/documents/signals/handlers.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Improve user migration path (#12232)
  src/documents/migrations/0001_squashed.py
  src/documents/migrations/0002_squashed.py
  src/documents/migrations/0003_workflowaction_order.py
  src/documents/migrations/0014_alter_paperlesstask_task_name.py
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
  src/paperless_mail/migrations/0001_squashed.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: “live” document updates (#12141)
  .mypy-baseline.txt
  pyproject.toml
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/websocket-document-updated-message.ts
  src-ui/src/app/services/websocket-status.service.spec.ts
  src-ui/src/app/services/websocket-status.service.ts
  src/documents/apps.py
  src/documents/plugins/helpers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_workflows.py
  src/paperless/consumers.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Feature: Improve exporter memory efficieny
  pyproject.toml
  src/documents/management/commands/document_exporter.py
  src/documents/profiling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes the ruff autoup double import
  src/documents/plugins/date_parsing/base.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: drop Python 3.10, add 3.13 and 3.14 support
  .codecov.yml
  CONTRIBUTING.md
  docs/setup.md
Due: none

Typo on 3.13
  .github/workflows/ci-backend.yml
Due: none

Upgrades minimum supported Python to 3.11
  .github/workflows/ci-backend.yml
  pyproject.toml
  src/documents/conditionals.py
  src/documents/consumer.py
  src/documents/index.py
  src/documents/plugins/date_parsing/base.py
  src/documents/plugins/helpers.py
  src/documents/tests/date_parsing/conftest.py
  src/documents/tests/date_parsing/test_date_parsing.py
  src/documents/tests/test_filters.py
  src/documents/tests/test_workflows.py
  src/documents/versioning.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Account for the Python 3.14 changes
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use maxsplit=1 in Redis URL parsing to handle URLs with multiple colons
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: apply ordering after annotating tag document count
  src/documents/tests/test_tag_hierarchy.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: apply ordering after annotating tag document count (#12238)
  src/documents/tests/test_tag_hierarchy.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use maxsplit=1 in Redis URL parsing to handle URLs with multiple colons (#12239)
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: support string coercion in filepath jinja templates
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes the now saved profiling code
  src/documents/profiling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: support string coercion in filepath jinja templates (#12244)
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 2.20.10
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v2.20.10 - GHA
  docs/changelog.md
Due: none

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

First backend bits, savedviews fully permissions-capable
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Basic frontend respect saved view perms
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

fix this test
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
Due: frontend-node-24.x, frontend

Add permissions ui stuff for saved views
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

Add to dialog
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.spec.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
Due: frontend-node-24.x, frontend

Add UIsettings for dashboard / sidebar view setting
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
