Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

feat(dashboard): stretch unified card and grow donut so right pane fills viewport
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.scss
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.scss
Due: frontend-node-24.x, frontend

feat(bim): add IFC (BIM) document support
  pyproject.toml
  src/paperless/settings.py
  src/paperless_bim/__init__.py
  src/paperless_bim/apps.py
  src/paperless_bim/ifc_extract.py
  src/paperless_bim/parsers.py
  src/paperless_bim/signals.py
  src/paperless_bim/summary.py
  src/paperless_bim/tests/__init__.py
  src/paperless_bim/tests/test_ifc_extract.py
  src/paperless_bim/tests/test_signals.py
  src/paperless_bim/tests/test_summary.py
  src/paperless_bim/thumbnail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Moves runners to 26.04 and a few jobs to -slim variant
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/issue-bot.yml
  .github/workflows/pr-bot.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  .github/workflows/translate-strings.yml
Due: none

Probably fixing the imagemagik 7 problems and maybe the frontend playwright thing?
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
Due: none

Compare thumbnails, but allow a little difference in the perceptual hash
  src/paperless/tests/parsers/test_mail_parser_live.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: extract serialisers.py into a structured module
  src/documents/serialisers.py
  src/documents/serialisers/__init__.py
  src/documents/serialisers/base.py
  src/documents/serialisers/bulk_edit.py
  src/documents/serialisers/documents.py
  src/documents/serialisers/metadata.py
  src/documents/serialisers/saved_views.py
  src/documents/serialisers/sharing.py
  src/documents/serialisers/system.py
  src/documents/serialisers/tasks.py
  src/documents/serialisers/upload.py
  src/documents/serialisers/workflows.py
  src/paperless_mail/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: split views.py into documents/views/ module
  .mypy-baseline.txt
  .pyrefly-baseline.json
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_chat.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/documents/tests/test_api_search_query_length.py
  src/documents/tests/test_api_status.py
  src/documents/tests/test_api_tasks.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_merge_documents_as_versions.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/tests/test_share_link_bundles.py
  src/documents/tests/test_tag_hierarchy.py
  src/documents/tests/test_views.py
  src/documents/tests/test_workflows.py
  src/documents/views.py
  src/documents/views/__init__.py
  src/documents/views/base.py
  src/documents/views/bulk_edit.py
  src/documents/views/chat.py
  src/documents/views/documents.py
  src/documents/views/index.py
  src/documents/views/logs.py
  src/documents/views/metadata.py
  src/documents/views/saved_views.py
  src/documents/views/search.py
  src/documents/views/sharing.py
  src/documents/views/system.py
  src/documents/views/tasks.py
  src/documents/views/upload.py
  src/documents/views/workflows.py
  src/paperless/urls.py
  src/paperless_ai/prompts/chat_qa.j2
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Return barcodes from the metadata endpoint only
  docs/advanced_usage.md
  src-ui/src/app/components/document-detail/document-barcodes/document-barcodes.component.scss
  src-ui/src/app/components/document-detail/document-barcodes/document-barcodes.component.ts
  src-ui/src/app/data/document.ts
  src/documents/serialisers.py
  src/documents/tests/test_barcodes.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Linting
  pyproject.toml
Due: none

Fix: Set the ProcessedMail owner based on the rule owner in all cases
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Set the ProcessedMail owner based on the rule owner in all cases (#14356)
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: store barcode contents, list and search them (#14276)
  docs/advanced_usage.md
  docs/configuration.md
  docs/usage.md
  src-ui/src/app/components/document-detail/document-barcodes/document-barcodes.component.html
  src-ui/src/app/components/document-detail/document-barcodes/document-barcodes.component.spec.ts
  src-ui/src/app/components/document-detail/document-barcodes/document-barcodes.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document-barcode.ts
  src-ui/src/app/data/document-metadata.ts
  src-ui/src/app/data/paperless-config.ts
  src/documents/barcodes.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_index.py
  src/documents/migrations/0027_documentbarcode.py
  src/documents/models.py
  src/documents/search/_backend.py
  src/documents/search/_fields.py
  src/documents/search/_schema.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/tests/samples/barcodes/barcode-qr-url.pdf
  src/documents/tests/search/test_barcode_search.py
  src/documents/tests/search/test_json_subpath_completeness.py
  src/documents/tests/search/test_schema_fingerprint.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_management_exporter.py
  src/documents/versioning.py
  src/documents/views.py
  src/paperless/config.py
  src/paperless/migrations/0018_applicationconfiguration_barcode_store_values.py
  src/paperless/models.py
  src/paperless/settings/__init__.py
  src/paperless_testing/factories.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix suggestions dropdown counts and empty state
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix create after ML-only
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

test: cover text normalization properties (#16)
  .github/workflows/coursework-ci.yml
  README.md
  docs/software-testing-project.md
  pyproject.toml
  src/paperless/parsers/utils.py
  src/paperless/tests/test_parser_utils.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: dont overcount same title or date suggestions
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Due: frontend-node-24.x, frontend

test: cover Unicode search normalization properties (#17)
  .github/workflows/coursework-ci.yml
  src/documents/tests/search/test_unicode_normalization.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 3.3.0
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.3.0 - GHA
  docs/changelog.md
Due: none

Fix changelog
  docs/changelog.md
Due: none

Chore: Upgrade runners to Ubuntu 26.04 (#14347)
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/issue-bot.yml
  .github/workflows/pr-bot.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  .github/workflows/translate-strings.yml
  src/paperless/tests/parsers/test_mail_parser_live.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Credit Miget for hosting the public demo
  README.md
  docs/assets/sponsors/miget-black.png
  docs/assets/sponsors/miget-white.png
  docs/index.md
Due: none

Chore: Updates the troubleshooting with 2 common database collation things
  docs/troubleshooting.md
Due: none

Chore: Updates the troubleshooting with 2 common database collation things (#14370)
  docs/troubleshooting.md
Due: none

Feature: allow skipping MFA for social (OIDC) logins
  docs/configuration.md
  docs/usage.md
  src/paperless/adapter.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_adapter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: remove MARIADB_HOST from MariaDB compose files
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
Due: none

Fix: retry a search index rebuild that was interrupted
  src/documents/search/_backend.py
  src/documents/search/_schema.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Documentation: remove MARIADB_HOST from MariaDB compose files (#14378)
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
Due: none

Refactor: add pure pdf_ops module with real-PDF tests
  .mypy-baseline.txt
  .pyrefly-baseline.json
  src/documents/bulk_edit.py
  src/documents/pdf_ops.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_pdf_ops.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
