Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Chore: switch from os.path to pathlib.Path (#10397)
  pyproject.toml
  src/documents/file_handling.py
  src/documents/management/commands/document_exporter.py
  src/documents/migrations/0014_document_checksum.py
  src/documents/signals/handlers.py
  src/documents/tests/test_document_model.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_mime_type.py
Due: backend

Add regression test for classifier content preprocessing
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/documents/tests/samples/content.txt
  src/documents/tests/samples/preprocessed_content.txt
  src/documents/tests/test_classifier.py
Due: backend

Classifier performance improvements
  src/documents/classifier.py
  src/documents/tests/test_classifier.py
Due: backend

Add LRU Cache classes
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/tests/test_caching.py
Due: backend

Classifier: modifications
  src/documents/classifier.py
  src/documents/tests/samples/preprocessed_content.txt
  src/documents/tests/samples/preprocessed_content_advanced.txt
  src/documents/tests/test_classifier.py
Due: backend

Use default DB read cache TTL for LRU cache TTL
  src/documents/caching.py
  src/documents/classifier.py
Due: backend

Classifier performance optimization: fixes after review
  src/documents/classifier.py
Due: backend

Performance: Classifier performance optimizations (#10363)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/tests/samples/content.txt
  src/documents/tests/samples/preprocessed_content.txt
  src/documents/tests/samples/preprocessed_content_advanced.txt
  src/documents/tests/test_caching.py
  src/documents/tests/test_classifier.py
Due: backend

Mock IntersectionObserver in Jest setup
  src-ui/setup-jest.ts
Due: frontend

Individual rotate
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Testing
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
Due: frontend

Unified toolbar w select, hover buttons
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.scss
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Raise exceptions instead of returning error strings in edit_pdf
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend

Update pdf-editor.component.scss
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.scss
Due: frontend

Update pdf-editor.component.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Save edited PDF to temp file before replacing original
  src/documents/bulk_edit.py
Due: backend

Update pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
Due: frontend

Remove the old ones
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Update usage docs
  docs/usage.md
Due: none

Doc
  docs/api.md
Due: none

Fix update vs create
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Add tests for edit_pdf
  src/documents/tests/test_bulk_edit.py
Due: backend

Update views.py
  src/documents/views.py
Due: backend

Expand edit_pdf validation tests in bulk edit API
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
Due: backend

Select all / none
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Add error handling test for PDF editor
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Validate page bounds
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
Due: backend

Better loading behavior / styling
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
Due: frontend

Just save this
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.scss
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.spec.ts
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Due: backend, frontend

Update button and modal title to 'PDF Editor'
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Lazy loading
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Fix serializer
  src/documents/serialisers.py
Due: backend

Move update length check before operations
  src/documents/bulk_edit.py
Due: backend

Visualize split
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.scss
Due: frontend

Support update vs create
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend, frontend

Fix log matches related to newlines, add newlines to stdout.writelines
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/tests/test_management_fuzzy.py
Due: backend
