Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Chore: resolve Angular NG01354 warnings
  src-ui/src/app/components/common/input/check/check.component.html
  src-ui/src/app/components/common/input/color/color.component.html
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/entries/entries.component.html
  src-ui/src/app/components/common/input/file/file.component.html
  src-ui/src/app/components/common/input/monetary/monetary.component.html
  src-ui/src/app/components/common/input/number/number.component.html
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.html
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.html
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/switch/switch.component.html
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/components/common/input/textarea/textarea.component.html
  src-ui/src/app/components/common/input/url/url.component.html
Due: frontend-node-24.x, frontend

Couple mas
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
Due: frontend-node-24.x, frontend

Fix: change share link bundle dialog button to close after create
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
Due: frontend-node-24.x, frontend

Use a badge not a toast for copied
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
Due: frontend-node-24.x, frontend

Update share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
Due: frontend-node-24.x, frontend

Tweak: note that apply AI suggestions runs async in WF editor
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
Due: frontend-node-24.x, frontend

Start with the frontend for a change, skeleton so I can see it
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/manage/share-links/share-links.component.html
  src-ui/src/app/components/manage/share-links/share-links.component.ts
Due: frontend-node-24.x, frontend

Use it in the main share links component
  src-ui/src/app/components/manage/share-links/share-links.component.html
  src-ui/src/app/components/manage/share-links/share-links.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-links.component.ts
Due: frontend-node-24.x, frontend

Create share-links.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-links.component.spec.ts
Due: frontend-node-24.x, frontend

Move the share link bundle dialog into its own component
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.scss
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
Due: frontend-node-24.x, frontend

Fix the copy to not be a toast
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
Due: frontend-node-24.x, frontend

Fix the bulk editor to be a link to bundles
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

OK, basic share link management page
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.ts
  src-ui/src/app/components/manage/share-links/share-links.component.html
  src-ui/src/app/components/manage/share-links/share-links.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-links.component.ts
Due: frontend-node-24.x, frontend

Add document_title to the backend sharelink response
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use the doc title on the frontend
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.ts
  src-ui/src/app/data/share-link.ts
Due: frontend-node-24.x, frontend

Drop listAllBundles
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-links.component.spec.ts
  src-ui/src/app/services/rest/share-link-bundle.service.spec.ts
  src-ui/src/app/services/rest/share-link-bundle.service.ts
Due: frontend-node-24.x, frontend

So we can use pagination
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
Due: frontend-node-24.x, frontend

Update PostgreSQL and Redis images
  docker-compose.yml
Due: none

Fix folder navigation and streamline document moves
  src-ui/src/app/components/folders/folders.component.html
  src-ui/src/app/components/folders/folders.component.scss
  src-ui/src/app/components/folders/folders.component.spec.ts
  src-ui/src/app/components/folders/folders.component.ts
  src/documents/migrations/0026_merge_folders_upstream.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix folder document loading state
  src-ui/src/app/components/folders/folders.component.html
  src-ui/src/app/components/folders/folders.component.spec.ts
  src-ui/src/app/components/folders/folders.component.ts
Due: frontend-node-24.x, frontend

Allow page size
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.ts
  src-ui/src/app/data/ui-settings.ts
Due: frontend-node-24.x, frontend

Fix: correct add version actor parity
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: trim favicon.ico to 6 entries so Safari accepts it
  src/paperless/static/paperless/img/favicon.ico
  src/paperless/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Prepare stable-release fork with isolated native review lab
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/fork-ci.yml
  AGENTS.md
  README.md
  fork/README.md
  fork/__init__.py
  fork/browser_smoke.py
  fork/compose.yaml
  fork/lab.sh
  fork/mock_suggestions.py
  fork/publish.sh
  fork/smoke.py
  fork/tests/__init__.py
  fork/tests/test_lab.py
Due: none

Verify versioned native saves in isolated browser review
  fork/browser_smoke.py
Due: none

Supersede stale development builds while retaining release runs
  .github/workflows/fork-ci.yml
Due: none

Run isolated image acceptance with Podman networking
  .github/workflows/fork-ci.yml
  fork/README.md
  fork/compose.yaml
  fork/lab.sh
  fork/load_image.sh
  fork/smoke.py
  fork/tests/test_lab.py
Due: none

Fix: Use PAPERLESS_REDIS_PREFIX for Celery result backend keys
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: fix v3 favicon file
  src/paperless/static/paperless/img/favicon.ico
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: update some frontend icons for v3
  src-ui/angular.json
  src-ui/src/apple-touch-icon.png
  src-ui/src/favicon.ico
  src-ui/src/icon-192.png
  src-ui/src/icon-512-maskable.png
  src-ui/src/icon-512.png
  src-ui/src/index.html
  src-ui/src/manifest.webmanifest
Due: frontend-node-24.x, frontend

Dead files
  src-ui/src/assets/logo-dark-notext.svg
  src-ui/src/assets/logo-dark.svg
  src-ui/src/assets/logo-notext.svg
  src-ui/src/assets/logo-white-notext.svg
  src-ui/src/assets/logo.svg
Due: frontend-node-24.x, frontend

Feed native suggestions through a document-aware external provider
  .github/workflows/fork-ci.yml
  fork/README.md
  fork/compose.provider.yaml
  fork/lab.sh
  fork/mock_suggestions.py
  fork/smoke.py
  fork/suggestions.md
  fork/tests/test_lab.py
  fork/workflow_smoke.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings/__init__.py
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/exceptions.py
  src/paperless_ai/suggestion_provider.py
  src/paperless_ai/tests/test_suggestion_provider.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Require upstream lint before publishing tested fork images
  .github/workflows/fork-ci.yml
  fork/README.md
  fork/mock_suggestions.py
  fork/suggestions.md
  fork/tests/test_lab.py
  fork/workflow_smoke.py
  src/paperless_ai/tests/test_suggestion_provider.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use the nice built-in loading thign
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/app/components/manage/share-links/share-links.component.html
  src-ui/src/app/components/manage/share-links/share-links.component.ts
Due: frontend-node-24.x, frontend

Fix table bg
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Clarify provider context and optional matcher types
  src/documents/matching.py
  src/paperless_ai/suggestion_provider.py
  src/paperless_ai/tests/test_suggestion_provider.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak paging position
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
Due: frontend-node-24.x, frontend

Cute little expired badge
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.html
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.spec.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.ts
Due: frontend-node-24.x, frontend

Refactor issue comment for clarity and conciseness
  .github/workflows/issue-bot.yml
Due: none

Use upstream development, tests and documentation for suggestion providers
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/fork-ci.yml
  AGENTS.md
  README.md
  docs/configuration.md
  docs/development.md
  fork/README.md
  fork/__init__.py
  fork/browser_smoke.py
  fork/compose.provider.yaml
  fork/compose.yaml
  fork/lab.sh
  fork/load_image.sh
  fork/mock_suggestions.py
  fork/publish.sh
  fork/smoke.py
  fork/suggestions.md
  fork/tests/__init__.py
  fork/tests/test_lab.py
  fork/workflow_smoke.py
  src-ui/e2e/document-detail/document-detail.spec.ts
Due: frontend-node-24.x, frontend
