Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fix (beta): tag/custom-field document_count scales badly with tag count
  src/documents/permissions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Address review feedback: restore validation, scope aggregation to queryset
  src/documents/permissions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: tag/custom-field document_count scales badly with tag count (#13203)
  src/documents/permissions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: also wrap non-breaking words in chat messages
  src-ui/src/app/components/chat/chat/chat.component.html
Due: frontend-node-24.x, frontend

Sure also add ws pre-wrap
  src-ui/src/app/components/chat/chat/chat.component.scss
Due: frontend-node-24.x, frontend

Fix: also wrap non-breaking words in chat messages, handle whitespace (#13211)
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.scss
Due: frontend-node-24.x, frontend

Change database engine from postgres to postgresql
  docker/compose/docker-compose.portainer.yml
Due: none

Fix error in portainer docker-compose.yaml db engine
  docker/compose/docker-compose.portainer.yml
Due: none

Fix: correct URL for W001 check
  src/paperless/checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ensure create dialog uses correct attribute type
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
Due: frontend-node-24.x, frontend

Documentation: correct search docs for v3
  docs/usage.md
Due: none

Fix (beta): remove unnecessary .distinct() dominating document list queries
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: mark yes in confirm button for translation
  src-ui/src/app/components/common/confirm-button/confirm-button.component.html
Due: frontend-node-24.x, frontend

Fix (beta): remove unnecessary .distinct() dominating document list queries (#13205)
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correct database engine from postgres to postgresql in the Porttainer Compose file (#13213)
  docker/compose/docker-compose.portainer.yml
Due: none

chore: reword "Settings > Default permissions" description for clarity
  src-ui/src/app/components/admin/settings/settings.component.html
Due: frontend-node-24.x, frontend

Fix: ensure create dialog uses correct attribute type (#13221)
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
Due: frontend-node-24.x, frontend

Fix: correct URL for W001 check (#13220)
  src/paperless/checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: mark yes in confirm button for translation (#13225)
  src-ui/src/app/components/common/confirm-button/confirm-button.component.html
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix (#13214): split mailrule maximum_age clamp into its own migration
  src/paperless/migrations/0013_applicationconfiguration_llm_request_timeout.py
  src/paperless_mail/migrations/0001_1_clamp_mailrule_maximum_age.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (#13214): split mailrule maximum_age clamp into its own migration (#13231)
  src/paperless/migrations/0013_applicationconfiguration_llm_request_timeout.py
  src/paperless_mail/migrations/0001_1_clamp_mailrule_maximum_age.py
  src/paperless_mail/migrations/0002_optimize_integer_field_sizes.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: exclude the source document from its own RAG similarity results
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: exclude the source document from its own RAG similarity results (#13233)
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Remove non-fucnctional em wrapper
  src-ui/src/app/components/admin/settings/settings.component.html
Due: frontend-node-24.x, frontend

Storing more ideas/plans
  docs/superpowers/plans/2026-05-11-ai-taxonomy-candidates-design.md
  docs/superpowers/plans/2026-06-10-sqlite-vec-transition.md
  docs/superpowers/plans/2026-06-11-unicode-nfc-normalization.md
  docs/superpowers/specs/2026-05-15-scheduled-backup-design.md
  docs/superpowers/specs/2026-05-26-interactive-shell-contenv-design.md
  docs/superpowers/specs/2026-06-10-llmindex-schema-migrations-design.md
  docs/superpowers/specs/2026-06-10-sqlite-vec-vector-store-design.md
Due: none

Minor plan updates
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
Due: none

Additional ideas and plans
  docs/superpowers/plans/2026-06-09-lancedb-schema-migrations.md
  docs/superpowers/plans/2026-06-09-node-metadata-enrichment.md
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
  docs/superpowers/specs/2026-06-09-node-metadata-enrichment.md
Due: none

Just for later ideas, store some brainstorming sessions with Claude
  docs/superpowers/plans/2026-05-19-workflow-runner-refactor.md
  docs/superpowers/specs/2026-04-23-pluggable-document-storage-design.md
  docs/superpowers/specs/2026-05-19-workflow-runner-refactor-design.md
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
  docs/superpowers/specs/telemetry-spec.md
Due: none

Marks some things as done
  docs/superpowers/done/plans/2026-06-09-lancedb-schema-migrations.md
  docs/superpowers/done/plans/2026-06-09-node-metadata-enrichment.md
  docs/superpowers/done/plans/2026-06-10-sqlite-vec-transition.md
  docs/superpowers/done/specs/2026-06-09-node-metadata-enrichment.md
  docs/superpowers/done/specs/2026-06-10-llmindex-schema-migrations-design.md
  docs/superpowers/done/specs/2026-06-10-sqlite-vec-vector-store-design.md
Due: none

Docs(beta): flesh out search error-shapes spec and implementation plan
  docs/superpowers/plans/2026-06-15-search-error-shapes-followup.md
  docs/superpowers/specs/2026-06-15-search-error-shapes-followup-design.md
  docs/superpowers/specs/2026-06-15-search-error-shapes-followup-stub.md
Due: none

Tracks the tanvity update blocker
  docs/superpowers/done/specs/2026-06-14-search-phase2-tracking-prompt.md
  docs/superpowers/specs/2026-06-15-search-query-translation-design.md
Due: none

Store more profiling files
  src/other/bench_vector_store.py
  src/other/test_backend_profile.py
  src/other/test_search_profiling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Storing more stuff for stuff
  docs/other/2026-06-10-vector-store-alternatives-research.md
  src/other/inspect_lancedb_index.py
  src/other/profiling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

More done work
  docs/superpowers/done/plans/2026-06-11-unicode-nfc-normalization.md
  docs/superpowers/done/plans/2026-06-14-search-query-translation.md
  docs/superpowers/done/specs/2026-06-14-search-query-translation-design.md
  docs/superpowers/specs/2026-06-14-search-phase2-tracking-prompt.md
Due: none

Removes these for starting implementation
  docs/superpowers/plans/2026-05-11-ai-taxonomy-candidates-design.md
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
Due: none

Tracks the tanvity update blocker
  docs/superpowers/specs/2026-06-15-search-query-translation-design.md
Due: none

Docs: export sink architecture implementation plan
  docs/superpowers/plans/2026-06-16-export-sink-architecture.md
Due: none
