Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Fix: skip migration for empty workflow titles
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend

Fix: skip workflow title migration for empty titles (#11136)
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend

Chore: be more optimistic when waiting for DB to start
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Chore: add vim modelines to DB init script
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Chore: use uppercase varname for global in db init script
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Chore: quote shell arguments in DB init script
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Chore: harden DB init script
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Fix: always use log prefix in DB init script
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Chore: remove duplicate "waiting for..." log entries
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Bump version to 2.19.1
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.19.1 - GHA
  docs/changelog.md
Due: none

Enhancement: display loading status for tags
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.ts
  src-ui/src/app/services/rest/abstract-paperless-service.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src-ui/src/app/services/rest/mail-rule.service.ts
  src-ui/src/app/services/rest/saved-view.service.ts
  src-ui/src/app/services/rest/workflow.service.ts
Due: frontend

Fixhancement: display loading status for tags instead of 'Private' (#11140)
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.ts
  src-ui/src/app/services/rest/abstract-paperless-service.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src-ui/src/app/services/rest/mail-rule.service.ts
  src-ui/src/app/services/rest/saved-view.service.ts
  src-ui/src/app/services/rest/workflow.service.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Resolve migration conflict
  src/documents/migrations/1074_alter_paperlesstask_task_name.py
Due: backend

Fix: handle undefined IDs in getOriginalObject
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Due: frontend

Fix: handle undefined IDs in getOriginalObject (#11147)
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Due: frontend

Fix: Remove edit requirement, show email option based on setting
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Fix: Remove edit requirement for bulk email, show based on setting (#11149)
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend

Bumps version to 2.19.2
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.19.2 - GHA
  docs/changelog.md
Due: none

Fix: resolve migration warning
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend

Fix: resolve migration warning in 2.19.2 (#11157)
  src/documents/migrations/1073_migrate_workflow_title_jinja.py
Due: backend

Import ConfirmDialogComponent in user-edit-dialog
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend

FIx: add missing import of ConfirmDialogComponent in user-edit-dialog (#11165)
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend

Revert "FIx: add missing import of ConfirmDialogComponent in user-edit-dialog…"
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend

Revert "FIx: add missing import of ConfirmDialogComponent in user-edit-dialog…" (#11166)
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend

Replace ConfirmDialogComponent with ConfirmButtonComponent
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
Due: frontend
