Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Added Tests for relative dates in the backend Testing rewrite_natural_date_keywords() in src/documents/index.py
  .pre-commit-config.yaml
  src/documents/tests/test_index.py
Due: backend

Formatting fixed with ruff
  src/documents/index.py
Due: backend

ok sonar, DRY
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
Due: frontend

Fix relative date display hint
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
Due: frontend

Revert translations
  src-ui/messages.xlf
Due: frontend

Revert unrelated logger change
  src/documents/index.py
Due: backend

Move import
  src/documents/index.py
Due: backend

Add modified support
  src/documents/index.py
Due: backend

AI comments, remove unreachable clause
  src/documents/index.py
Due: backend

No
  .pre-commit-config.yaml
Due: none

AI comments, add modified test
  src/documents/tests/test_index.py
Due: backend

less repetitive tests, clearer
  src/documents/tests/test_index.py
Due: backend

Combine these ones
  src/documents/tests/test_index.py
Due: backend

Improves the MariaDB wait command to use mariadb-admin ping for a better check if the server is up
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Improves the MariaDB wait command to use mariadb-admin ping for a better check if the server is up (#11396)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
Due: none

Performance: make move files after select custom field change async (#11391)
  src/documents/signals/handlers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_file_handling.py
Due: backend

Enhancement: add more relative dates, support modified (#11411)
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src/documents/index.py
  src/documents/tests/test_index.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Use AutoSizeVirtualScrollStrategy
  src-ui/package.json
  src-ui/pnpm-lock.yaml
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Fix scrollToBottom
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Remove some cruft
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
Due: frontend

Chore: re-enable docker builds for PRs (#11398)
  .github/workflows/ci.yml
Due: none

Use CDKs scrollTo
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

For shell scripts, set the tab and sizing
  .editorconfig
Due: none

Fixes the pre-commit configuration to allow beautysh to format our s6-overlay files
  .pre-commit-config.yaml
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
Due: none

Chore: Configure pre-commit to format our s6-overlay files (#11414)
  .editorconfig
  .pre-commit-config.yaml
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
Due: none

Add element scrollTo mock
  src-ui/setup-jest.ts
Due: frontend

fix some switching stuff
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

try to fix some overflow stuff
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Upgrades psycopg to 3.2.12
  pyproject.toml
  uv.lock
Due: none

Fuck virtual scroll
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

chore: Upgrades psycopg to 3.2.12 (#11420)
  pyproject.toml
  uv.lock
Due: none

Click already adds a newline
  docker/rootfs/usr/local/bin/deduplicate.py
Due: none

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
