Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Update changelog for version 2.19.3
  docs/changelog.md
Due: none

Update ratelimit mock path
  src/paperless/tests/test_adapter.py
Due: backend

Fix: de-deduplicate children in tag list when filtering
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend

Fix: de-deduplicate children in tag list when filtering (#11229)
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend

Add virtual scroll and log level parsing to logs view
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
Due: frontend

log container use CdkVirtualScrollViewport
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Add CommonModule and improve log scroll handling
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Add 'tail' query parameter to log endpoint
  src/documents/views.py
Due: backend

Cache Github version check for 15 minutes
  src/documents/views.py
Due: backend

Update test_api_remote_version.py
  src/documents/tests/test_api_remote_version.py
Due: backend

Enhance logs view with auto-refresh interval and infinite scroll
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

fix liniting check
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
Due: frontend

Reorder imports in logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
Due: frontend

Replace divs with output elements for loading states (SonarCube)
  src-ui/src/app/components/admin/logs/logs.component.html
Due: frontend

fix codecov issue with (timing)
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
Due: frontend

revert some funcs
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
  src/documents/views.py
Due: backend, frontend

Revert
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Chore: cache Github version check for 15 minutes (#11235)
  src/documents/tests/test_api_remote_version.py
  src/documents/views.py
Due: backend

Revert "Revert"
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Revert "revert some funcs"
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
  src/documents/views.py
Due: backend, frontend

Revert "fix codecov issue with (timing)"
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
Due: frontend

Revert "Replace divs with output elements for loading states (SonarCube)"
  src-ui/src/app/components/admin/logs/logs.component.html
Due: frontend

Revert "Reorder imports in logs.component.spec.ts"
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
Due: frontend

Revert "fix liniting check"
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
Due: frontend

Revert "Enhance logs view with auto-refresh interval and infinite scroll"
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Revert "Add 'tail' query parameter to log endpoint"
  src/documents/views.py
Due: backend

Revert "Add CommonModule and improve log scroll handling"
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Fix log container position
  src-ui/src/app/components/admin/logs/logs.component.scss
Due: frontend

lint
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
Due: frontend

Remove unneeded trackby
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Revert last of tail stuff which was across commits
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/services/rest/log.service.ts
Due: frontend

Fix imports, remove problematic track
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Fix missing scrollTo in jest
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
Due: frontend

Performance: use virtual scroll container and log level parsing for logs view (#11233)
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend
