Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Chore: add debug log line to reindex
  src/documents/index.py
Due: backend

Fix: set match value for correspondents created by mail rule
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend

Fix: set match value for correspondents created by mail rule (#10820)
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend

Enhancement: Limit excessively long content length when computing suggestions (#10656)
  src/documents/matching.py
  src/documents/models.py
  src/documents/tests/test_document_model.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Add missing import
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
Due: frontend

Heirarchy in doc list dropdowns
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.scss
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/tag.ts
  src-ui/src/app/utils/flatten-tags.ts
Due: frontend

Fix suggestion adding
  src-ui/src/app/components/common/input/tags/tags.component.ts
Due: frontend

Basic parents reveal
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.ts
Due: frontend

Cool parent revealing in detail dropdown
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.scss
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/main.ts
Due: frontend

feat[workflows]: Migrate existing formatting placeholder
  src/documents/migrations/1069_fix_workflow_title.py
Due: backend

Update docs/advanced_usage.md
  docs/advanced_usage.md
Due: none

Update docs/usage.md
  docs/usage.md
Due: none

docs[advanced_usage.md]: spelling
  docs/advanced_usage.md
Due: none

docs: grammar
  docs/usage.md
Due: none

fix: fixed some failing tests
  src/documents/migrations/1069_fix_workflow_title.py
  src/documents/models.py
  src/documents/tests/test_consumer.py
Due: backend

fix: requested changes
  docs/advanced_usage.md
  src/documents/migrations/1069_fix_workflow_title.py
  src/documents/models.py
  src/documents/templating/environment.py
  src/documents/templating/filepath.py
  src/documents/templating/filters.py
  src/documents/templating/utils.py
  src/documents/templating/workflows.py
  src/documents/tests/test_utils.py
Due: backend

Cleans up the testing to use fixtures and parameterization
  src/documents/tests/test_workflows.py
Due: backend

feat[test_file_handling]: moved tests to test_utils
  src/documents/tests/test_file_handling.py
Due: backend

fix(test_consumer.py): remove invalid test for title placeholders
  src/documents/tests/test_consumer.py
Due: backend

docs: corrected
  docs/usage.md
Due: none

docs: simplyfied
  docs/usage.md
Due: none

docs[usage.md]: expression
  docs/usage.md
Due: none

chore[workflows]: Update docs
  docs/usage.md
Due: none

test(filters): file added
  src/documents/tests/test_filters.py
Due: backend

feat[workflow]: Added jinja2 support
  src/documents/templating/filepath.py
  src/documents/templating/utils.py
  src/documents/templating/workflows.py
  src/documents/tests/test_workflows.py
Due: backend

fix(usage.md): correct spelling of "usefull" in Jinja2 templates section
  docs/usage.md
Due: none

docs: added some docs
  docs/advanced_usage.md
  docs/usage.md
  src/documents/templating/workflows.py
Due: backend

fix[tests]: refactor TestDateWorkflowLocalization
  src/documents/tests/test_workflows.py
Due: backend

feat[test_workflows]: added some tests to verify date translations
  src/documents/templating/utils.py
  src/documents/templating/workflows.py
  src/documents/tests/test_utils.py
  src/documents/tests/test_workflows.py
Due: backend

chore[workflows]: Updated tests so jinja2
  src/documents/tests/test_workflows.py
Due: backend

feat[workflows]: Formatting to jinja2 migration
  src/documents/migrations/1069_fix_workflow_title.py
  src/documents/models.py
Due: backend

fix{workflows]: Removed str format code
  src/documents/templating/workflows.py
  src/documents/tests/test_workflows.py
Due: backend

fix{migration[: Add missing migration
  src/documents/migrations/1069_migrate_workflow_title_jinja.py
Due: backend

fix(models.py): correct spacing in help text for document title assignment
  src/documents/models.py
Due: backend

chore[workflows.py]: loglevel changed to debug
  src/documents/templating/workflows.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
