Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Enhancement: prevent duplicate mail processing across rules (#12159)
  .mypy-baseline.txt
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: separate displayed and API collection sizes for tags
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend-node-24.x, frontend

Fix: separate displayed and API collection sizes for tags (#12170)
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Due: frontend-node-24.x, frontend

Fix: separate displayed and API collection sizes for tags (#12170)
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.ts
Due: frontend-node-24.x, frontend

Apply suggestions
  src/documents/versioning.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Backend update only version label
  src/documents/serialisers.py
  src/documents/tests/test_api_document_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frontend edit version label
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Removes API v1 and the related serializer
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Breaking: Removes API v1 and the related serializer (#12166)
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cleaner dropdown UI
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.scss
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

More visual tweaking
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.scss
Due: frontend-node-24.x, frontend

Ok last tweak
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Fixes up the reported typing
  src/documents/management/commands/base.py
  src/documents/tests/management/test_management_base_cmd.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't need to cover a couple odd error cases I think
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_thumbnails.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

SonarrQube
  src/documents/tests/management/test_management_base_cmd.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: document file versions (#12061)
  .mypy-baseline.txt
  docs/api.md
  docs/usage.md
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.scss
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/websocket-status.service.ts
  src-ui/src/main.ts
  src/documents/bulk_edit.py
  src/documents/conditionals.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/0013_document_root_document.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_document_model.py
  src/documents/tests/test_task_signals.py
  src/documents/tests/test_version_conditionals.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

apply suggestions
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fixes the additional unlink now done by filelock
  src/documents/tests/test_document_model.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix test merge conflicts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend-node-24.x, frontend

Fixhancement: config option reset
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/components/admin/config/config.component.ts
Due: frontend-node-24.x, frontend

Fixhancement: config option reset (#12176)
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/components/admin/config/config.component.ts
Due: frontend-node-24.x, frontend

Enhancment: Formatted filename for single document downloads (#12095)
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Upgrades minimum supported Python to 3.11
  .github/workflows/ci-backend.yml
  pyproject.toml
  src/documents/conditionals.py
  src/documents/consumer.py
  src/documents/index.py
  src/documents/plugins/date_parsing/base.py
  src/documents/plugins/helpers.py
  src/documents/tests/date_parsing/conftest.py
  src/documents/tests/date_parsing/test_date_parsing.py
  src/documents/tests/test_filters.py
  src/documents/tests/test_workflows.py
  src/documents/versioning.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Typo on 3.13
  .github/workflows/ci-backend.yml
Due: none

Account for the Python 3.14 changes
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Prevent non-owners from changing db models
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update document-list.component.ts
  src-ui/src/app/components/document-list/document-list.component.ts
Due: frontend-node-24.x, frontend

Update .mypy-baseline.txt
  .mypy-baseline.txt
Due: none

Actually lets remove the old fields
  src/documents/migrations/0012_savedview_visibility_to_ui_settings.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_migration_saved_view_visibility.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump api version
  docs/api.md
  src-ui/src/environments/environment.prod.ts
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

sonar
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

Dont need this user retrieve
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
Due: frontend-node-24.x, frontend

First backend bits, savedviews fully permissions-capable
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix e2e tests
  src-ui/e2e/dashboard/requests/api-dashboard1.har
  src-ui/e2e/dashboard/requests/api-dashboard2.har
  src-ui/e2e/dashboard/requests/api-dashboard3.har
  src-ui/e2e/dashboard/requests/api-dashboard4.har
Due: frontend-node-24.x, frontend

Make views use UISettings visibility instead of model
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Due: frontend-node-24.x, frontend

Add permissions ui stuff for saved views
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
