Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Include on frontend
  src-ui/src/app/components/common/permissions-select/permissions-select.component.html
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
  src-ui/src/app/services/permissions.service.ts
Due: frontend-node-24.x, frontend

On second thought, maybe move them here
  src/documents/models.py
  src/paperless/migrations/0009_alter_applicationconfiguration_options.py
  src/paperless/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Uh, re-trigger codecov
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
Due: frontend-node-24.x, frontend

Enhancement: add view_global_statistics and view_system_status permissions (#12530)
  docs/usage.md
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.html
  src-ui/src/app/components/common/permissions-select/permissions-select.component.html
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
  src/documents/permissions.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_status.py
  src/documents/views.py
  src/paperless/migrations/0009_alter_applicationconfiguration_options.py
  src/paperless/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Circumvent setSystemTime bug
  src-ui/src/app/utils/ngb-date-parser-formatter.spec.ts
Due: frontend-node-24.x, frontend

Feat: Implement Discord OAuth integration with authentication backend and views
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/paperless/settings/__init__.py
  src/paperless/urls.py
  src/paperless_discord/__init__.py
  src/paperless_discord/apps.py
  src/paperless_discord/auth.py
  src/paperless_discord/client.py
  src/paperless_discord/consts.py
  src/paperless_discord/urls.py
  src/paperless_discord/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Call to_html on snippets. JSON fields don't support snippets, so store a 'notes_text' to highlight instead. Use tantivty score when sorting for that, instead of discarding it
  src/documents/search/_backend.py
  src/documents/search/_schema.py
  src/documents/tests/search/test_backend.py
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adapt frontend to when highlight is empty
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
Due: frontend-node-24.x, frontend

Style highlight bold tag like the old span
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
Due: frontend-node-24.x, frontend

Security: validate and sanitize uploaded logos
  src/documents/tests/test_api_app_config.py
  src/paperless/serialisers.py
  src/paperless/validators.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docstrings
  src/paperless/serialisers.py
  src/paperless/validators.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just change the if
  src/paperless/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test the image size
  src/documents/tests/test_api_app_config.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

This is fine
  src/paperless/validators.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update serialisers.py
  src/paperless/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Again just simpler
  src/paperless/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: validate and sanitize uploaded logos (#12551)
  src/documents/tests/test_api_app_config.py
  src/paperless/serialisers.py
  src/paperless/validators.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add tests
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update SECURITY.md
  SECURITY.md
Due: none

Refactor: Write zip exports directly into ZipFile instead of temp dir
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Add directory marker entries to zip exports
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Encodes the string just once for compare json
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(profiling): add profile_cpu and measure_memory shared helpers
  profiling.py
Due: none

fix(profiling): correct docstring import path and add Callable type annotation
  profiling.py
Due: none

refactor(profiling): use shared profile_cpu/measure_memory in classifier test
  test_classifier_profile.py
Due: none

refactor(profiling): use shared profile_cpu in backend search test
  test_backend_profile.py
Due: none

fix(profiling): fix stale run paths in docstrings and consolidate profiling imports
  test_backend_profile.py
  test_classifier_profile.py
  test_search_profiling.py
Due: none

Fix: serve PWA manifest dynamically with correct app title
  src/documents/templates/paperless-ngx/base.html
  src/paperless/urls.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(profiling): add document list API and selection_data profiling
  pyproject.toml
  test_doclist_profile.py
Due: none

Add tests for ManifestView
  src/paperless/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(profiling): fix stale docstring and add module_db docstring in doclist test
  test_doclist_profile.py
Due: none

Prefix unused parameters in ManifestView.get
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(profiling): add matching pipeline profiling
  test_matching_profile.py
Due: none

Fix test_manifest_view_custom_title_from_db for CI
  src/paperless/tests/test_views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat(profiling): add sanity checker profiling
  test_sanity_profile.py
Due: none

Upgrades Django manually, since dependabot is failing. Resolves security alerts
  pyproject.toml
  uv.lock
Due: none

fix(profiling): use sha256 for sanity corpus checksums
  test_sanity_profile.py
Due: none

feat(profiling): add workflow trigger matching profiling
  test_workflow_profile.py
Due: none

Fixes an N+1 query in matching with the version content fetching by prefetching versions
  src/documents/consumer.py
  src/documents/models.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
