Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix: re-enable docker builds for PRs
  .github/workflows/ci.yml
Due: none

Fix reference thing
  .github/workflows/ci.yml
Due: none

fix(ci): actualiza y corrige workflows de CI/CD
  .github/workflows/ci.yml
  .github/workflows/docker-intellidocs.yml
  .github/workflows/translate-strings.yml
Due: none

Ugh, separate cache key, fix push
  .github/workflows/ci.yml
Due: none

Do build variables in their own step
  .github/workflows/ci.yml
Due: none

Use gh-script
  .github/workflows/ci.yml
Due: none

fix(s6-overlay): ensure consistent 'type' definitions across init and service scripts
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-complete/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-complete/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-custom-init/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-custom-init/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-modify-user/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-modify-user/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-superuser/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-superuser/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-system-checks/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-system-checks/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-tesseract-langs/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-tesseract-langs/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-redis/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-redis/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-consumer/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-consumer/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-scheduler/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-scheduler/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/type
Due: none

fix(docker): update bash interpreter path in init scripts and add bash to runtime packages
  Dockerfile
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-complete/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-custom-init/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-modify-user/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-superuser/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-system-checks/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-tesseract-langs/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-db/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-wait-for-redis/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-consumer/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-flower/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-scheduler/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-worker/run
Due: none

Auto translate strings
  src-ui/messages.xlf
Due: frontend

fix(ci): revisión exhaustiva y corrección completa de todos los workflows
  .github/workflows/ci.yml
  .github/workflows/docker-intellidocs.yml
  .github/workflows/pr-bot.yml
  .github/workflows/translate-strings.yml
Due: none

fix(ci): CRÍTICO - Corrige timeouts y agrega detección de crash loops en Docker
  .github/workflows/ci.yml
  .github/workflows/docker-intellidocs.yml
Due: none

fix(ci): CRÍTICO - Corrige error YAML y agrega liberación de espacio en disco
  .github/workflows/ci.yml
  .github/workflows/docker-intellidocs.yml
Due: none

fix(ai-suggestions): mejora manejo de errores y permisos
  src-ui/src/app/components/ai-suggestions-panel/ai-suggestions-panel.component.ts
  src/documents/views.py
Due: backend, frontend

fix(ci): corrige nombre de repositorio Docker a minúsculas
  .github/workflows/docker-intellidocs.yml
Due: none

fix(ci): corrige configuración multi-arquitectura Docker
  .github/workflows/docker-intellidocs.yml
Due: none

Fix: sort filterable dropdowns sooner
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

Fix: sort editing filterable dropdowns sooner (#11404)
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend

fix(ci): soluciona errores 403 en dependencias y configuración de linting
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

fix(docker): usa paquetes Debian estándar en lugar de descargas desde GitHub
  Dockerfile
Due: none

Reverts most files to dev while keeping the exception assert fixes
  docs/development.md
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_api_status.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
  src/documents/tests/test_sanity_check.py
  src/documents/tests/utils.py
  src/paperless/tests/test_checks.py
Due: backend

Development: fix unreachable code around assertRaises blocks (#11365)
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/test_management_importer.py
Due: backend

ok sonar, DRY
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
Due: frontend

Formatting fixed with ruff
  src/documents/index.py
Due: backend

Fix relative date display hint
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
Due: frontend

Relative Dates: Previous week, month, quarter, year
  src-ui/messages.xlf
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src/documents/index.py
Due: backend, frontend

Added Tests for relative dates in the backend Testing rewrite_natural_date_keywords() in src/documents/index.py
  .pre-commit-config.yaml
  src/documents/tests/test_index.py
Due: backend

fix: correct test to realy delete a selected option
  src/documents/tests/test_api_custom_fields.py
Due: backend

Development: fix correct test delete select option (#11406)
  src/documents/tests/test_api_custom_fields.py
Due: backend

Fix: prevent focus loss from change detection in cf query dropdown
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend

Fix: prevent focus loss from change detection in cf query dropdown (#11409)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend

Wrap in try/catch
  src/paperless_remote/parsers.py
  src/paperless_remote/tests/test_parser.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
