Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Retry celery ping and report warning on no response
  src/documents/tests/test_api_status.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Handle warning
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Update test_api_status.py
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: date range translation with open-ended and reversed support
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: query scanner for field/range/passthrough tokens
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: remove internal process labels from search translation code/tests
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: gate scanner field recognition to known fields; add edge-case tests
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes compact date regex rewrite too
  src/documents/search/_query.py
  src/documents/tests/search/test_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: extract search date helpers into _dates.py
  src/documents/search/_dates.py
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes now not used regex rewrite functions
  src/documents/search/_query.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Collapse identical calendar bounds calculations + add stronger tests
  src/documents/search/_dates.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: alias renamed Whoosh fields (type/path) to Tantivy schema names
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: invalid date query returns no results instead of 400
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: handle 14-digit compact dates in scalar translation
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: route advanced search through translation layer (multi-word keywords, ISO bounds, delegation, e2e)
  src/documents/search/_query.py
  src/documents/search/_translate.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: scalar date-value translation with no-match fallback
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

More cleanup
  src/documents/search/_dates.py
  src/documents/search/_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: simplify scanner comma loop; add comma edge-case tests
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Return a nice HTTP 400 with a message for the field and the value instead of a generic error message propgating up
  src/documents/search/__init__.py
  src/documents/search/_query.py
  src/documents/search/_translate.py
  src/documents/tests/search/test_query.py
  src/documents/tests/search/test_translate.py
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: comma resolution (value-list vs clause separator)
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Coverage and complexity
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Clean up the utc and bounding code to a single location
  src/documents/search/_dates.py
  src/documents/search/_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: partial-date precision helpers for query translation
  src/documents/search/_dates.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: assemble translate_query pipeline with parse-acceptance tests
  src/documents/search/_translate.py
  src/documents/tests/search/conftest.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: relative date ranges and operator normalization in translate layer
  src/documents/search/_translate.py
  src/documents/tests/search/test_translate.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Spelling
  src/documents/search/_dates.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Handle files created between the watcher creations with a periodic rescan of the files
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

test: add tests for OCR template API and zone extraction engine
  src/documents/tests/test_api_ocr_templates.py
  src/documents/tests/test_zone_ocr.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat: zone-based OCR template extraction for custom fields
  src/documents/apps.py
  src/documents/models.py
  src/documents/models_ocr_templates.py
  src/documents/serialisers_ocr_templates.py
  src/documents/signals/handlers.py
  src/documents/views_ocr_templates.py
  src/documents/zone_ocr.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat: Angular frontend for OCR template editor
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.scss
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-templates.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-templates.component.ts
  src-ui/src/app/data/ocr-template.ts
  src-ui/src/app/services/rest/ocr-template.service.ts
Due: frontend-node-24.x, frontend

fix: use paperlessdev DB user, fix pg_hba auth for TCP connections
  scripts/setup-dev.sh
Due: none

feat: persist sample document ID on OCR template
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src-ui/src/app/data/ocr-template.ts
  src/documents/models_ocr_templates.py
  src/documents/serialisers_ocr_templates.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

feat: per-zone source dimensions for mixed page sizes
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src-ui/src/app/data/ocr-template.ts
  src/documents/models_ocr_templates.py
  src/documents/serialisers_ocr_templates.py
  src/documents/zone_ocr.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

fix: configure pg_hba.conf for password auth
  scripts/setup-dev.sh
Due: none

fix: clear custom field cache after inline creation + add run endpoint
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src/documents/views_ocr_templates.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

refactor: replace machine-specific dev-setup with generic script
  dev-setup.sh
  docker/compose/docker-compose.dev.yml
  scripts/setup-dev.sh
Due: none

feat: add date_auto transform using dateparser
  src/documents/models_ocr_templates.py
  src/documents/zone_ocr.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

refactor: remove infra provisioning from setup-dev.sh
  scripts/setup-dev.sh
Due: none

feat: auto-run zone OCR when document type changes
  src/documents/apps.py
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: clean stale venv + psycopg binary fallback
  scripts/setup-dev.sh
Due: none

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
