Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: reopen a fresh Tantivy index per write to prevent orphaned segment files (#13682)
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: only show create when there is text, only hide set values if no fields
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend-node-24.x, frontend

Fix: only show create when there is text, hide set values if no fields in cf bulk edit dropdown (#13688)
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Cheap defensive stuff but I'm not going to try and cover a malformed row everywhere
  src/paperless_ai/indexing.py
  src/paperless_ai/taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sure, fine cover these lines with tests
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: prefer existing tags, types, correspondents, and storage paths in AI suggestions
  src/documents/permissions.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/base_model.py
  src/paperless_ai/indexing.py
  src/paperless_ai/matching.py
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_base_model.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_matching.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't include an inbox tag as a suggestion
  src/paperless_ai/taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bumps the LLM classification version and store a little changelog here
  src/documents/caching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes the comment that didn't survive refactor
  src/paperless_ai/ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use a top 15 for gathering more strong signals about existing metadata suggestions from the neighbors
  src/paperless_ai/ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: prefer existing tags, types, correspondents, and storage paths in AI suggestions (#13676)
  src/documents/caching.py
  src/documents/permissions.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/base_model.py
  src/paperless_ai/indexing.py
  src/paperless_ai/matching.py
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_base_model.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_matching.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Maybe fix the android keyboard CF dropdown weird thing
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.scss
Due: frontend-node-24.x, frontend

Actually just try z-index
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/utils/popper-options.spec.ts
  src-ui/src/app/utils/popper-options.ts
Due: frontend-node-24.x, frontend

Update document-list.component.scss
  src-ui/src/app/components/document-list/document-list.component.scss
Due: frontend-node-24.x, frontend

Try mobile no flip modifier
  src-ui/src/app/utils/popper-options.spec.ts
  src-ui/src/app/utils/popper-options.ts
  src-ui/src/index.html
Due: frontend-node-24.x, frontend

Try interactive-widget=resizes-content
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.scss
  src-ui/src/index.html
Due: frontend-node-24.x, frontend

Update popper-options.ts
  src-ui/src/app/utils/popper-options.ts
Due: frontend-node-24.x, frontend

Fix: handle Android keyboard popper overlay (#13694)
  src-ui/src/app/components/document-list/document-list.component.scss
Due: frontend-node-24.x, frontend

Zen: correct dropdown corner radius visual defect
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

Zen: correct dropdown corner radius visual defect (#13695)
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

docs: add paperless-ai-cache-ttl.md (Knecht)
  docs/development/paperless-ai-cache-ttl.md
Due: none

Fix: remove shadow around attribute pages
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
Due: frontend-node-24.x, frontend

Fix: remove shadow around attribute pages (#13696)
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
Due: frontend-node-24.x, frontend

Add doc card hover outline
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

End the sortable arrow debate once and for all, drop png, and make them nicer
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

Fix custom fields button wrap
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.html
Due: frontend-node-24.x, frontend

Sidebar current page marker, done well
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix the checkboxes
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

just animate toggler L
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Track this out a bit
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Some typography love
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Tweak: small visual tweaks / improvements & fixes (#13700)
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.html
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

Feature: assign email metadata to custom fields on mail-consumed documents
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/mail-rule.ts
  src/paperless_mail/admin.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0005_mailrule_email_metadata_targets.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: fix modal create closing open dropdown
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: fix trash double-bottom border
  src-ui/src/app/components/admin/trash/trash.component.scss
Due: frontend-node-24.x, frontend

Drop this
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
