Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

chore: remove benchmark-commands spec/plan docs now that work is complete
  docs/superpowers/plans/2026-07-29-benchmark-management-commands.md
  docs/superpowers/specs/2026-07-29-benchmark-management-commands-design.md
Due: none

Fix: prevent overlapping mail-account processing runs (#14046)
  src/paperless_mail/tasks.py
  src/paperless_mail/tests/test_process_mail_accounts_overlap.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Deletes _node_document_ids
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feature: add Tantivy full-text fallback adapter for taxonomy candidates
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Not bad catches from Copilot, if a little extra secure
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

sort similar documents by weight, use unrestricted-user check consistently (existed before, but good to be consistent)
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sure, cover the case of a stale index
  src/paperless_ai/tests/test_ai_classifier.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: add Tantivy full-text fallback adapter for taxonomy candidates (#13820)
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/indexing.py
  src/paperless_ai/taxonomy.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_taxonomy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent orphaned versions from bulk delete (#14030)
  src/documents/bulk_edit.py
  src/documents/models.py
  src/documents/tests/test_api_trash.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_document_model.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: better LLM errors (#14031)
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless_ai/client.py
  src/paperless_ai/exceptions.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: If a file remains stable but has zero size after the stability window has passed, drop it from tracking
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: If a file remains stable but has zero size after the stability window has passed, drop it from tracking (#14047)
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix merge conflict
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Copilot catches
  src/documents/caching.py
  src/documents/tests/test_caching.py
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use LLMGenerationFailedError to differentiate vs timeout
  src/documents/caching.py
  src/documents/tests/test_caching.py
  src/paperless_ai/exceptions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cleanup imports
  src/documents/caching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: OCR Templates (#13043)
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.scss
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-templates.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-templates.component.ts
  src-ui/src/app/data/ocr-template.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/rest/ocr-template.service.ts
  src-ui/src/main.ts
  src/documents/apps.py
  src/documents/migrations/0022_ocrtemplate_ocrtemplatezone.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_ocr_templates.py
  src/documents/tests/test_zone_ocr.py
  src/documents/views.py
  src/documents/zone_ocr.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Remove afterviewinit, fix page change, custom date format per zone
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
Due: frontend-node-24.x, frontend

Proper data types
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src-ui/src/app/data/ocr-template.ts
Due: frontend-node-24.x, frontend

Extract the geometry stuff a bit
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/zone-geometry.spec.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/zone-geometry.ts
Due: frontend-node-24.x, frontend

Pull out the zone list into a sub-component
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor-zone-list/ocr-template-editor-zone-list.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor-zone-list/ocr-template-editor-zone-list.component.spec.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor-zone-list/ocr-template-editor-zone-list.component.ts
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
Due: frontend-node-24.x, frontend

Get rid of absurd alert
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
Due: frontend-node-24.x, frontend

Use SVG, get rid of all the manual redraw stuff
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.scss
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
Due: frontend-node-24.x, frontend

Fix some permissions stuff, show error on toggle
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/manage/ocr-templates/ocr-templates.component.ts
Due: frontend-node-24.x, frontend

Use a real canvas interaction model
  src-ui/src/app/components/manage/ocr-templates/ocr-template-editor/ocr-template-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: chat answers are compressed, so they arrive in one piece
  src/documents/tests/test_api_chat.py
  src/documents/views.py
  src/paperless/middleware.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: show that the model is working in the chat
  src-ui/src/app/components/chat/chat/chat.component.html
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
Due: frontend-node-24.x, frontend

Enhancement: Improve matching for correspondents, storage path and labels by removing bias + adding minimum match threshold (#12164)
  docs/configuration.md
  src/documents/classifier.py
  src/documents/tests/test_classifier.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch the repeated lookups in modify_custom_fields
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes the comment
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: cut redundant per-document lookups in bulk `modify_custom_fields` (#13807)
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: customize sidebar items (#14052)
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/input/switch/switch.component.html
  src-ui/src/app/components/common/input/switch/switch.component.spec.ts
  src-ui/src/app/components/common/input/switch/switch.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: connect add_to_index handler after document_added
  src/documents/apps.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: connect add_to_index handler after document_added (#14058)
  src/documents/apps.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ensure remove inbox tag children on remove_inbox_tags
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Skips this unit during non-root user startup too
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/run
Due: none

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
