Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: Wire document_updated signal to LLM index update handler
  src/documents/apps.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Add file lock around FAISS index mutations to prevent concurrent write corruption
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Apply _normalize() in extract_unmatched_names to prevent duplicate suggestions
  src/paperless_ai/matching.py
  src/paperless_ai/tests/test_matching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Persist empty index when all documents are deleted to clear stale FAISS vectors
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Skip LLM index update gracefully when document has no indexable content
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Simplify incremental index update — use docs.values() and deduplicate node extend
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Move LLM index lock outside index dir and skip per-doc tasks on bulk update
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/paperless/settings/__init__.py
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ghost vectors leave KeyError-prone nodes_dict entries after deletion
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: acquire index lock in query_similar_documents
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: skip LLM index enqueue on document_updated during version addition
  src/documents/consumer.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: bulk_update_documents must not enqueue per-doc LLM tasks
  src/documents/tests/test_tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add major-version tag to Docker image metadata
  .github/workflows/ci-docker.yml
Due: none

Debug level log sure
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update src/paperless_ai/indexing.py
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Apply suggestion from @shamoon
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correctly apply i18n in suggestions dropdown
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
Due: frontend-node-24.x, frontend

Enhancement (beta): add direct LLM language setting
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_views.py
  src/documents/views.py
  src/paperless/config.py
  src/paperless/migrations/0012_applicationconfiguration_llm_output_language.py
  src/paperless/models.py
  src/paperless/serialisers.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Update test_api_app_config.py
  src/documents/tests/test_api_app_config.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs
  docs/configuration.md
Due: none

Bump Playwright container to v1.60.0
  .github/workflows/ci-frontend.yml
Due: none

idna for GHSA-65pc-fj4g-8rjx I think
  uv.lock
Due: none

Silence a couple more vulnerabilities here
  uv.lock
Due: none

Updates imap-tools
  pyproject.toml
  uv.lock
Due: none

Adds pymdown-extensions
  uv.lock
Due: none

Validate the AI backend settings earlier instead of crashing inside the AI module
  src/paperless/settings/__init__.py
  src/paperless/settings/custom.py
  src/paperless/settings/parsers.py
  src/paperless/tests/settings/test_environment_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixes _path_matches_checksum using MD5 still instead of SHA256
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable G (logging format), ignore G004 (f-strings)
  pyproject.toml
  src/documents/parsers.py
  src/documents/views.py
  src/paperless_ai/chat.py
  src/paperless_mail/mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable B (flake8-bugbear)
  pyproject.toml
  src/documents/double_sided.py
  src/documents/filters.py
  src/documents/management/commands/document_exporter.py
  src/documents/models.py
  src/documents/plugins/date_parsing/base.py
  src/documents/search/_backend.py
  src/documents/search/_query.py
  src/documents/serialisers.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_views.py
  src/documents/tests/test_workflows.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/paperless/settings/custom.py
  src/paperless/validators.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/tests/test_preprocessor.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable DTZ (flake8-datetimez)
  pyproject.toml
  src/documents/consumer.py
  src/documents/double_sided.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_double_sided.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
  src/paperless_mail/mail.py
  src/paperless_mail/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable PERF (perflint)
  pyproject.toml
  src/documents/management/commands/document_retagger.py
  src/documents/tests/management/test_management_base_cmd.py
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/parsers/mail.py
  src/paperless_ai/embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

ruff: enable S324 (hashlib insecure hash functions)
  pyproject.toml
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Corrects the test to use SHA256
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates the script in docker too
  docker/rootfs/usr/local/bin/deduplicate.py
Due: none

New folder view
  docker/compose/docker-compose.yml
  docs/development.md
  docs/folders.md
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/edit-dialog/folder-edit-dialog/folder-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/folder-edit-dialog/folder-edit-dialog.component.ts
  src-ui/src/app/components/folders/folders.component.html
  src-ui/src/app/components/folders/folders.component.scss
  src-ui/src/app/components/folders/folders.component.spec.ts
  src-ui/src/app/components/folders/folders.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/folder.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/rest/folder.service.spec.ts
  src-ui/src/app/services/rest/folder.service.ts
  src-ui/src/main.ts
  src/documents/apps.py
  src/documents/bulk_edit.py
  src/documents/filters.py
  src/documents/management/commands/document_exporter.py
  src/documents/migrations/0022_folder_document_folder.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_folders.py
  src/documents/tests/test_folders.py
  src/documents/tests/test_migration_folders.py
  src/documents/views.py
  src/paperless/urls.py
  zensical.toml
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: ensure suggest button respects disable state
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.html
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.spec.ts
  src-ui/src/app/components/common/suggestions-dropdown/suggestions-dropdown.component.ts
Due: frontend-node-24.x, frontend

Require change perms for endpoint
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

feat: add MinerU as a self-hosted remote OCR engine
  docs/configuration.md
  docs/usage.md
  src/paperless/checks.py
  src/paperless/parsers/remote.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_remote_parser.py
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Backend support dismiss all
  src/documents/serialisers.py
  src/documents/tests/test_api_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frontend dismiss all
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
Due: frontend-node-24.x, frontend

Fix: avoid re-creating new PDF when original is unencrypted
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
