Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Bump version to 2.18.2
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.18.2 - GHA
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Fix: center document close button in app frame
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend

Fix: center document close button in app frame (#10661)
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend

Chore: add tests for previewText handling in DocumentDetail
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Chore: add test for navigation on document load error
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Refactor document edit permission check
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Refactor document form handling and loading logic
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Unify 404 logic
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Documentation: fix cache invalidation command in documentation
  docs/administration.md
Due: none

Documentation: fix cache invalidation command in documentation (#10665)
  docs/administration.md
Due: none

Feature: add backend support for bulk email send
  src/documents/mail.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_bulk_email.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend

Feature: add frontend support for bulk email send
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.html
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.spec.ts
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend

Try to hunt down some more unguarded subscriptions
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Fix:[settings.json]: update pytest configuration in VSCode settings
  .devcontainer/vscode/settings.json
Due: none

chore[pckage.json]: Add pnmp as packagemanager
  src-ui/package.json
Due: frontend

Adjusted sorting in the dropdown for custom fields
  src-ui/src/app/components/common/input/select/select.component.ts
Due: frontend

Fix syntax
  src-ui/src/app/components/common/input/select/select.component.ts
Due: frontend

Fix anather syntax error
  src-ui/src/app/components/common/input/select/select.component.ts
Due: frontend

Fix: prevent scroll for view name in sidebar
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend

Fix: prevent scroll for view name in sidebar (#10676)
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend

Add note on costs and limitations for Azure OCR
  docs/usage.md
Due: none

Chore[package.json]: revert
  src-ui/package.json
Due: frontend

Feature: add email attachment size warnings
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.html
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.spec.ts
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/document.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend, frontend

Fix: clean up email api endpoint
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_email.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend, frontend

Fix: include array items for pagination openapi schema
  src/paperless/views.py
Due: backend

Fix: include array items for pagination openapi schema (#10682)
  src/paperless/views.py
Due: backend

Add in_process field to Document model
  src/documents/migrations/1069_document_in_process.py
  src/documents/models.py
Due: backend

Set in_process flag during update_document_content_maybe_archive_file
  src/documents/tasks.py
Due: backend

Add in_process field to DocumentSerializer
  src/documents/serialisers.py
Due: backend

Set in_process during bulk operations
  src/documents/bulk_edit.py
Due: backend

Basic show processing status in UI
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/data/document.ts
Due: frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
