Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Enhancement: prevent duplication of llm suggestion requests
  src/documents/caching.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_caching.py
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: annotate effective content in the filters rather than relying on callers
  src/documents/filters.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_search.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

don't let waiting requests re-run a failed llm generation
  src/documents/caching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

The LLM-generated test for that last thing
  src/documents/tests/test_caching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: handle social account sync groups claim sent as str
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent token re-use in dropdown filtering, also a perf thing
  src-ui/src/app/utils/text-search.spec.ts
  src-ui/src/app/utils/text-search.ts
Due: frontend-node-24.x, frontend

Fix/performance: prevent token re-use in dropdown filtering, also a perf thing (#13804)
  src-ui/src/app/utils/text-search.spec.ts
  src-ui/src/app/utils/text-search.ts
Due: frontend-node-24.x, frontend

Fix missing clear button on select choices
  src-ui/src/app/components/common/input/select/select.component.html
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: defer add_nested_tags in ai workflow to avoid losing unsaved changes
  src/documents/tests/test_workflows.py
  src/documents/workflows/ai.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent config autocomplete craziness
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/common/input/password/password.component.ts
  src-ui/src/app/components/common/input/text/text.component.ts
Due: frontend-node-24.x, frontend

Sure tests
  src-ui/src/app/components/common/input/password/password.component.spec.ts
  src-ui/src/app/components/common/input/text/text.component.spec.ts
Due: frontend-node-24.x, frontend

Fix: prevent config autocomplete craziness (#13808)
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/common/input/password/password.component.spec.ts
  src-ui/src/app/components/common/input/password/password.component.ts
  src-ui/src/app/components/common/input/text/text.component.spec.ts
  src-ui/src/app/components/common/input/text/text.component.ts
Due: frontend-node-24.x, frontend

Tweak: true center search in navbar
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Bump version to 3.1.0
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v3.1.0 - GHA
  docs/changelog.md
Due: none

Fix navbar brand anchor size
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Update app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix: navbar brand anchor size + Safari position jitter (#13810)
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Chore: use PinnedIMAP4
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Security: harden is_public_ip
  src/paperless/network.py
  src/paperless/tests/test_network.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update SECURITY.md
  SECURITY.md
Due: none

Chore: consolidate pickle hmac signing
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/tests/test_caching.py
  src/documents/tests/test_classifier.py
  src/paperless/celery.py
  src/paperless/signed_pickle.py
  src/paperless/tests/test_celery.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: immediately re-add doc to index after trash restore
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: Precompile scoped bytecode cache once per container start
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/dependencies.d/init-modify-user
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/dependencies.d/init-start
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/type
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-compile-bytecode/up
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/dependencies.d/init-compile-bytecode
Due: none

Fix: select_related in remove_doclink() to avoid signal-triggered reload
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: cache document/field on updated CustomFieldInstance rows, not just created ones
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch CustomField/Document lookups in modify_custom_fields
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use .distinct() for existing-grant lookup, drop flaky query-count invariant tests
  src/documents/permissions.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: batch guardian permission assignment in bulk-edit
  src/documents/bulk_edit.py
  src/documents/permissions.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Perf: avoid unnecessary full-row fetches in batch permission assignment
  src/documents/bulk_edit.py
  src/documents/permissions.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Mark empty-pks early-return in set_permissions_for_objects as no-cover
  src/documents/permissions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix: address review feedback on effective_content annotation skip
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/versioning.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

perf: skip effective_content annotation on document list unless filtered on
  src/documents/serialisers.py
  src/documents/tests/test_document_list_effective_content_annotation.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: immediately re-add doc to index after trash restore (#13818)
  src/documents/tests/test_api_search.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix unavailable document link display
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
Due: frontend-node-24.x, frontend

Fix share link bundle dropdown permissions
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
