Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Docs: document --zip-compression and --zip-compression-level
  docs/administration.md
Due: none

Test: assert zip-compression flag resolves to the right sink constant
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Mocks this test to pass on 3.14 too
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use selected version when creating share links
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

another idea on info
  docs/superpowers/specs/2026-08-01-environment-survey-design.md
Due: none

Fix: use selected version when creating share links (#13571)
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: raise ParseError on remote OCR failure instead of silently continuing
  src/paperless/parsers/remote.py
  src/paperless/tests/parsers/test_remote_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: raise ParseError on remote OCR failure instead of silently continuing (#13574)
  src/paperless/parsers/remote.py
  src/paperless/tests/parsers/test_remote_parser.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: fix missing 'be' auxiliary verb in usage.md
  docs/usage.md
Due: none

docs: fix spelling 'detecteded' to 'detected' in development.md
  docs/development.md
Due: none

docs: fix spelling 'pybzar' to 'pyzbar' in changelog.md
  docs/changelog.md
Due: none

chore: add whoosh-compat transition skill
  .claude/skills/whoosh-compat-transition/SKILL.md
Due: none

Fix: Set the document modified dates to hopefully prevent this flake. Good across 30 runs at least (#13584)
  src/documents/tests/test_api_search.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

QoL: make name button text on attribute pages selectable
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
Due: frontend-node-24.x, frontend

QoL: make name button text on attribute pages selectable (#13592)
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
Due: frontend-node-24.x, frontend

Bump to 22.1.x
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Chore: migrate frontend to esbuild from webpack (#13488)
  .github/workflows/ci-frontend.yml
  .github/workflows/translate-strings.yml
  src-ui/angular.json
  src-ui/extra-webpack.config.ts
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Chore: remove codecov/webpack-plugin
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Chore: remove codecov/webpack-plugin (#13595)
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend-node-24.x, frontend

Fix: prevent debounce overwrites in advanced search field
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Also fix the escape thing
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Polish: atomic zip commit via Path.replace, widen sink params to ExportSink
  src/documents/export/sinks.py
  src/documents/management/commands/document_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: de-duplicate BLAKE2b compare and simplify zip dir-marker loop
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add ZipExportSink with atomic finalize and manifest spooling
  src/documents/export/sinks.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: annotate ExportSink.stream's return type for pyrefly
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: stream documents via QuerySetStream in exporter instead of eager dict
  src/documents/management/commands/document_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Increase test coverage
  src/documents/management/commands/document_exporter.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test: guard --zip combined with --compare-* flags
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add export package with StreamingManifestWriter and _dumps
  src/documents/export/__init__.py
  src/documents/export/sinks.py
  src/documents/tests/export/__init__.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sure, defense in depth against odd things
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: de-duplicate source_file fixture across sink test classes
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: add ExportSink ABC and DirectoryExportSink
  src/documents/export/sinks.py
  src/documents/tests/export/test_sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: make ExportSink a real ABC per design spec
  src/documents/export/sinks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: route document_exporter through ExportSink, direct-to-zip
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Performance: reduce memory and I/O overhead of the document exporter during zip exports (#13490)
  src/documents/export/__init__.py
  src/documents/export/sinks.py
  src/documents/management/commands/document_exporter.py
  src/documents/tests/export/__init__.py
  src/documents/tests/export/test_sinks.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent debounce overwrites in advanced search field, also improve Esc behavior (#13602)
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Due: frontend-node-24.x, frontend

Fix: fix broken frontend from esbuild migration
  src/documents/templates/index.html
  src/documents/tests/test_views.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
