Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Enhancement: Add --url argument to document_fuzzy_match to improve output (#13123)
  docs/administration.md
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/tests/test_management_fuzzy.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Allow configuring the compression type and compression levels during export
  docs/administration.md
  src/documents/export/compression.py
  src/documents/export/sinks.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/tests/export/test_compression.py
  src/documents/tests/export/test_sinks.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Claude suggested test combinations with subtests
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cleanup
  src/documents/export/compression.py
  src/documents/tests/export/test_compression.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cover some of the weird cases
  src/documents/export/compression.py
  src/documents/tests/export/test_compression.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Also handle in the saved view dialog
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.spec.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
Due: frontend-node-24.x, frontend

Backend stuff: add text choice icon field and migration
  src/documents/migrations/0023_savedview_icon.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add to management list
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Due: frontend-node-24.x, frontend

Add more icons
  src-ui/src/app/data/saved-view-icons.ts
  src-ui/src/main.ts
  src/documents/migrations/0023_savedview_icon.py
  src/documents/models.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Frontend data classes
  src-ui/src/app/data/saved-view-icons.ts
  src-ui/src/app/data/saved-view.ts
Due: frontend-node-24.x, frontend

Ok now display it everywhere!
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
Due: frontend-node-24.x, frontend

Selects need to work with a string and icon display
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.ts
Due: frontend-node-24.x, frontend

On doc list too
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Due: frontend-node-24.x, frontend

Enhancement: customizable icons for saved views (#13388)
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.spec.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
  src-ui/src/app/data/saved-view-icons.ts
  src-ui/src/app/data/saved-view.ts
  src-ui/src/main.ts
  src/documents/migrations/0023_savedview_icon.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fixes another N+1 location in the AI indexing, including the per document update which would hurt
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: include sharelink bundle perms in WebUI
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
Due: frontend-node-24.x, frontend

Fix: include sharelink bundle perms in WebUI (#13664)
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
Due: frontend-node-24.x, frontend

Documentation: clarify OCR mode changes in v3
  docs/migration-v3.md
Due: none

Documentation: clarify OCR mode changes in v3 (#13666)
  docs/migration-v3.md
Due: none

Fix: fix validation of workflow title assignment
  src/documents/serialisers.py
  src/documents/templating/workflows.py
  src/documents/tests/test_api_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use proper signal for modal buttonsEnabled
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/components/admin/trash/trash.component.ts
  src-ui/src/app/components/admin/users-groups/users-groups.component.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
  src-ui/src/app/guards/dirty-form.guard.ts
  src-ui/src/app/guards/dirty-saved-view.guard.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend-node-24.x, frontend

Fix: use proper signal for modal buttonsEnabled (#13672)
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/components/admin/trash/trash.component.ts
  src-ui/src/app/components/admin/users-groups/users-groups.component.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.html
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.spec.ts
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
  src-ui/src/app/guards/dirty-form.guard.ts
  src-ui/src/app/guards/dirty-saved-view.guard.ts
  src-ui/src/app/services/open-documents.service.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Update src/documents/management/commands/document_importer.py
  src/documents/management/commands/document_importer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: dont clip search dropdown on mobile
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix: dont clip search dropdown on mobile (#13675)
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Feature: Allow selection of compression type and and level during export (#13661)
  docs/administration.md
  src/documents/export/compression.py
  src/documents/export/sinks.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/tests/export/test_compression.py
  src/documents/tests/export/test_sinks.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: fix validation of workflow title assignment (#13659)
  src/documents/serialisers.py
  src/documents/templating/workflows.py
  src/documents/tests/test_api_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

docs: add views/serialisers split spec and implementation plan
  docs/superpowers/plans/2026-08-13-views-serialisers-split.md
  docs/superpowers/specs/2026-08-13-views-serialisers-split-design.md
Due: none

feat: PAPERLESS_AI_CACHE_TTL + async warm_ai_suggestions_after_consume
  src/documents/caching.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Force write batch to re-open the index, so it reloaded meta.json and doesn't stomp on another indexes writes
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

fix(search): call garbage_collect_files() after each index commit
  src/documents/search/_backend.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak: tweak permissions labels for shared user-dependent views
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.spec.ts
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
Due: frontend-node-24.x, frontend

Sure Sonar
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
Due: frontend-node-24.x, frontend

Coverage
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.spec.ts
Due: frontend-node-24.x, frontend

Tweak: tweak permissions menu labels for shared user-dependent views (#13685)
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.spec.ts
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
Due: frontend-node-24.x, frontend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
