Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update pr-bot.yml
  .github/workflows/pr-bot.yml
Due: none

Changelog v2.15.3 - GHA
  docs/changelog.md
Due: none

Use labeler, size-labeler
  .github/labeler.yml
  .github/workflows/pr-bot.yml
Due: none

Label bot-generated PRs
  .github/workflows/pr-bot.yml
Due: none

Dont comment for maintainers
  .github/workflows/pr-bot.yml
Due: none

Change multiline comment
  .github/workflows/pr-bot.yml
Due: none

More exclude from diff checking
  .github/workflows/pr-bot.yml
Due: none

refactor: enhance filter editor with pagination support and add statistics endpoint
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/services/rest/abstract-edoc-service.ts
  src/documents/documents.py
  src/documents/index.py
  src/documents/views.py
  src/edoc/settings.py
Due: backend, frontend

refactor: simplify request handling and clean up unused search logic
  src/documents/views.py
Due: backend

refactor: update document list and filter editor translations and context references
  src-ui/messages.xlf
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend

add debug_toolbar to requirements
  requirements.txt
Due: none

add django-debug-toolbar to requirements
  requirements.txt
Due: none

fix Dockerfile: add django-debug-toolbar to requirements
  Dockerfile
Due: none

chore: add django-debug-toolbar to requirements and update related dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
Due: none

refactor: standardize document type handling and simplify query class selection logic
  src/documents/documents.py
  src/documents/index.py
  src/documents/views.py
Due: backend

refactor: improve data_ocr check for None value in parsers.py
  src/edoc_ocr_custom/parsers.py
Due: backend

refactor: modify error handling in data_ocr function to ensure consistent return values
  src/edoc_ocr_custom/parsers.py
Due: backend

Fix: include subdir in drf-spectacular settings
  src/paperless/settings.py
Due: backend

refactor: enhance error logging in OCR response handling to include status code
  src/edoc_ocr_custom/parsers.py
Due: backend

Fix: include subpath in drf-spectacular settings if set (#9738)
  src/paperless/settings.py
Due: backend

Also trigger within fork
  .github/workflows/pr-bot.yml
Due: none

Chore: move secretary to native GHA
  .github/workflows/pr-bot.yml
Due: none

Chore: replace secretary with GHA (#9723)
  .github/labeler.yml
  .github/workflows/pr-bot.yml
Due: none

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/tests/test_management.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_document_pages_count.py
  src/documents/tests/test_migration_mime_type.py
  src/documents/tests/test_sanity_check.py
Due: backend

Also removes the ci-cd label from some dependabot PRs
  .github/dependabot.yml
Due: none

Adds additional package patterns to catch more Django related packages into the Django group
  .github/dependabot.yml
Due: none

Chore: Group additional Django dependencies together (#9741)
  .github/dependabot.yml
Due: none

Chore: switch from os.path to pathlib.Path (#9339)
  pyproject.toml
  src/documents/tests/test_management.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_document_pages_count.py
  src/documents/tests/test_migration_mime_type.py
  src/documents/tests/test_sanity_check.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
