Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Forgot to import the icon
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Audit log stuff: need a user, avoid post_save signals etc
  src/documents/bulk_edit.py
  src/documents/tests/test_merge_documents_as_versions.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

defer content
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ok frontend service
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

API view
  src/documents/views.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frondend bulk edit stuff
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

We need to use global objects here
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_merge_documents_as_versions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

use root_document_id
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add some tests for this new version doesnt follow id
  src/documents/tests/test_api_document_versions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Basic merge as versions view
  src/documents/serialisers.py
  src/documents/tests/test_merge_documents_as_versions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Simplify the serializer checks
  src/documents/bulk_edit.py
  src/documents/tests/test_merge_documents_as_versions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Avoid double popup when the request actually failed
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

Dont show root in the list (and remove it from the sortable list)
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.ts
Due: frontend-node-24.x, frontend

Derp, no re-ordering
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.ts
  src/documents/bulk_edit.py
  src/documents/tests/test_merge_documents_as_versions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Use the task for remove from index
  src/documents/bulk_edit.py
  src/documents/tests/test_merge_documents_as_versions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Copilot's order_by comment
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak: adjust modal proportions for small screens
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Tweak: adjust modal proportions for small screens (#13728)
  src-ui/src/styles.scss
Due: frontend-node-24.x, frontend

Enhancement: merge documents as versions (#13515)
  docs/api.md
  docs/usage.md
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/merge-as-versions-confirm-dialog/merge-as-versions-confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/add-existing-document-version-dialog/add-existing-document-version-dialog.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/add-existing-document-version-dialog/add-existing-document-version-dialog.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/add-existing-document-version-dialog/add-existing-document-version-dialog.component.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/main.ts
  src/documents/bulk_edit.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_document_versions.py
  src/documents/tests/test_api_schema.py
  src/documents/tests/test_merge_documents_as_versions.py
  src/documents/versioning.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Enhancement: sync OIDC groups to superuser and staff roles (#13060)
  docs/configuration.md
  paperless.conf.example
  src/paperless/settings/__init__.py
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Upgrade Docker image to Python 3.14 (#13721)
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-release.yml
  .github/workflows/translate-strings.yml
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

Fix: hide version delete button without global perms
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
Due: frontend-node-24.x, frontend

Fix: hide version delete button without global perms (#13735)
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.spec.ts
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.ts
Due: frontend-node-24.x, frontend

Fix: always index the root for a version
  src/documents/signals/handlers.py
  src/documents/tests/search/test_backend.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

prevent overwriting index
  src/documents/search/_backend.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/search/test_backend.py
  src/documents/versioning.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use selected version for doc detail emailing
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Fix: use selected version for doc detail emailing (#13738)
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Use secrete key to make IMAP polling offset stable
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update configuration.md
  docs/configuration.md
Due: none

Tweakhancement: add jitter to IMAP polling schedule
  docs/configuration.md
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweakhancement: add jitter to IMAP polling schedule (#13734)
  docs/configuration.md
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Implement websocket heartbeat mechanism
  src-ui/src/app/services/websocket-status.service.spec.ts
  src-ui/src/app/services/websocket-status.service.ts
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Feature: templated mail metadata in WorkflowAction custom-field values
  docs/usage.md
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/serialisers.py
  src/documents/templating/workflows.py
  src/documents/tests/test_workflows.py
  src/documents/workflows/mutations.py
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail_workflow_templating.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

QoL: add count badge to versions dropdown
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
Due: frontend-node-24.x, frontend

QoL: add count badge to versions dropdown (#13753)
  src-ui/src/app/components/document-detail/document-version-dropdown/document-version-dropdown.component.html
Due: frontend-node-24.x, frontend

Fix: align bulk edit perms with document model
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_permission_filtering_security.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
