Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: comment out index existence check and logging for cleaner initialization
  src/documents/index.py
Due: backend

feat: add asynchronous task for updating folder parent permissions
  src/documents/permissions.py
  src/documents/views.py
Due: backend

feat: optimize child folder path updates with bulk processing
  src/documents/tasks.py
  src/documents/views.py
Due: backend

feat: enhance folder permission handling during document processing
  src/documents/consumer.py
Due: backend

feat: update index after document save to ensure data consistency
  src/documents/signals/handlers.py
Due: backend

Documentation: correct custom field search example
  docs/api.md
Due: none

Chore: update s6-overlay to v3.2.1.0
  Dockerfile
Due: none

Chore: update s6-overlay to v3.2.1.0 (#9893)
  Dockerfile
Due: none

Just curious
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/1066_alter_document_created.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/templating/filepath.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_file_handling.py
Due: backend

Today
  src/documents/migrations/1066_alter_document_created.py
  src/documents/models.py
Due: backend

Fix some stuff
  src/documents/signals/handlers.py
  src/documents/templating/workflows.py
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_trash.py
Due: backend

And some more
  src/documents/filters.py
  src/documents/migrations/1066_alter_document_created.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_document_model.py
  src/documents/tests/test_file_handling.py
Due: backend

Try to add tz during migration
  src/documents/migrations/1066_alter_document_created.py
Due: backend

Explicitly truncate during migration
  src/documents/migrations/1066_alter_document_created.py
Due: backend

Safer batched migration
  src/documents/migrations/1066_alter_document_created.py
Due: backend

feat: ensure folder path consistency by adding trailing slashes in filters
  src/documents/filters.py
  src/documents/serialisers.py
  src/documents/tasks.py
Due: backend

feat: update folder and task handling to use current results for selection and dismissal
  src-ui/src/app/components/admin/approval/approvals.component.html
  src-ui/src/app/components/admin/approval/approvals.component.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src/documents/tasks.py
Due: backend, frontend

feat: improve approval handling and update related document regex for better matching
  src-ui/src/app/components/admin/approval/approvals.component.ts
  src-ui/src/app/services/approvals.service.ts
  src/documents/serialisers.py
Due: backend, frontend

feat: update Vietnamese translations for consistency and accuracy
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend

feat: update Vietnamese translations for improved capitalization and clarity
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend

feat: add document link component with selection and search functionality
  src-ui/src/app/components/common/input/folder-link/folder-link.component.html
  src-ui/src/app/components/common/input/folder-link/folder-link.component.scss
  src-ui/src/app/components/common/input/folder-link/folder-link.component.spec.ts
  src-ui/src/app/components/common/input/folder-link/folder-link.component.ts
Due: frontend

feat: implement folder link component and update document handling with folder path support
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/folder-link/folder-link.component.html
  src-ui/src/app/components/common/input/folder-link/folder-link.component.scss
  src-ui/src/app/components/common/input/folder-link/folder-link.component.spec.ts
  src-ui/src/app/components/common/input/folder-link/folder-link.component.ts
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/folder-list/folder-list.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/locale/messages.vi_VN.xlf
  src/documents/serialisers.py
Due: backend, frontend

feat: add fallback for folder link generation when parent folder is not defined
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

feat: add translation support for develop permission types in permissions service
  src-ui/messages.xlf
  src-ui/src/app/components/common/permissions-select/permissions-select.component.html
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend

Proof
  src/documents/tests/test_barcodes.py
Due: backend

Maybe fix settings issue
  src/documents/barcodes.py
Due: backend

Duh, actually use the settings
  src/documents/barcodes.py
  src/paperless/config.py
Due: backend

Enhancement: add barcode frontend config
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_barcode_asn_prefix_and_more.py
  src/paperless/models.py
  src/paperless/serialisers.py
Due: backend, frontend

Also cover this
  src/documents/tests/test_api_app_config.py
Due: backend

Update barcodes.py
  src/documents/barcodes.py
Due: backend

Enhancement: add barcode frontend config (#9742)
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/data/paperless-config.ts
  src/documents/barcodes.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_barcodes.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_barcode_asn_prefix_and_more.py
  src/paperless/models.py
  src/paperless/serialisers.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Fixhancement: better handle removed social apps in profile
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
Due: backend

Fixhancement: better handle removed social apps in profile (#9876)
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
