Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Feat: add MetadataEntry TypedDict and extract_metadata to ParserProtocol
  src/paperless/parsers/__init__.py
  src/paperless/parsers/text.py
  src/paperless/tests/parsers/test_text_parser.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Linting
  src/documents/tests/test_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: update paperless_text signal shim to import from new parser location
  src/paperless_text/signals.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

No cover the worker init (tested manually) and make sonar happy
  src/paperless/celery.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: accent-insensitive search for full-text and title/content filters
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-search-index/run
  docs/administration.md
  docs/configuration.md
  src/documents/apps.py
  src/documents/db.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/0017_pg_unaccent_extension.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_index.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Special cases for the new parsers as I create them + don't forget to cleanup the shims
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Some additional places which will need updating
  src/documents/management/commands/document_thumbnails.py
  src/documents/tasks.py
  src/paperless_tika/tests/conftest.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

The worker restarts every task, so don't log again and again
  src/paperless/parsers/registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: separate actions from bulk edit endpoint (#12286)
  docs/api.md
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_schema.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Pin filelock to ~=3.20.3
  pyproject.toml
  uv.lock
Due: none

Updates the consumer to be truly async and bumps granian to resolve an issue with Websockets this uncovered
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Typing updates for consumer and tests
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Pin filelock to ~=3.20.3 (#12297)
  pyproject.toml
  uv.lock
Due: none

Adds stronger typing to the status managers
  src/documents/consumer.py
  src/documents/plugins/helpers.py
  src/documents/tests/utils.py
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't set a default, so we reach the fallback case and check DBHOST
  src/paperless/settings/custom.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Explciitly set the DBENGINE so these are correct out of the box
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
Due: none

Removes 0003 and renames all remaining migrations
  src/documents/migrations/0003_remove_document_storage_type.py
  src/documents/migrations/0003_workflowaction_order.py
  src/documents/migrations/0004_workflowtrigger_filter_has_any_correspondents_and_more.py
  src/documents/migrations/0005_alter_document_checksum_unique.py
  src/documents/migrations/0006_document_content_length.py
  src/documents/migrations/0007_sharelinkbundle.py
  src/documents/migrations/0008_workflowaction_passwords_alter_workflowaction_type.py
  src/documents/migrations/0009_alter_document_content_length.py
  src/documents/migrations/0010_optimize_integer_field_sizes.py
  src/documents/migrations/0011_alter_workflowaction_type.py
  src/documents/migrations/0012_document_root_document.py
  src/documents/migrations/0013_alter_paperlesstask_task_name.py
  src/documents/migrations/0014_savedview_visibility_to_ui_settings.py
  src/documents/migrations/0015_document_version_index_and_more.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Missed one rename
  src/documents/migrations/0014_savedview_visibility_to_ui_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Updates the to/from for testing
  src/documents/tests/test_migration_saved_view_visibility.py
  src/documents/tests/test_migration_share_link_bundle.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: use effective content for matching and suggestion content (#12293)
  src/documents/matching.py
  src/documents/models.py
  src/documents/tests/test_document_model.py
  src/documents/tests/test_matchables.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Optimize SQLite accent-insensitive search performance
  src/documents/apps.py
  src/documents/db.py
  src/documents/filters.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix (dev): include DatePipe in BulkEditor unit test
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
Due: frontend-node-24.x, frontend

Fixes the engine name in Compose files
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
Due: none

Tag the v3 upgrade check and run it early in Docker (all other system checks run _after_ migrations)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  src/paperless/checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update tag display logic in document card component
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
Due: frontend-node-24.x, frontend

Add styles for tags-no-wrap class in document card
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
Due: frontend-node-24.x, frontend

Add test for clearing hidden tag counter
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
Due: frontend-node-24.x, frontend

Fix moreTags assignment when tag count is within limit
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
Due: frontend-node-24.x, frontend

Updates test asserts
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent wrapping with larger amounts of tags on small cards, reset moreTags setting to correct count (#12302)
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
Due: frontend-node-24.x, frontend

Fix: Postgres selection, DBENGINE and migrations (#12299)
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  src/documents/migrations/0003_remove_document_storage_type.py
  src/documents/migrations/0003_workflowaction_order.py
  src/documents/migrations/0004_workflowtrigger_filter_has_any_correspondents_and_more.py
  src/documents/migrations/0005_alter_document_checksum_unique.py
  src/documents/migrations/0006_document_content_length.py
  src/documents/migrations/0007_sharelinkbundle.py
  src/documents/migrations/0008_workflowaction_passwords_alter_workflowaction_type.py
  src/documents/migrations/0009_alter_document_content_length.py
  src/documents/migrations/0010_optimize_integer_field_sizes.py
  src/documents/migrations/0011_alter_workflowaction_type.py
  src/documents/migrations/0012_document_root_document.py
  src/documents/migrations/0013_alter_paperlesstask_task_name.py
  src/documents/migrations/0014_savedview_visibility_to_ui_settings.py
  src/documents/migrations/0015_document_version_index_and_more.py
  src/documents/tests/test_migration_saved_view_visibility.py
  src/documents/tests/test_migration_share_link_bundle.py
  src/paperless/checks.py
  src/paperless/settings/custom.py
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enables dependabot for the pre-commit hooks
  .github/dependabot.yml
Due: none

Updates everything to monthly with a 7 day cooldown
  .github/dependabot.yml
Due: none

Mark document email action as deprecated
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes the double exec that prevented migrations from running
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
Due: none

Update api version for frontend dev server
  src-ui/src/environments/environment.ts
Due: frontend-node-24.x, frontend

Chore: Enable dependabot for pre-commit (#12305)
  .github/dependabot.yml
Due: none
