Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

New Crowdin translations by GitHub Action
  src-ui/src/locale/messages.zh_TW.xlf
  src/locale/fr_FR/LC_MESSAGES/django.po
  src/locale/nl_NL/LC_MESSAGES/django.po
  src/locale/zh_TW/LC_MESSAGES/django.po
Due: backend, frontend

Bumps the version to 2.15.1
  pyproject.toml
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
Due: backend, frontend

Changelog v2.15.1 - GHA
  docs/changelog.md
  uv.lock
Due: none

Fix changelog
  docs/changelog.md
Due: none

Update changelog
  docs/changelog.md
Due: none

Dont include this here
  uv.lock
Due: none

Manually bump version in uv.lock
  uv.lock
Due: none

remove underthesea
  src/documents/views.py
Due: backend

Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/tests/test_management.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_document_pages_count.py
  src/documents/tests/test_migration_mime_type.py
  src/documents/tests/test_sanity_check.py
Due: backend

refactor tabnanny view
  src/documents/views.py
Due: backend

update vi translate
  src-ui/messages.xlf
  src-ui/src/locale/messages.vi_VN.xlf
Due: frontend

add setuptools in dockerfile
  Dockerfile
Due: none

Delete unused docker/docker-entrypoint.sh
  docker/docker-entrypoint.sh
Due: none

Adds better handling during folder checking/creation/permissions for when the image is running as non-root
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
Due: none

Prefers the long options to commands
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
Due: none

optimal ocr and fix compress
  requirements.txt
  src/documents/consumer.py
  src/documents/parsers.py
  src/documents/render_pdf.py
  src/edoc/models.py
  src/edoc_ocr_custom/parsers.py
Due: backend

optimal ocr and refactor compress all file
  src/documents/compress.py
  src/documents/consumer.py
  src/documents/render_pdf.py
  src/documents/utils.py
  src/documents/views.py
  src/edoc_ocr_custom/parsers.py
Due: backend

Update faq
  docs/faq.md
Due: none

fix select edoc task and dismissTask
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Due: frontend

refactor lib
  Dockerfile
  Pipfile
  Pipfile.lock
  requirements.txt
  src/documents/utils.py
Due: backend

refactor status upload
  src-ui/src/app/services/consumer-status.service.ts
  src-ui/src/app/services/upload-documents.service.ts
Due: frontend

New Crowdin translations by GitHub Action
  src-ui/src/locale/messages.cs_CZ.xlf
  src-ui/src/locale/messages.zh_CN.xlf
  src-ui/src/locale/messages.zh_TW.xlf
  src/locale/cs_CZ/LC_MESSAGES/django.po
  src/locale/sr_CS/LC_MESSAGES/django.po
  src/locale/zh_CN/LC_MESSAGES/django.po
  src/locale/zh_TW/LC_MESSAGES/django.po
Due: backend, frontend

Fix: prevent self-linking when bulk edit doc link
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend

refactor ocr and compress
  src/documents/compress.py
  src/documents/consumer.py
  src/documents/parsers.py
  src/documents/render_pdf.py
  src/edoc/models.py
  src/edoc_ocr_custom/parsers.py
Due: backend

add command duplicate document
  src/documents/management/commands/duplicate_document.py
  src/documents/utils.py
Due: backend

add py2pdf lib
  Pipfile
  Pipfile.lock
  requirements.txt
Due: none

chore: Bump celery to 5.5.1
  pyproject.toml
  uv.lock
Due: none

Add citations to document chat
  src/documents/ai_chat.py
  src/documents/embeddings.py
Due: backend

Apply ruff formatting and fixes
  src/documents/ai_chat.py
  src/documents/embeddings.py
Due: backend

Add handler to update document embeddings when content is changed
  src/documents/apps.py
  src/documents/signals/handlers.py
Due: backend

Apply syntax formatting
  src/documents/signals/handlers.py
Due: backend

Always delete existing embeddings when generating new ones for a document
  src/documents/embeddings.py
  src/documents/signals/handlers.py
Due: backend

Update document_importer and document_exporter to handle ocr images and embeddings
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/settings.py
Due: backend

Fix document archiver
  src/documents/tasks.py
Due: backend

Fix document_archiver
  src/documents/tasks.py
Due: backend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
