Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

On worker shutdown, close the pool. Also healthcheck the connections for Postgres
  src/documents/signals/handlers.py
  src/paperless/settings/custom.py
  src/paperless/tests/settings/test_custom_parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

When doing long LLM calls, ensure we return the DB connection to the pool instead of holding it open
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/chat.py
  src/paperless_ai/db.py
  src/paperless_ai/indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: avoid DRF update calling save on all fields
  src/documents/serialisers.py
  src/documents/tests/test_file_handling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Actually do this as DocumentUpdateFieldsModelSerializer
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Handle the UTF 16 and BOM text files better
  src/paperless/parsers/text.py
  src/paperless/parsers/utils.py
  src/paperless/tests/test_parser_utils.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Documentation: fix PAPERLESS_DATE_PARSER_LANGUAGES formatting
  docs/configuration.md
Due: none

Documentation: fix PAPERLESS_DATE_PARSER_LANGUAGES formatting (#12997)
  docs/configuration.md
Due: none

Fix: don't send chat message on Enter while composing with IME (CJK)
  src-ui/src/app/components/chat/chat/chat.component.spec.ts
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend-node-24.x, frontend

Fix: normalize context builder inputs to NFC before sanitize_filename (defense against something c&p)
  src/documents/templating/filepath.py
  src/documents/tests/test_filepath_nfc.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: normalize mail attachment filenames to NFC Unicode because who trusts enails to be valid
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail_nfc.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: normalize filesystem paths to NFC Unicode to prevent byte-level mismatches
  src/documents/templating/filepath.py
  src/documents/tests/test_filepath_nfc.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: normalize uploaded document filenames to NFC Unicode in PostDocumentView, trust no one
  src/documents/tests/test_api_post_document_nfc.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Some changes
  docs/folders.md
  src-ui/src/app/components/common/edit-dialog/folder-edit-dialog/folder-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/folder-edit-dialog/folder-edit-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.scss
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/components/folders/folders.component.html
  src-ui/src/app/components/folders/folders.component.scss
  src-ui/src/app/components/folders/folders.component.spec.ts
  src-ui/src/app/components/folders/folders.component.ts
  src-ui/src/app/data/datatype.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/data/folder.ts
  src-ui/src/app/data/results.ts
  src-ui/src/app/services/component-router.service.spec.ts
  src-ui/src/app/services/component-router.service.ts
  src-ui/src/app/utils/flatten-folders.ts
  src-ui/src/main.ts
  src/documents/migrations/0023_add_folder_saved_view_filter_rules.py
  src/documents/models.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Add CSP middleware and settings for embedding
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 2.20.16 and add django-csp dependency
  pyproject.toml
Due: none

Document PAPERLESS_CSP_FRAME_ANCESTORS setting
  docs/configuration.md
Due: none

Refactor Content Security Policy frame-ancestors directive
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix comment formatting in settings.py
  src/paperless/settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(beta): deduplicate vector store internals via helper methods
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement(beta): move filename/storage path/ASN to node metadata
  src/paperless_ai/embedding.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test(beta): cover legacy LanceDB index cleanup and forced rebuild
  src/paperless_ai/tests/test_legacy_lance_cleanup.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test(beta): port vector store tests to sqlite-vec backend
  src/paperless_ai/tests/test_vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Silence one kind right but not really semgrep
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes the benchmarking file
  src/bench_vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ensures an embed migration stops the migration chain, just in case
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_chat.py
  src/paperless_ai/tests/test_vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(beta): add sqlite-vec 0.1.9 dependency
  pyproject.toml
  uv.lock
Due: none

Enhancement(beta): wire indexing pipeline to the sqlite-vec store
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(beta): drop lancedb dependency
  pyproject.toml
  src/paperless_ai/tests/test_lazy_imports.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(beta): partial pyrefly cleanup on sqlite-vec vector store
  src/bench_vector_store.py
  src/paperless_ai/embedding.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(beta): drop automatic LanceDB index cleanup on startup
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_legacy_lance_cleanup.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Trims dead assignment
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement(beta): switch AI vector store from LanceDB to sqlite-vec
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore(beta): ruff format pass on sqlite-vec AI files
  src/paperless_ai/embedding.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement(beta): add schema migration machinery to sqlite-vec vector store
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds equality test and no covers some defensive error handling stuff
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Try to resolve or silence some semgrep. But we're using SQL here, not an ORM and we control the inputs, not users
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Syncs hook versions and runs them
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix(beta): address Copilot review on sqlite-vec vector store
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement(beta): guard sqlite-vec compaction swap against concurrent readers
  src/paperless/settings/__init__.py
  src/paperless_ai/chat.py
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/conftest.py
  src/paperless_ai/tests/test_index_locking.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Ensures the store alays cleans up SQLite connections for any operations, even on errors
  src/paperless_ai/indexing.py
  src/paperless_ai/tests/test_ai_indexing.py
  src/paperless_ai/tests/test_vector_store.py
  src/paperless_ai/vector_store.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
