Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Resolves conflicts
  src/documents/management/commands/document_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Test to repro
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just refresh file names
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Migrate import/export to rich progress (#12260)
  src/documents/management/commands/base.py
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/document_index.py
  src/documents/management/commands/document_llmindex.py
  src/documents/management/commands/document_renamer.py
  src/documents/management/commands/document_retagger.py
  src/documents/management/commands/document_sanity_checker.py
  src/documents/management/commands/document_thumbnails.py
  src/documents/management/commands/mixins.py
  src/documents/management/commands/prune_audit_logs.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: Write zip exports directly into ZipFile instead of temp dir
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: Add directory marker entries to zip exports
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cleans up the old passphrase stuff and the PNG handling during import
  scripts/post-consumption-example.sh
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Cleanup this not used command
  src/documents/management/commands/loaddata_stdin.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Removes old marker
  pyproject.toml
Due: none

Chore: use unified "gates" for ci tests and docs checks (#12277)
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
Due: none

URLs
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add todos for future
  src/documents/serialisers.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Move bulk edit operations to dedicated endpoints
  src/documents/serialisers.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tests
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_schema.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refact
  src/documents/serialisers.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Frontend use the endpoints
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Dont be lazy separate these out
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Less confusing to split them
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

Docs
  docs/api.md
Due: none

Move delete and reprocess too
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_schema.py
  src/documents/views.py
  src/paperless/urls.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Update serialisers.py
  src/documents/serialisers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Only support api v9 + 10
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update docs around this
  docs/api.md
Due: none

Performance: Stream JSON during import for memory improvements (#12276)
  pyproject.toml
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_importer.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Finish settings refactor (#12263)
  src/paperless/settings/__init__.py
  src/paperless/settings/custom.py
  src/paperless/settings/parsers.py
  src/paperless/tests/settings/test_custom_parsers.py
  src/paperless/tests/settings/test_db_cache.py
  src/paperless/tests/settings/test_environment_parsers.py
  src/paperless/tests/settings/test_remote_user.py
  src/paperless/tests/settings/test_settings.py
  src/paperless/tests/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix ci gate base
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
Due: none

Add an effective_content for the model
  src/documents/models.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Use effective_content for matching
  src/documents/matching.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update tests
  src/documents/tests/test_document_model.py
  src/documents/tests/test_matchables.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Feature: Add parser plugin registry and ParserProtocol (Phase 1 & 2)
  src/paperless/celery.py
  src/paperless/parsers/__init__.py
  src/paperless/parsers/registry.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Refactor: Clean up ParserProtocol docstrings and drop file_name parameter
  src/paperless/parsers/__init__.py
  src/paperless/parsers/registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Formatting
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Remove some further old items (encryption passphrase and PNG handling) (#12290)
  scripts/post-consumption-example.sh
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/loaddata_stdin.py
  src/documents/tests/test_management_exporter.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Breaking: drop support for api versions < 9 (#12284)
  docs/api.md
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: prevent stale db filename during workflow actions (#12289)
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: move paperless_text parser and tests to paperless/
  src/paperless/parsers/text.py
  src/paperless/tests/conftest.py
  src/paperless/tests/parsers/__init__.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_text_parser.py
  src/paperless/tests/samples/text/decode_error.txt
  src/paperless/tests/samples/text/test.txt
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Feature: Phase 3 — migrate TextDocumentParser to ParserProtocol
  src/paperless/parsers/__init__.py
  src/paperless/parsers/registry.py
  src/paperless/parsers/text.py
  src/paperless/tests/parsers/conftest.py
  src/paperless/tests/parsers/test_text_parser.py
  src/paperless/tests/test_registry.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend
