Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Chore: Updates dependency groups (#10339)
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .github/dependabot.yml
  .github/workflows/cleanup-tags.yml
  .pre-commit-config.yaml
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  pyproject.toml
  src/documents/barcodes.py
  src/documents/migrations/0012_auto_20160305_0040.py
  src/documents/migrations/1021_webp_thumbnail_conversion.py
  src/documents/migrations/1037_webp_encrypted_thumbnail_conversion.py
  src/documents/serialisers.py
  src/documents/views.py
  src/paperless_mail/mail.py
  uv.lock
Due: backend

Removes the setup_logging_queues call which is no longer needed
  src/paperless/settings.py
Due: backend

Renames the MailboxTLS
  src/paperless_mail/mail.py
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Feature: add Vietnamese translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Due: backend, frontend

Feature: add Vietnamese translation (#10352)
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Ok, restart implementing this with just azure
  src/paperless/settings.py
  src/paperless_remote/__init__.py
  src/paperless_remote/apps.py
  src/paperless_remote/checks.py
  src/paperless_remote/parsers.py
  src/paperless_remote/signals.py
  src/paperless_remote/tests/__init__.py
  src/paperless_remote/tests/samples/simple-digital.pdf
  src/paperless_remote/tests/test_checks.py
  src/paperless_remote/tests/test_parser.py
Due: backend

Basic parse
  pyproject.toml
  src/paperless_remote/parsers.py
  src/paperless_remote/tests/test_parser.py
  uv.lock
Due: backend

Some docs
  docs/configuration.md
  docs/usage.md
Due: none

Test
  src/paperless_remote/tests/test_parser.py
Due: backend

This actually works
  src/paperless/settings.py
  src/paperless_remote/parsers.py
Due: backend

Fix test
  src/paperless_remote/tests/test_parser.py
Due: backend

Use output_content_format poller.result to get clean content
  src/paperless_remote/parsers.py
Due: backend

Add paperless_remote tests to testpaths
  pyproject.toml
Due: none

Test fixes / coverage
  src/paperless_remote/tests/test_checks.py
  src/paperless_remote/tests/test_parser.py
Due: backend

Coverage
  src/paperless_remote/tests/test_parser.py
Due: backend

Update docs to mention remote OCR with Azure AI
  docs/index.md
  docs/usage.md
Due: none

Update index.md
  docs/index.md
Due: none

Update parsers.py
  src/paperless_remote/parsers.py
Due: backend

Update test_parser.py
  src/paperless_remote/tests/test_parser.py
Due: backend

Fix date format for 'today' in DateComponent
  src-ui/src/app/components/common/input/date/date.component.ts
Due: frontend

Fix: fix date format for 'today' in DateComponent (#10369)
  src-ui/src/app/components/common/input/date/date.component.ts
Due: frontend

Fix: also fix frontend date format in other places
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
Due: frontend

Feature: add Paperless MCP integration with tools and settings
  pyproject.toml
  src/paperless/asgi.py
  src/paperless/settings.py
  src/paperless_mcp/__init__.py
  src/paperless_mcp/admin.py
  src/paperless_mcp/apps.py
  src/paperless_mcp/migrations/__init__.py
  src/paperless_mcp/models.py
  src/paperless_mcp/tests.py
  src/paperless_mcp/tools/__init__.py
  src/paperless_mcp/tools/document_tools.py
  src/paperless_mcp/views.py
Due: backend

Move to structured output
  src/paperless_ai/ai_classifier.py
  src/paperless_ai/client.py
  src/paperless_ai/tools.py
Due: backend

Fix tests for change to structured output
  src/paperless_ai/tests/test_ai_classifier.py
  src/paperless_ai/tests/test_client.py
Due: backend

Update ai_classifier.py
  src/paperless_ai/ai_classifier.py
Due: backend

Feature: integrate mcp_server and add DocumentQueryToolset for document querying
  pyproject.toml
  src/paperless/asgi.py
  src/paperless/urls.py
  src/paperless_mcp/apps.py
  src/paperless_mcp/mcp.py
  src/paperless_mcp/tools/document_tools.py
Due: backend

Fix: dont use translated verbose_name for getting object perms
  src/documents/views.py
Due: backend

Fix: dont use translated verbose_name for getting object perms (#10399)
  src/documents/views.py
Due: backend

Fixhancement: add missing exact operator for boolean CF queries
  src-ui/src/app/data/custom-field-query.ts
Due: frontend

Fixhancement: add missing exact operator for boolean CF queries (#10402)
  src-ui/src/app/data/custom-field-query.ts
Due: frontend

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
