Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove unreachable clause
  src/documents/serialisers.py
Due: backend

docs(development): clarify VS Code devcontainer setup steps for Windows
  docs/development.md
Due: none

Handle parent tag removal in backend
  src/documents/serialisers.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend

add bigstring field
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/common/input/textarea/textarea.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.html
  src-ui/src/app/data/custom-field-query.ts
  src-ui/src/app/data/custom-field.ts
  src/documents/filters.py
  src/documents/migrations/1070_customfieldinstance_value_big_text_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/templating/filepath.py
Due: backend, frontend

Fix: fix pdf editor hover rotate counterclockwise button
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

Fix: fix pdf editor hover rotate counterclockwise button (#10848)
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Due: frontend

refactorings
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.html
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.ts
  src-ui/src/app/data/custom-field.ts
  src/documents/filters.py
  src/documents/migrations/1070_customfieldinstance_value_big_text_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/templating/filepath.py
Due: backend, frontend

missed some bigstrings
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.html
  src-ui/src/app/data/custom-field-query.ts
  src-ui/src/app/data/custom-field.ts
Due: frontend

missed some more bigstrings
  src-ui/src/app/data/custom-field.ts
  src/documents/filters.py
  src/documents/migrations/1070_customfieldinstance_value_big_text_and_more.py
  src/documents/models.py
Due: backend, frontend

rename migration
  src/documents/migrations/1070_customfieldinstance_value_long_text_and_more.py
Due: backend

Just use consistent naming, refactor for sanity
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.html
  src-ui/src/app/data/custom-field-query.ts
  src-ui/src/app/data/custom-field.ts
  src/documents/filters.py
  src/documents/migrations/1070_customfieldinstance_value_long_text_and_more.py
  src/documents/models.py
  src/documents/templating/filepath.py
Due: backend, frontend

Fix display
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
Due: frontend

Here too
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
Due: frontend

I think we leave off exact
  src-ui/src/app/data/custom-field-query.ts
Due: frontend

Enhancement: long text custom field (#10846)
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.ts
  src-ui/src/app/components/common/input/textarea/textarea.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.html
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.ts
  src-ui/src/app/data/custom-field-query.ts
  src-ui/src/app/data/custom-field.ts
  src/documents/filters.py
  src/documents/migrations/1070_customfieldinstance_value_long_text_and_more.py
  src/documents/models.py
  src/documents/templating/filepath.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

feat: add split upload toggle
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/data/paperless-config.ts
  src-ui/src/app/services/upload-documents.service.ts
  src/documents/data_models.py
  src/documents/serialisers.py
  src/documents/split_pages.py
  src/documents/tests/test_split_pages.py
  src/documents/views.py
  src/paperless/config.py
  src/paperless/migrations/0005_applicationconfiguration_split_pdf_on_upload.py
  src/paperless/models.py
Due: backend, frontend

fix: propagate split upload preference
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/services/upload-documents.service.spec.ts
  src-ui/src/app/services/upload-documents.service.ts
Due: frontend

fix: always send split preference
  src-ui/src/app/services/upload-documents.service.spec.ts
  src-ui/src/app/services/upload-documents.service.ts
Due: frontend

Update migration
  src/documents/migrations/1071_tag_tn_ancestors_count_tag_tn_ancestors_pks_and_more.py
Due: backend

Update migration
  src/documents/migrations/1071_alter_paperlesstask_task_name.py
Due: backend

Some Sonar code smell suggestions
  src-ui/src/app/utils/flatten-tags.spec.ts
  src-ui/src/app/utils/flatten-tags.ts
  src/documents/tasks.py
  src/documents/tests/test_tag_hierarchy.py
Due: backend, frontend

Sonar code smell sure
  src/paperless/migrations/0005_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
Due: backend

Sure more code smell
  src-ui/src/app/components/chat/chat/chat.component.ts
Due: frontend

Revert "Sonar code smell sure"
  src/paperless/migrations/0005_applicationconfiguration_ai_enabled_and_more.py
  src/paperless/models.py
Due: backend

Enhancement: support custom field values with post document endpoint
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend

Add negative test
  src/documents/tests/test_api_documents.py
Due: backend

Use json str, normalize keys
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Due: backend

Actually lets unify it
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend

Update serialisers.py
  src/documents/serialisers.py
Due: backend

Update api.md
  docs/api.md
Due: none

Maybe handle this backwards compat
  src/documents/serialisers.py
Due: backend

Update views.py
  src/documents/views.py
Due: backend

simplify
  src/documents/serialisers.py
Due: backend

typo
  docs/api.md
Due: none

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
