Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Fix: ensure bulk operations are checked against version root
  src/documents/tests/test_permission_filtering_security.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

pytest parameterize
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

typing
  src/paperless/config.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: support passthrough extra params for LLMs
  docs/configuration.md
  src/paperless/config.py
  src/paperless/settings/__init__.py
  src/paperless/tests/settings/test_settings.py
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Sure, cover ollama too
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

this one too
  src/paperless/tests/settings/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: support passthrough extra params for LLMs (#14202)
  docs/configuration.md
  src/paperless/config.py
  src/paperless/settings/__init__.py
  src/paperless/tests/settings/test_settings.py
  src/paperless_ai/client.py
  src/paperless_ai/tests/test_client.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: support separate embedding API key (#14067)
  docs/advanced_usage.md
  docs/configuration.md
  src-ui/src/app/data/paperless-config.ts
  src/documents/tests/test_api_app_config.py
  src/paperless/config.py
  src/paperless/migrations/0017_applicationconfiguration_llm_embedding_api_key.py
  src/paperless/models.py
  src/paperless/serialisers.py
  src/paperless/settings/__init__.py
  src/paperless/tests/test_config_precedence.py
  src/paperless_ai/embedding.py
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: ensure bulk operations are checked against version root (#14246)
  src/documents/tests/test_permission_filtering_security.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Fix bugs in the test suite (#14244)
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_profile.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/test_management_superuser.py
  src/documents/tests/test_share_link_bundles.py
  src/documents/tests/test_workflows.py
  src/paperless/tests/settings/test_remote_user.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_testing/dirs.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: ensure documentDeleted subscription is discarded (#14247)
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Fix: convert file mtime to the configured time zone directly
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: convert test_signals.py from TestCase to pytest style
  src/paperless/tests/test_signals.py
  src/paperless_testing/factories.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: convert file mtime to the configured time zone directly (#14249)
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: During a move to the trash directory, attempt to copy metadata, but don't let it fail the move
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add PAPERLESS_SHARE_LINK_BASE_URL config
  docs/configuration.md
  src-ui/src/app/components/common/share-link-bundle-dialog/share-link-bundle-dialog.component.ts
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.spec.ts
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.ts
  src-ui/src/app/components/manage/share-links/share-link-bundle-list/share-link-bundle-list.component.ts
  src-ui/src/app/components/manage/share-links/share-link-list/share-link-list.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/utils/share-link.spec.ts
  src-ui/src/app/utils/share-link.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: During a move to the trash directory, attempt to copy metadata, but don't let it fail the move (#14250)
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Just for later ideas, store some brainstorming sessions with Claude
  docs/superpowers/plans/2026-05-19-workflow-runner-refactor.md
  docs/superpowers/specs/2026-04-23-pluggable-document-storage-design.md
  docs/superpowers/specs/2026-05-19-workflow-runner-refactor-design.md
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
  docs/superpowers/specs/telemetry-spec.md
Due: none

Tracks the tanvity update blocker
  docs/superpowers/done/specs/2026-06-14-search-phase2-tracking-prompt.md
  docs/superpowers/specs/2026-06-15-search-query-translation-design.md
Due: none

Minor plan updates
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
Due: none

Fture search error ideas
  docs/superpowers/specs/2026-06-15-search-error-shapes-followup-stub.md
Due: none

Storing more stuff for stuff
  docs/other/2026-06-10-vector-store-alternatives-research.md
  src/other/inspect_lancedb_index.py
  src/other/profiling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Storing more ideas/plans
  docs/superpowers/plans/2026-05-11-ai-taxonomy-candidates-design.md
  docs/superpowers/plans/2026-06-10-sqlite-vec-transition.md
  docs/superpowers/plans/2026-06-11-unicode-nfc-normalization.md
  docs/superpowers/specs/2026-05-15-scheduled-backup-design.md
  docs/superpowers/specs/2026-05-26-interactive-shell-contenv-design.md
  docs/superpowers/specs/2026-06-10-llmindex-schema-migrations-design.md
  docs/superpowers/specs/2026-06-10-sqlite-vec-vector-store-design.md
Due: none

Marks some things as done
  docs/superpowers/done/plans/2026-06-09-lancedb-schema-migrations.md
  docs/superpowers/done/plans/2026-06-09-node-metadata-enrichment.md
  docs/superpowers/done/plans/2026-06-10-sqlite-vec-transition.md
  docs/superpowers/done/specs/2026-06-09-node-metadata-enrichment.md
  docs/superpowers/done/specs/2026-06-10-llmindex-schema-migrations-design.md
  docs/superpowers/done/specs/2026-06-10-sqlite-vec-vector-store-design.md
Due: none

More done work
  docs/superpowers/done/plans/2026-06-11-unicode-nfc-normalization.md
  docs/superpowers/done/plans/2026-06-14-search-query-translation.md
  docs/superpowers/done/specs/2026-06-14-search-query-translation-design.md
  docs/superpowers/specs/2026-06-14-search-phase2-tracking-prompt.md
Due: none

Docs(beta): flesh out search error-shapes spec and implementation plan
  docs/superpowers/plans/2026-06-15-search-error-shapes-followup.md
  docs/superpowers/specs/2026-06-15-search-error-shapes-followup-design.md
  docs/superpowers/specs/2026-06-15-search-error-shapes-followup-stub.md
Due: none

Removes these for starting implementation
  docs/superpowers/plans/2026-05-11-ai-taxonomy-candidates-design.md
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
Due: none

Tracks the tanvity update blocker
  docs/superpowers/specs/2026-06-15-search-query-translation-design.md
Due: none

Additional ideas and plans
  docs/superpowers/plans/2026-06-09-lancedb-schema-migrations.md
  docs/superpowers/plans/2026-06-09-node-metadata-enrichment.md
  docs/superpowers/specs/2026-05-20-ai-taxonomy-hints-design.md
  docs/superpowers/specs/2026-06-09-node-metadata-enrichment.md
Due: none

Docs: export sink architecture + zip compression design specs
  docs/superpowers/specs/2026-06-16-export-sink-architecture-design.md
  docs/superpowers/specs/2026-06-16-export-zip-compression-design.md
Due: none

Store more profiling files
  src/other/bench_vector_store.py
  src/other/test_backend_profile.py
  src/other/test_search_profiling.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Docs: verify zstd/3.14 facts in compression spec (empirical, uv --python 3.14)
  docs/superpowers/specs/2026-06-16-export-zip-compression-design.md
Due: none

Idea: move PDF thumbnail generation off ImageMagick/Ghostscript
  docs/superpowers/plans/2026-08-18-pdf-thumbnail-poppler-migration.md
  docs/superpowers/specs/2026-08-18-pdf-thumbnail-poppler-migration-design.md
Due: none

Docs: ingestion staging & enqueue unification design spec
  docs/superpowers/specs/2026-06-16-ingestion-staging-unification-design.md
Due: none

Combining chat and search to improve
  docs/superpowers/plans/2026-07-23-archive-chat-hybrid-retrieval.md
  docs/superpowers/specs/2026-07-23-archive-chat-hybrid-retrieval-design.md
Due: none

Docs: revise export specs per critical review
  docs/superpowers/specs/2026-06-16-export-sink-architecture-design.md
  docs/superpowers/specs/2026-06-16-export-zip-compression-design.md
Due: none
