Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Breaking: Remove pybzar as a barcode reader (#12065)
  .devcontainer/Dockerfile
  .github/dependabot.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-release.yml
  .mypy-baseline.txt
  Dockerfile
  docs/advanced_usage.md
  docs/configuration.md
  docs/migration.md
  docs/setup.md
  pyproject.toml
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix switching between docs
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

fix frontend tests
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
Due: frontend-node-24.x, frontend

Fix annotationLayer display
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.scss
Due: frontend-node-24.x, frontend

Include this test here too
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
Due: frontend-node-24.x, frontend

Chore: Pngx pdf viewer fixes (#12083)
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.scss
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.spec.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Locks down permissions to the job level with least privledge we can get away with
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-release.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/pr-bot.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  .github/workflows/translate-strings.yml
Due: none

Updates actions to the most specific version released
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/pr-bot.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  .github/workflows/translate-strings.yml
Due: none

Redundant
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Merge conflict
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend-node-24.x, frontend

Enhancement: option to stop processing further mail rules
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/mail-rule.ts
  src-ui/src/app/services/rest/mail-rule.service.spec.ts
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0030_mailrule_stop_processing.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Oh right typing
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Rename migration
  src/paperless_mail/migrations/0002_mailrule_stop_processing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancement: option to stop processing further mail rules (#12053)
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/mail-rule.ts
  src-ui/src/app/services/rest/mail-rule.service.spec.ts
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0002_mailrule_stop_processing.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Enhancement: consolidate management lists into document attributes section (#12045)
  src-ui/e2e/dashboard/dashboard.spec.ts
  src-ui/e2e/permissions/global-permissions.spec.ts
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.scss
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/custom-fields/custom-fields.component.ts
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.html
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.scss
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/document-attributes.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/correspondent-list/correspondent-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/document-type-list/document-type-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.html
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.scss
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/management-list.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/storage-path-list/storage-path-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/document-attributes/management-list/tag-list/tag-list.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/guards/permissions.guard.spec.ts
  src-ui/src/app/guards/permissions.guard.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix migration conflict
  src/paperless_mail/migrations/0003_mailrule_stop_processing.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Renames the settings to a module for the next steps
  src/paperless/settings/__init__.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Moves to the new parser module
  src/paperless/settings/__init__.py
  src/paperless/settings/parsers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Adds the checks for depracated env vars
  src/paperless/checks.py
  src/paperless/settings/__init__.py
  src/paperless/settings/custom.py
  src/paperless/tests/test_checks.py
  src/paperless/tests/test_settings.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Uniformize element type for user dropdown
  src-ui/src/app/components/app-frame/app-frame.component.html
Due: frontend-node-24.x, frontend

Fix navbar icon button dropdown styling
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

Fix: correct user dropdown button icon styling (#12092)
  src-ui/src/app/components/app-frame/app-frame.component.scss
Due: frontend-node-24.x, frontend

type checking
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

regenerate migrations
  src/documents/migrations/0012_alter_workflowaction_type.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

more typing
  src/documents/signals/handlers.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

even more typing
  src/documents/workflows/actions.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Enhancment: Add "use formatted filename" option to single document downloads
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

typing
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix/GHSA-x395-6h48-wr8v
  docs/advanced_usage.md
  src/documents/serialisers.py
  src/documents/templating/filepath.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 2.20.7
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Split build vs deploy docs
  .github/workflows/ci.yml
Due: none

Add permissions
  .github/workflows/ci.yml
Due: none

Changelog v2.20.7 - GHA
  docs/changelog.md
Due: none

Update changelog for version 2.20.6
  docs/changelog.md
Due: none

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Path conditions:
  backend-python-3.10: any of: src/**
  backend-python-3.11: any of: src/**
  backend-python-3.12: any of: src/**
  frontend-node-24.x: any of: src-ui/**
  backend: any of: src/**
  frontend: any of: src-ui/**
