Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix: ensure horizontal scroll for long tag names in list, wrap tags without parent
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.scss
Due: frontend

Fix: ensure horizontal scroll for long tag names in list, wrap tags without parent (#11811)
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.scss
Due: frontend

switch default barcode scanner to ZXING
  docs/configuration.md
  src/documents/barcodes.py
  src/paperless/settings.py
Due: backend

Chore: reverse migration order
  src/documents/migrations/1075_workflowaction_order.py
  src/documents/migrations/1076_alter_paperlesstask_task_name.py
Due: backend

reformatted by ruff
  src/paperless/settings.py
Due: backend

Chore: reverse migration order (#11813)
  src/documents/migrations/1075_workflowaction_order.py
  src/documents/migrations/1076_alter_paperlesstask_task_name.py
Due: backend

Chore: reverse migration order (#11813)
  src/documents/migrations/1075_workflowaction_order.py
Due: backend

Chore: use consts in doc details
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Bump version to 2.20.5
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend, frontend

Changelog v2.20.5 - GHA
  docs/changelog.md
Due: none

Fix changelog
  docs/changelog.md
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Add PostgreSQL 18 StatefulSet and Service for Paperless
  k8s/base/kustomization.yaml
  k8s/base/postgres-service.yaml
  k8s/base/postgres-statefulset.yaml
Due: none

Add disk-pressure toleration to PostgreSQL StatefulSet
  k8s/base/postgres-statefulset.yaml
Due: none

Add Paperless Deployment and Service manifests
  k8s/base/configmap.yaml
  k8s/base/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/postgres-service.yaml
  k8s/base/pvc.yaml
  k8s/base/service.yaml
Due: none

Add Redis StatefulSet with persistent storage for Paperless
  k8s/base/kustomization.yaml
  k8s/base/redis-service.yaml
  k8s/base/redis-statefulset.yaml
Due: none

feat: Configure Redis StatefulSet with persistent storage for Paperless
  k8s/base/redis-deployment.yaml
  k8s/base/redis-service.yaml
  k8s/base/redis-statefulset.yaml
Due: none

Add Redis StatefulSet and Service for Paperless
  k8s/base/redis-service.yaml
  k8s/base/redis-statefulset.yaml
Due: none

Security: Remove hardcoded secrets from version control
  .gitignore
  k8s/base/README-SECRETS.md
  k8s/base/configmap.yaml
  k8s/base/kustomization.yaml
  k8s/base/redis-deployment.yaml
  k8s/base/redis-service.yaml
  k8s/base/secret.yaml.example
Due: none

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
