Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

.codecov.yml:

# https://docs.codecov.com/docs/codecovyml-reference#codecov
codecov:
  require_ci_to_pass: true
# https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/flags#step-2-flag-management-in-yaml
# https://docs.codecov.com/docs/carryforward-flags
flags:
  # Backend Python versions
  backend-python-3.10:
    paths:
      - src/**
    carryforward: true
  backend-python-3.11:
    paths:
      - src/**
    carryforward: true
  backend-python-3.12:
    paths:
      - src/**
    carryforward: true
  # Frontend (shards merge into single flag)
  frontend-node-24.x:
    paths:
      - src-ui/**
    carryforward: true
comment:
  layout: "header, diff, components, flags, files"
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
        removed_code_behavior: adjust_base
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        threshold: 1%
        removed_code_behavior: adjust_base
    patch:
      backend:
        flags:
          - backend-python-3.10
          - backend-python-3.11
          - backend-python-3.12
        paths:
          - src/**
        target: 100%
        threshold: 25%
      frontend:
        flags:
          - frontend-node-24.x
        paths:
          - src-ui/**
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "1MB"
  status: true

Pass the all / filters from document service
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend-node-24.x, frontend

Dialog too
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Wire up selection with hasSelection, allSelected since we dont get list of IDs anymore
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
Due: frontend-node-24.x, frontend

Update some calls with the DocumentSelectionQuery
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Due: frontend-node-24.x, frontend

We have to now disable operations that always require an explicit set of IDs
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
Due: frontend-node-24.x, frontend

Fix this
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/custom-fields-bulk-edit-dialog/custom-fields-bulk-edit-dialog.component.ts
Due: frontend-node-24.x, frontend

Change: sort custom fields alphabetically by default
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix these tests
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
Due: frontend-node-24.x, frontend

Mocks the celery and Redis pings so we don't wait for their timeout each time
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix GHSA-59xh-5vwx-4c4q
  src/documents/tests/test_api_permissions.py
  src/paperless/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Bump version to 2.20.11
  pyproject.toml
  src-ui/package.json
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
  uv.lock
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Changelog v2.20.11 - GHA
  docs/changelog.md
Due: none

Update changelog for version 2.20.11
  docs/changelog.md
Due: none

Format changelog
  docs/changelog.md
Due: none

Auto translate strings
  src-ui/messages.xlf
Due: frontend-node-24.x, frontend

Change: sort custom fields alphabetically by default (#12358)
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: merge() consume task never dispatched when delete_originals=False
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix: correct merge bulk edit indentation
  src/documents/bulk_edit.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fixhancement: only show basic auth for appropriate requests
  src/documents/tests/test_api_status.py
  src/paperless/auth.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fallback to the token auth, not none
  src/documents/tests/test_api_status.py
  src/paperless/auth.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Chore: Disables the system checks for management commands in tests and when unnecessary (#12332)
  src/documents/management/commands/document_importer.py
  src/documents/tests/management/test_management_sanity_checker.py
  src/documents/tests/test_api_schema.py
  src/documents/tests/test_management.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/test_management_importer.py
  src/documents/tests/test_management_retagger.py
  src/documents/tests/test_management_superuser.py
  src/documents/tests/test_management_thumbnails.py
  src/paperless_mail/tests/test_mail.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Don't try to usermod/groupmod when non-root + don't suggest setting USERMAP when already non-root
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-modify-user/run
  docs/setup.md
Due: none

Chore: Mocks the celery and Redis pings so we don't wait for their timeout each time (#12354)
  src/documents/tests/test_api_status.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Add an auth expiry interceptor to auto-reload
  src-ui/src/app/interceptors/auth-expiry.interceptor.spec.ts
  src-ui/src/app/interceptors/auth-expiry.interceptor.ts
  src-ui/src/main.ts
Due: frontend-node-24.x, frontend

Avoid repeated reload attempts
  src-ui/src/app/interceptors/auth-expiry.interceptor.spec.ts
  src-ui/src/app/interceptors/auth-expiry.interceptor.ts
Due: frontend-node-24.x, frontend

Fixhancement: only offer basic auth for appropriate requests (#12362)
  src-ui/src/app/interceptors/auth-expiry.interceptor.spec.ts
  src-ui/src/app/interceptors/auth-expiry.interceptor.ts
  src-ui/src/main.ts
  src/documents/tests/test_api_status.py
  src/paperless/auth.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Fix: don't try to usermod/groupmod when non-root + update docs (#12365)
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-modify-user/run
  docs/setup.md
Due: none

Security: validate outbound llm URLs and block internal endpoints
  docs/configuration.md
  src/documents/tests/test_api_app_config.py
  src/documents/workflows/webhooks.py
  src/paperless/config.py
  src/paperless/network.py
  src/paperless/serialisers.py
  src/paperless/settings/__init__.py
  src/paperless_ai/client.py
  src/paperless_ai/embedding.py
  src/paperless_ai/tests/test_client.py
  src/paperless_ai/tests/test_embedding.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Fix one test with explicit override
  src/documents/tests/test_consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Tweak: use cancel instead of discard for app config button
  src-ui/src/app/components/admin/config/config.component.html
Due: frontend-node-24.x, frontend

Fix: fix file button hover color in dark mode
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

Fix: fix file button hover color in dark mode (#12367)
  src-ui/src/theme.scss
Due: frontend-node-24.x, frontend

Fix tests
  src/documents/tests/utils.py
  src/paperless/tests/test_checks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Update consumer.py
  src/documents/consumer.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Try this
  src/documents/consumer.py
  src/documents/tasks.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, backend

Retry action, basic frontend, cleanup handler
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_tasks.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend

Basic option selection
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.scss
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
  src/documents/serialisers.py
  src/documents/views.py
Due: backend-python-3.10, backend-python-3.11, backend-python-3.12, frontend-node-24.x, backend, frontend
