Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix frontend test coverage
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Due: frontend

Add update_document flag to bulkEdit remove_password
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Basic remove password bulk edit action
  docs/api.md
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/views.py
Due: backend, frontend

Feature: password removal action (#11656)
  docs/api.md
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/password-removal-confirm-dialog/password-removal-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/main.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Due: backend, frontend

Auto translate strings
  src-ui/messages.xlf
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend, frontend

Feature: Remote OCR (Azure AI) (#10320)
  docs/configuration.md
  docs/index.md
  docs/usage.md
  pyproject.toml
  src/paperless/settings.py
  src/paperless_remote/__init__.py
  src/paperless_remote/apps.py
  src/paperless_remote/checks.py
  src/paperless_remote/parsers.py
  src/paperless_remote/signals.py
  src/paperless_remote/tests/__init__.py
  src/paperless_remote/tests/samples/simple-digital.pdf
  src/paperless_remote/tests/test_checks.py
  src/paperless_remote/tests/test_parser.py
  uv.lock
Due: backend

Auto translate strings
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Chore: remove un-needed template import
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Auto translate strings
  src-ui/messages.xlf
Due: frontend

Oh free space was happening in the wrong spot
  .github/workflows/ci-docker.yml
Due: none

Chore: carryforward coverage with new split ci
  .codecov.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: none

Chore: carryforward coverage with new split ci (#11739)
  .codecov.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Due: none

Change view to API view
  src/documents/views.py
Due: backend

Tweak content length limit handling
  src/paperless_ai/chat.py
Due: backend

Nope, not supported. hmm
  .github/workflows/ci-docker.yml
Due: none

Inspect the cache for fun
  .github/workflows/ci-docker.yml
Due: none

Adjusts how our caching works, now that we don't share things. Try to remove the frontend rebuild that isn't needed
  Dockerfile
Due: none

Remove outdated test
  src/documents/tests/test_views.py
Due: backend

Chore: Cleanup old caching strategies (#11726)
  Dockerfile
Due: none

Add serializer to satisfy schema check
  src/documents/views.py
Due: backend

Update deps
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Due: frontend

Update test builder options in angular.json
  src-ui/angular.json
Due: frontend

Fix host listener args count
  src-ui/src/app/components/file-drop/file-drop.component.ts
Due: frontend

Update Jest and TypeScript config for ESM support
  src-ui/jest.config.js
  src-ui/tsconfig.spec.json
Due: frontend

Fix change detection :-|
  src-ui/src/main.ts
Due: frontend

Chore: upgrade to Angular v21 (#11746)
  src-ui/angular.json
  src-ui/jest.config.js
  src-ui/package.json
  src-ui/pnpm-lock.yaml
  src-ui/src/app/components/file-drop/file-drop.component.ts
  src-ui/src/main.ts
  src-ui/tsconfig.spec.json
Due: frontend

Use node v24
  .devcontainer/Dockerfile
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/translate-strings.yml
  Dockerfile
  docs/development.md
Due: none

Chore: upgrade to node v24 (#11747)
  .devcontainer/Dockerfile
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-release.yml
  .github/workflows/translate-strings.yml
  Dockerfile
  docs/development.md
Due: none

Path conditions:
  backend: any of: src/**
  frontend: any of: src-ui/**
