Repository paperless-ngx/paperless-ngx: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true
  # https://docs.codecov.com/docs/components
component_management:
  individual_components:
    - component_id: backend
      paths:
        - src/**
    - component_id: frontend
      paths:
        - src-ui/**
# https://docs.codecov.com/docs/pull-request-comments
# codecov will only comment if coverage changes
comment:
  layout: "header, diff, components, flags, files"
  require_changes: true
  # https://docs.codecov.com/docs/javascript-bundle-analysis
  require_bundle_changes: true
  bundle_change_threshold: "50Kb"
coverage:
  status:
    project:
      default:
        # https://docs.codecov.com/docs/commit-status#threshold
        threshold: 1%
    patch:
      default:
        # For the changed lines only, target 100% covered, but
        # allow as low as 75%
        target: 100%
        threshold: 25%
# https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  # Fail if the bundle size increases by more than 1MB
  warning_threshold: "1MB"
  status: true

Fixes the missing extras
  uv.lock
Due: none

Try unintelligent patch
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Chore: support allauth disable unknown account emails
  docs/configuration.md
  src/paperless/settings.py
Due: backend

Implement deletion of embeddings from vector store for deleted documents
  src/documents/embeddings.py
  src/documents/migrations/1066_document_embedding_index_ids.py
  src/documents/models.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
Due: backend

Apply ruff fixes and formatting
  src/documents/apps.py
  src/documents/embeddings.py
  src/documents/migrations/1066_document_embedding_index_ids.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/paperless/settings.py
Due: backend

WIP: First implementation of AI chat in Paperless backend
  src-ui/src/app/components/dashboard/widgets/ai-chat-widget/ai-chat-widget.component.ts
  src/documents/ai_chat.py
  src/paperless/urls.py
Due: backend, frontend

Switch to using uvloop and upgrade granian for some ASGI fixes (#9494)
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  pyproject.toml
  uv.lock
Due: none

rename project in setting
  src/edoc/settings.py
Due: backend

Crude send only changed fields
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Due: frontend

Updates manage.py so it is aware of the container environment provided by s6-overlay
  Dockerfile
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/setup.md
  install-paperless-ngx.sh
Due: none

Adjust the instructions
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/setup.md
Due: none

Special case for creating a super user to make it a little cleaner
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docker/install_management_commands.sh
  docker/rootfs/usr/local/bin/createsuperuser
  docs/setup.md
  install-paperless-ngx.sh
Due: none

Portainer can also be simple now
  docker/compose/docker-compose.portainer.yml
Due: none

Fix: Make management commands aware of the container environment (#9499)
  Dockerfile
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docker/install_management_commands.sh
  docker/rootfs/usr/local/bin/createsuperuser
  docs/setup.md
Due: none

Fixes the missing extras
  pyproject.toml
  uv.lock
Due: none

rename project update date migration
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/services/permissions.service.ts
  src/documents/migrations/1000_update_edoc_all.py
  src/documents/migrations/1001_auto_20201109_1636.py
  src/documents/migrations/1022_edoctask.py
  src/documents/migrations/1023_add_comments.py
  src/documents/migrations/1026_transition_to_celery.py
  src/documents/migrations/1027_remove_edoctask_attempted_task_and_more.py
  src/documents/migrations/1028_remove_edoctask_task_args_and_more.py
  src/documents/migrations/1029_alter_document_archive_serial_number.py
  src/documents/migrations/1030_alter_edoctask_task_file_name.py
  src/documents/migrations/1031_remove_savedview_user_correspondent_owner_and_more.py
  src/documents/migrations/1121_edoctask_api_call_count.py
  src/documents/migrations/1122_document_file_id_documenttype_custom_fields_and_more.py
Due: backend, frontend

rename project in dockerfile
  Dockerfile
Due: none

rename project in fe
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/services/approvals.service.ts
Due: frontend

Documentation: fix wrong wording
  docs/configuration.md
Due: none

Fix: fix cf dropdown placement on mobile
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.ts
Due: frontend

Documentation: correct static url description (#9506)
  docs/configuration.md
Due: none

Fix: fix cf dropdown placement on mobile (#9508)
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.ts
Due: frontend

Mark as pristine on reset
  src-ui/src/app/components/document-detail/document-detail.component.ts
Due: frontend

Fix: fix unshared items display
  src-ui/messages.xlf
  src-ui/src/app/pipes/object-name.pipe.spec.ts
  src-ui/src/app/pipes/object-name.pipe.ts
Due: frontend

rename css paperless to edoc
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/font-language/font-language.component.html
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.html
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.html
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/tags/tags.component.html
Due: frontend

Refactor a bit, include doc count
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/documents/templates/account/signup.html
  src/paperless/adapter.py
Due: backend

Use global_objects
  src/documents/context_processors.py
  src/paperless/adapter.py
Due: backend

Fix
  docs/administration.md
  src/locale/en_US/LC_MESSAGES/django.po
Due: backend

Enhancement: allow signup on first setup
  docs/setup.md
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/documents/templates/account/signup.html
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/adapter.py
  src/paperless/tests/test_adapter.py
Due: backend

More docs
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/development.md
Due: none

Update administration.md
  docs/administration.md
Due: none

Update test_adapter.py
  src/paperless/tests/test_adapter.py
Due: backend

Enhancement: allow webUI first account signup (#9500)
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/administration.md
  docs/development.md
  docs/setup.md
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/documents/templates/account/signup.html
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/adapter.py
  src/paperless/tests/test_adapter.py
Due: backend
